[2018-03-09 12:39] #415 closed

[2018-03-09 12:46] giuseppeg commented on #407
@Echelpoel I tried to use that css but I couldn't get the duplicated `className`. Can you provide a test case?

[2018-03-09 12:49] giuseppeg commented on #406
are you importing the `hashStyle`s ?

[2018-03-09 12:50] giuseppeg commented on #253
@smeijer can you provide a test case? a super simple Next.js app maybe?

[2018-03-09 12:53] giuseppeg commented on #253
@amio can you try without styled-jsx? Maybe it is an issue with Next.js

[2018-03-09 12:55] giuseppeg commented on #243
the option to disable vendor prefixing was introduced in version 2.1.0 https://github.com/zeit/styled-jsx/releases/tag/v2.1.0

[2018-03-09 12:55] #243 closed

[2018-03-09 12:55] giuseppeg commented on #181
closing for inactivity

[2018-03-09 12:55] #181 closed

[2018-03-09 12:56] giuseppeg commented on #170
closing for inactivity

[2018-03-09 12:56] #170 closed

[2018-03-09 12:56] giuseppeg commented on #160
closing for inactivity

[2018-03-09 12:56] #160 closed

[2018-03-09 12:57] giuseppeg commented on #159
@jimthedev have you tried this? @foisonocean can you provide more details?

[2018-03-09 12:59] giuseppeg commented on #90
@R1ZZU can you help these folks?

[2018-03-09 13:07] jimthedev commented on #159
I haven't tried it. Was curious.

[2018-03-09 13:13] jimthedev commented on #159
I know next.js 5 has pretty much doubled down on webpack for front and back end bundling so I'm sure rollup isn't their top priority.

[2018-03-09 13:44] smeijer commented on #253
@giuseppeg, I'm experiencing the same bug in a Meteor project, and also in the Storybook stories. I'm not using Next.js at all.

[2018-03-10 01:50] amio commented on #253
@giuseppeg I found this from my client's environment, but for now I don't have a windows machine neither 😟

[2018-03-12 01:14] Vadorequest commented on #385
Where does `resolveScopedStyles` come from?

[2018-03-12 01:17] Vadorequest commented on #379
@giuseppeg I disagree, when you find online examples using `resolveScopedStyles` but have no idea where it came and relentlessly try to import it like `import {resolveScopedStyles} from 'styled-jsx'`, but because there is no export at styled-jsx you end up thinking it's not correctly installed  and reinstall all node packages, to finally figure out it's non-provided.

[2018-03-12 01:23] Vadorequest opened #419 "Styling root container doesn't work, generated class doesn't get injected in root, only in children"
How do you style a container? I can style everything inside but not the `.block` class.

[code]
Am I missing something obvious or is it not possible?

[2018-03-12 02:58] Vadorequest opened #420 "!important breaks CSS when used with jsx-scss plugin"
I followed https://github.com/zeit/next.js/tree/canary/examples/with-styled-jsx-scss example.

I just noticed that when using `!important`, it breaks the rendered css.

[code]

![image](https://user-images.githubusercontent.com/3807458/37263692-89531bf4-25a9-11e8-9985-07b31cb37316.png)

I also just noticed I don't need to use !important (due to the way styled-jsx works), but if that's the expected

[2018-03-12 16:09] Vadorequest commented on #419
I read https://www.npmjs.com/package/styled-jsx#targeting-the-root but it just won't work for me. Is that a regression?

The generated class doesn't get applied to the container, that's why the styling isn't applied.

[2018-03-12 16:11] Vadorequest commented on #419
Here is my config:

`.babelrc`
[code]

`_document.js`
[code]

`next.config.js`
[code]

[2018-03-12 17:40] giuseppeg commented on #419
Please read https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

[2018-03-12 17:40] #419 closed

[2018-03-12 17:43] giuseppeg commented on #420
This is an issue with styled-jsx-plugin-sass not styled-jsx itself. I just published a new version of styled-jsx-plugin-sass with a fix

[2018-03-12 17:43] #420 closed

[2018-03-12 18:38] euharrison commented on #385
@Vadorequest with the new Next 5 I suggest you to use the plugin next-sass that resolve this situation easier: https://github.com/zeit/next-plugins/tree/master/packages/next-sass

[2018-03-12 18:55] Vadorequest commented on #420
Thanks @giuseppeg I'll try it ASAP!

[2018-03-12 18:56] Vadorequest commented on #419
Well, it's supposed to work out of the box, isn't? That's what the doc shows anyway @giuseppeg

[2018-03-12 18:58] Vadorequest commented on #385
Well, I have many variables from JS I need to use in my CSS, this doesn't seem to be a good fit for me. I'm using https://github.com/giuseppeg/styled-jsx-plugin-sass

[2018-03-12 20:59] giuseppeg commented on #419
You can't style components simply because we (and you) don't know which API they expose. Not every component accepts a `className` props for example. So if you want to target a component with the current version of styled-jsx the only way is to do what is written in the FAQ. In the future we will make the syntax a bit more user friendly.

[2018-03-12 21:01] giuseppeg commented on #379
In v3 we are adding the following syntax:

[code]

to do the same thing

[2018-03-12 23:03] Vadorequest commented on #419
I understand what you're saying, but the doc at https://github.com/zeit/styled-jsx#targeting-the-root make believe it's possible, which isn't the case from what I've experienced.

[2018-03-13 09:50] a-ignatov-parc commented on #419
@giuseppeg I think we should add an explicit note about DOM elements because I agree with @Vadorequest that just saying "element" can be confusing. `<Container />` is an element too.

[2018-03-14 10:17] RusinovAnton commented on #398
This is still happens to me also.

My build script:
[code]
.babelrc:
[code]

Problem is gone when I remove  "transform-react-jsx" or reorder plugins like so:
[code]

[2018-03-14 10:34] giuseppeg commented on #398
yep `transform-react-jsx` rewrites jsx and then styled-jsx cannot do its transformations. The solution is to reorder as you said or remove it (or use the undocumented and unstable `passPerPreset: false` babel option)

[2018-03-15 09:53] RusinovAnton commented on #298
My use case is to have dynamic styles with properties from theme that is being injected via HOC.
I feel like there is an error in styled-jsx babel plugin. Im testing my components with `@storybook/cli@3.3.14` that uses create-react-app internally:

1. If I write my styles helper like this:
[code]
I get error during build:

[code]

---

2. If I slightly change the code:
[code]
I get a runtime error

[2018-03-15 10:17] giuseppeg commented on #298
`css` doesn't support dynamic styles

[2018-03-15 11:13] RusinovAnton commented on #298
@giuseppeg

I forgot to mention that following snippet is work as expected:
[code]

[2018-03-16 15:09] cristianzamar commented on #205
@fredsh I'm testing the same styled-jsx plugin and I can't get the imported .scss files to hot-reload or even reload with a page refresh. Have you achieve that??

[2018-03-21 03:02] andy-viv commented on #354
@jthegedus I am having the same issue. Did you ever figure out the solution?

[2018-03-21 08:51] giuseppeg commented on #354
if you guys put together a minimal test case I can take a look

[2018-03-21 10:12] thealjey opened #423 "[feature] Content Security Policy (CSP)"
It is possible to specify a `nonce` prop when rendering `<NextScript />`, but there's currently no way to do the same for `styled-jsx` inline styles, forcing me to resort to using `'unsafe-inline'` for styles.

I would like to be able to pass any number of props supported by `<style />` to `'styled-jsx/server'` and have them rendered in the DOM.

I can make a pull request (although, that would req

[2018-03-21 13:06] jthegedus commented on #354
The minimal repo I linked is now out of date with next.js so I'm not sure it's relevant anymore.

https://github.com/jthegedus/nextjs-styled-jsx-external-css-with-jest/tree/master

---

I had a quick go at updating it to use Next.js 5.canary & next-sass plugin

https://github.com/jthegedus/nextjs-styled-jsx-external-css-with-jest/tree/nextjs5

but I started getting the insertRule error on the dev

[2018-03-22 06:17] blueshw opened #424 "the problem with the priority of CSS selector"
#### What is the current behavior?
I'm using `styled-jsx` with `nextjs`.
but, I think the priority of CSS selector is a something wrong. it's expected that color of `click` text is blue. because the priority of class is higher than tags.
https://gist.github.com/mjj2000/5873872
[code]
#### What is the expected behavior?
but, `click` text rendered color red.
`div > div > span` selector must not comp

[2018-03-22 08:52] arsen commented on #147
Any progress on this? :)

[2018-03-22 12:44] giuseppeg commented on #424
Good point. Do you have ideas on how we could fix this?

[2018-03-22 12:53] a-ignatov-parc commented on #424
Maybe we should prefix only first token in selectors. This will round specificity for elements and pseudo-elements with other 🤔

- `div > div > span` → `0,0,0,3`
- `.clickTest` → `0,0,1,0`
- `div.jsx-XXX > div > span` → `0,0,1,3`
- `.clickTest.jsx-XXX` → `0,0,2,0`

[2018-03-22 13:26] a-ignatov-parc commented on #424
Yeah, but this is the price for using nested tag styles.

P.S. Styling elements with tags is usually a bad idea.

[2018-03-22 13:29] giuseppeg commented on #424
If we had to break something then I'd rather rewrite selectors to have all the same specificity e.g.:

[code]
And state that in styled-jsx types have all the same specificity.

[2018-03-22 16:26] giuseppeg commented on #423
Definitely open to add this if you prepare a PR.

[2018-03-22 22:40] andy-viv commented on #354
@jthegedus I cloned your repo and see what you mean about running into the error even on the dev server. After some fiddling with that, I tried to start a fresh project as a minimal test case but am having difficulties (I'm also completely new to react/next/babel/jest which doesn't help—I am seeing the error on a larger project I just joined).

I'll keep trying, but while I'm at it: What does this

[2018-03-23 02:16] blueshw commented on #424
just add a scoped class. first or last one.
but, I'm not sure this is right solution.
what do you think?
[code]
When scoped instead:
[code]

[2018-03-23 06:59] giuseppeg commented on #424
@blueshw actually that is a great idea. The only adjustment to it would be that we only scope the last selector (not the first):

[code]

I need to verify it though to make sure that this couldn't lead to conflicts or unwanted results.

[2018-03-23 07:32] giuseppeg commented on #424
Opened an issue on Stylis https://github.com/thysultan/stylis.js/issues/101

[2018-03-24 10:11] giuseppeg commented on #424
for the record we realized that we also need an upper boundary https://github.com/thysultan/stylis.js/issues/101#issuecomment-375853514

[2018-03-24 16:38] MrToph opened #425 "Using styled jsx tag in a React.Fragment breaks zeit/next's HMR"
## Expected Behavior
Editing `stlye jsx` styles resting in `React.Fragment` should work with `next`'s HMR, espcially as `next` ships with `styled-jsx` per default.

## Current Behavior
When I put a `style jsx` tag into a `React.Fragment` and change a `style jsx` css property, the page reloads with HMR, but then I get the error:
[code]

[code]

When I replace `React.Fragment` with `div` it works fi

[2018-03-24 16:41] MrToph commented on #425
Is there currently a workaround for this? I don't want to create a wrapper `div` just so I can style my component.

[2018-03-25 00:30] jthegedus commented on #354
@andy-viv It depends on which branch you try. I expect that the v5 branch is throwing the error because I am indeed missing the `styled-jsx-plugin-sass` stuff, however the master branch with the Nextv4 example also throws this error in Jest

[2018-03-26 08:47] Echelpoel commented on #407
Been trying to reproduce this without success so it must be something specific to our build. We're using a monorepo with yarn workspaces and I got a gut feeling it has to do something with that.

[2018-03-27 11:02] lgordey opened #426 "Combining styles into one scope"
When I run `flushToHTML` I've got multiple style tags like this:
[code]
But for [AMP](https://www.ampproject.org/docs/fundamentals/spec#stylesheets) version I need to reduce multiple styles to one special and place all styles inside.
I can do it this way:
[code]

But may be there is some better solution from box?

[2018-03-28 08:12] giuseppeg commented on #426
you can import `flush` from 'styled-jsx/style' :)

[2018-03-28 08:12] #426 closed

[2018-03-30 00:31] andy-viv commented on #354
While debugging I found that `props` was `{ css :undefined, styleId: undefined }` at [this point](https://github.com/zeit/styled-jsx/blob/8a7292da531d533a845aef53f1db6a08f05aae71/src/stylesheet-registry.js#L52) in the code. Perhaps this would help @giuseppeg understand what's happening... still trying to work something out.

[2018-03-30 04:31] jthegedus commented on #354
@andy-viv I haven't had much time to test this out further, so thanks for taking a look. At this stage I'm thinking of waiting to use `next`5.1 with `styled-jsx` v3 (when it launches) and go from there. If you do find a solution for `next`v5 with `styled-jsx` v2 and the `sass` plugin, please do continue to share you results here.

[2018-03-31 19:54] Tekkromancer opened #428 "css is undefined"
I'm attempting to implement the [External CSS and styles outside of the component](https://github.com/zeit/styled-jsx#external-css-and-styles-outside-of-the-component)  feature).
[code]
This throws the error "ReferenceError: css is not defined".

Naturally, `css.resolve` won't work because of this issue.

Am I missing something?

[2018-04-01 13:21] giuseppeg commented on #428
Hi unfortunately that feature hasn't been released yet. The branch is `next` and a new release will come later this month with those features.

From the docs:

[2018-04-01 13:21] #428 closed

[2018-04-01 15:33] shlomokraus opened #429 "StyleSheetRegistry is added to bundle when using babel"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
StyleSheetRegistry is bundled along with the code the exported file when bundling a component with webpack and babel plugin: styled-jsx/babel

#### What is the expected behavior?
When bundling a component library with styled-jsx as peerDeps, shouldn't be added. It is causes flash on unstyled content

[2018-04-01 15:38] shlomokraus commented on #429
#225

[2018-04-02 14:33] giuseppeg commented on #429
can you share your setup to compile the component?

[2018-04-02 14:35] giuseppeg commented on #429
could you use https://webpack.js.org/configuration/externals/ ?

[2018-04-02 22:44] andy-viv commented on #354
@jthegedus @giuseppeg Some updates:

In our `package.json`, our jest config dictates that imported `.scss` files should instead import a [`Proxy` object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) from the package [`identity-obj-property`](https://github.com/keyanzhang/identity-obj-proxy):

[code]

For `<style jsx>{styles}</style>` tags (ones without th

[2018-04-03 06:02] giuseppeg commented on #345
fixed in #422

[2018-04-03 06:02] #345 closed

[2018-04-03 06:15] giuseppeg commented on #354
@andy-viv do you need to test css at all? Can't you just remove styled-jsx from your `.babelrc` for tests?

That said, do you get the error when you use a styled-jsx plugin (like the sass one) or even without any plugins? Are you using `React.Fragment` by any chance?

[2018-04-03 07:16] giuseppeg commented on #425
This might not be an issue with styled-jsx but with HMR, maybe due to how re-rendering happens with Fragments and the fact that the elements (div and style tags) are siblings.

In reality it seems that the issue is that with HMR the `shouldComponentUpdate` for the `style` tag is never called, I don't know why.

I tried to change the `background-color` and I got the error, but the if you try to cha

[2018-04-03 07:17] giuseppeg commented on #425
@timneutkens probably you have more experience with HMR ^

[2018-04-03 11:19] shlomokraus commented on #429
I tried the externals but it didn't work, the problem is that externals need to be setup like this:

`externals: {
    "styled-jsx/style": { commonjs: "styled-jsx/style", commonjs2: "styled-jsx/style" }
  },`

That is: "styled-jsx/style" and not just "styled-jsx".

Also, styled-jsx must be ommited out from the project's node_modules so the one from parent's node_modules will be picked up by the re

[2018-04-03 11:19] #429 closed

[2018-04-03 12:53] RusinovAnton commented on #186
Is it still possible to have syntax highlight without adding injection comments? Not everyone on our team using Idea editor. Isn't is possible to have plugin for this?

[2018-04-04 17:27] andy-viv commented on #354
@giuseppeg removing it from my `.babelrc` for the `test` environment does work for these unit tests, thanks for the tip. We'll obviously want css for our end-to-end tests so I'll have to make sure that `BABEL_ENV` is not `test` when building for the e2e.

It also happens without any plugins. I tested this by removing the `styled-jsx-plugin-sass` from my `.babelrc`, removing the `node_modules/style

[2018-04-04 22:04] andy-viv commented on #354
@giuseppeg I think the issue may have to do with [this ternary in babel.js](https://github.com/zeit/styled-jsx/blob/next/src/babel.js#L223-L224):

[code]

However, for some reason (that I hope you know of), no amount of modification to `node_modules/styled-jsx/dist/babel.js` actually changes the behavior of my test (even deleting the file outright!!).

[2018-04-05 12:13] Tomekmularczyk commented on #159
Hi,

I actually posted a similar issue [here](https://github.com/rollup/rollup-plugin-babel/issues/202).
I want to create a components library with styled-jsx (as an external dependency) and rollup. But I end up bundling a lot of code.

[here is the minimal repo demonstrating the problem.](https://github.com/Tomekmularczyk/react-package-rollup/tree/with-styled-jsx)

[2018-04-06 14:58] frankPairs opened #430 "Transpiled error only when I execute jest--coverage"
#### Do you want to request a *feature* or report a *bug*?
Bug
#### What is the current behavior?
When I execute jest --coverage, tests launch the next error only in files where I import styled-jsx/css:

"styled-jsx/css: if you are getting this error it means that your `css` tagged template literals were not transpiled."

#### If the current behavior is a bug, please provide the steps to reproduce

[2018-04-06 17:39] bensaufley commented on #90
Following up on the first issue, `exports.default` vs `export = css` at DefinitelyTyped, I'm realizing that I had conflated the output of my `styles.ts` and the output of `styled-jsx/css`, which … doesn't actually exist as anything more than a hook that says "transpile this". So I think my original PR, to satisfy TypeScript's type checking, is correct.

[2018-04-06 23:49] davidvenin commented on #352
I've got the exact same problem. Any clue ?

[2018-04-07 11:50] giuseppeg commented on #159
can you put together a minimal repo that includes styled-jsx? fwiw styled-jsx should be a peerDependency

[2018-04-07 12:00] giuseppeg commented on #354
@jthegedus master seems to be working, in the `nextjs5` branch you are not using styled-jsx-css-loader anymore

[2018-04-07 12:00] giuseppeg commented on #354
@andy-viv please put together a minimal test case that I can clone and play with :)

[2018-04-07 13:41] Tomekmularczyk commented on #159
@giuseppeg in my previous answer I’ve included a link to the repo.

https://github.com/Tomekmularczyk/react-package-rollup/tree/with-styled-jsx

[2018-04-07 14:48] giuseppeg commented on #159
@Tomekmularczyk sorry I was looking at the wrong link :) Thank you

[2018-04-07 15:02] giuseppeg commented on #159
@Tomekmularczyk you need to declare all the `styled-jsx/*` imports as external:

[code]

[2018-04-07 15:02] #159 closed

[2018-04-07 15:04] giuseppeg commented on #159
you might also want to set the `NODE_ENV` to `production`

`package.json`
[code]

[2018-04-08 08:07] giuseppeg commented on #147
How would you folks feel about adding a special `styled-jsx` props that will add the scoped classname to components?

[code]

[2018-04-08 08:52] giuseppeg opened #431 "Better plugins authoring experience when having placeholders"
When some css has expressions e.g. dynamic props or constants, we replace them with placeholders before passing the string to the plugins and finally stylis (for scoping), this is because css parsers can't parse template literals :)

Placeholders have the following format:

[code]

Where `N` is the placeholder index in the template literal.

Now the problem with this is that plugins authors need t

[2018-04-09 08:49] a-ignatov-parc commented on #147
Maybe for base scenarios, we should prefix `className` (if exists) without any additional props? 🤔

I think most of the developers are expecting such behavior.

[2018-04-09 09:53] a-ignatov-parc commented on #147
I thought that we can prefix `className` prop for all react elements (DOM + Components) if it's specified as a string (and maybe some other cases). For advanced scenarios, we can use `css.resolve`.

Also, this behavior can be changed in babel's plugin options. By default, I'd suggest to leave it disabled.

What do you think @giuseppeg?

[2018-04-09 10:12] Tomekmularczyk commented on #159
@giuseppeg Thank you! <3

[2018-04-09 10:30] Tomekmularczyk commented on #159
Oh, so depending if a client is using development/production environment I should return proper file. Thanks again!

[2018-04-09 10:33] a-ignatov-parc commented on #147
[code]

Transforms to

[code]

---

[code]

Transforms to

[code]
---

But

[code]

Should transform to

[code]

[2018-04-09 10:34] a-ignatov-parc commented on #147
I think if `className` prop is static and is a string we can prefix it.

[2018-04-09 16:28] giuseppeg commented on #147
I think that it makes sense to automatically scope (add the className) in the case reported by the OP. In any other case we should scope only when the user adds a prop like `styled-jsx` otherwise people can use `css.resolve` i.e. prefer explicitness over magic

[2018-04-11 04:56] jaydenseric commented on #425
Same issue, but the error I see is:

[code]

[2018-04-11 19:07] bensaufley commented on #430
Are you using babel in your Jest workflow? If not, that would be your issue. Babel is required to transpile `styled-jsx/css` and there's no non-transpiled functionality.

[2018-04-13 05:10] jaydenseric opened #432 "Intermittently corrupted CSS keyframes when using comma"
CSS keyframes are intermittently corrupted when using a comma to reuse frames.

#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

If you reuse an animation frame in keyframes using a comma:

[code]

Then in Chrome on SSR the animation displays fine. Client-side navigate to a page that has the same animation and it still displays ok. Navigate to a

[2018-04-13 06:30] jaydenseric commented on #432
@thysultan do you think this could relate to stylis?

[2018-04-13 13:29] giuseppeg commented on #425
@jaydenseric usually that means that you component was not transpiled at all

[2018-04-13 13:36] giuseppeg commented on #432
@jaydenseric maybe your editor or something in your setup (server?) is adding those. Can you try to remove all the indentation from your code and any space between `,` and `%50`?

[2018-04-13 13:57] jaydenseric commented on #432
@giuseppeg in experimenting, this works:

[code]

And this doesn't:

[code]

Which is unfortunate, since that's how Prettier formats CSS.

[2018-04-13 13:59] thysultan commented on #432
@jaydenseric Sounds, related. Can you open an issue upstream.

[2018-04-16 01:39] jaydenseric opened #433 "Comment before corrupts keyframes"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

Adding a comment before keyframes corrupts the keyframes. Discovered when searching for a workaround to https://github.com/zeit/styled-jsx/issues/432.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app,

[2018-04-16 19:57] giuseppeg commented on #433
@jaydenseric are you using any styled-jsx plugin?

[2018-04-17 01:31] jaydenseric commented on #433
@giuseppeg nope.

[2018-04-19 20:39] frankPairs commented on #430
oh ok! yeah, I'm not using babel to run tests. make sense, then probably that is the error, I'll test it, thx so much!

[2018-04-20 20:20] bensaufley opened #434 "Use with @babel/register and ts-node/register in non-webpack environment"
#### Do you want to request a *feature* or report a *bug*?

🐞Bug

#### What is the current behavior?

**tl;dr: I can't get `styled-jsx` to work with Mocha and TypeScript.**

Some of that I've documented over in #90, and I've had a PR (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24771) merged on DefinitelyTyped.

I've got a private repo for a work project that is currently using `next@5

[2018-04-23 10:00] znarf commented on #407
Easy to reproduce in the end, just add `styled-jsx/babel` in the plugins section of your `.babelrc`:

[code]

The problem even happens with `styled-jsx/babel` not loading any plugins:

[code]

[2018-04-23 12:27] nfantone commented on #308
@giuseppeg Still experiencing this several month later. Using:

[code]

Gets me:

[code]

Using Webpack `4.6.0` + Babel `7.0.0-beta.46`.

[2018-04-23 12:35] nfantone commented on #308
@giuseppeg Ok, found out that this feature is still to be released. My bad.

Still, it's rather confusing to see "docs for v3" instructing you to [install module](https://github.com/zeit/styled-jsx#getting-started) using `npm install --save styled-jsx`, which *won't get you the module you're documenting*.

[2018-04-23 19:57] atombender opened #435 ""*" selector is rewritten to invalid CSS"
#### Do you want to request a *feature* or report a *bug*? Bug

#### What is the current behavior? The following CSS:

[code]

is transpiled into:

[code]

This is of course not valid CSS, and will never work.

#### What is the expected behavior?

I would expect this to transpile to either `.MyComponent.jsx-1941991312>*`, or something `.MyComponent.jsx-1941991312>.jsx-1941991312-child` if the clas

[2018-04-24 02:30] bensaufley commented on #434
Some more updates here: I've tried some stopgap measures to simply remove the CSS for test environments (on the current Next5 branch):

[code]

This gives me this error, originating at `node_modules/babel-types/lib/definitions/index.js:109:13`:

[code]
---

I tried as well in my TSX, hoping maybe if the imported file was never referenced it would never call `css` and thus never throw.

[code]

Thi

[2018-04-24 02:47] giuseppeg commented on #434
@bensaufley thank you for investigating this issue and not giving up! But most importantly I am sorry that you had to do this in the first place.

I am not familiar with `ts-node/register` at all and probably it would take a while before I find the time to understand how it works, debug and come up with a fix that makes it work with Babel 6. At this point I am not familiar with Babel 7 either yet.

[2018-04-24 02:49] giuseppeg commented on #308
@nfantone yeah sorry about that

[2018-04-24 02:51] giuseppeg commented on #407
@znarf  that's because  `next/babel` includes `styled-jsx/babel` and Next.js will use that version instead of yours.

[2018-04-24 02:55] giuseppeg commented on #435
`*.classname` is valid css. There are other ways to style child components https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

If you then want `.MyComponent.jsx-1941991312 > *` you should use `:global()`:

[code]

[2018-04-24 02:55] #435 closed

[2018-04-24 07:30] znarf commented on #407
@giuseppeg Ok, my understanding with the configuration I shared: `styled-jsx/babel` will be loaded 2 times (the one included in `next/babel` and the one from `plugins`  `styled-jsx/babel`). Leading to duplicate class names. Right?

Now, If I want to customize my Next.js installation with a `.babelrc` loading a plugin such as `styled-jsx-plugin-postcss`, how would you suggest to do that?

[2018-04-24 13:46] bensaufley commented on #434
@giuseppeg thanks for your response.

For what it's worth, after more thought I kind of doubt Babel 7 is the issue because the local browser environment works fine with Next 6 canary and Babel 7. This should at least indicate that it _can_ work with Babel 7.

In the short term I've been trying to just keep the styled-jsx files out of our tests because they don't work, but in the long term I really

[2018-04-24 14:09] giuseppeg commented on #434
if you can't find a way to mock the file you could use something like that https://www.npmjs.com/package/babel-plugin-module-resolver to alias your mock module to `styled-jsx/css` only in tests (using babel's envs). I will try your testcase (repo) when I have time and see if I can find a solution.

[2018-04-24 15:35] bensaufley commented on #434
Follow-up: another issue with stubbing `styled-jsx/css` (using something like [mock-require](https://github.com/boblauer/mock-require)—which I'm now using in my real repo, for the time being) to return a plaintext string is that our tests still output ``Warning: Received `true` for a non-boolean attribute `jsx`.`` when we render a styled component, which may be safely ignorable but generally I'm o

[2018-04-25 12:03] znarf commented on #407
@danielr18 thanks, looks good.

[2018-04-26 22:25] Asherlc opened #436 "Template literal tag breaks Babel with Jest coverage"
#### Do you want to request a *feature* or report a *bug*?
Bug
#### What is the current behavior?

When using the `css` template literal tag from `styled-jsx/css`, and running Jest tests **with `--collectCoverage=true`** raises the following error(does not occur without code coverage):

[code]
     "presets": [
        "react",
        "latest",
        "next/babel"
      ]
[code]

[2018-04-26 23:35] giuseppeg commented on #430
@frankPairs did you solve this issue?

[2018-04-27 08:31] znarf commented on #407
@Echelpoel can you share your Babel configuration? Perhaps, it's the same than what we had.

Otherwise, from our side, we can close the ticket.

[2018-04-29 21:35] malixsys commented on #254
Note to self:

[code]

[2018-04-30 21:31] merrywhether commented on #424
@blueshw's suggestion would actually be really great, because right now styled-jsx is really clunky when it comes to styling third party components without having to completely break out into the global scope. It would be awesome to have local scope with an unaltered cascade. Then the following would work:

[code]

as it would get transformed to

[code]

with styles like

[code]

[2018-04-30 21:33] Negan1911 commented on #425
I'm getting the same issue but without a `React.Fragment` tag, just using the exact one from the example:
[code]

Save it, start next, change some prop on the CSS, you'll get this:
![image](https://user-images.githubusercontent.com/3399236/39451353-c84560ac-4ca4-11e8-8a0f-526b02f501d2.png)

You can see that i don't have anything special:
![image](https://user-images.githubusercontent.com/3399236/3

[2018-05-01 13:32] giuseppeg commented on #424
@merrywhether this issue is not about making changes to `:global` or how to reach to descendants without using `:global` but to fix the specificity issue while keeping the scoping behavior valid :)

[2018-05-01 15:07] vpicone opened #437 "Next.js Getting Started says dynamic variable support is coming when it's already here"
#### Do you want to request a *feature* or report a *bug*?
bug

#### What is the current behavior?
https://nextjs.org/learn/basics/styling-components/styles-template-strings

[code]

#### What is the expected behavior?
[code]

[2018-05-01 20:05] giuseppeg commented on #437
@arunoda / @timneutkens is the source code open source? This must be fixed there not here

[2018-05-01 20:05] #437 closed

[2018-05-01 21:03] Richtervn commented on #425
Oh please, I did a search before open #4246. I've just upgrade from next 5.1 to 6. I swear I don't have any wrong syntax or empty style jsx. I even never use React.Fragment

[2018-05-02 14:07] bouzoumita commented on #425
you can reproduce this issue with a new project using this "dependencies": {
    "next": "^6.0.0",
    "react": "^16.3.2",
    "react-dom": "^16.3.2"
  }
and it occur in the hot reload.

[2018-05-02 19:34] merrywhether commented on #424
True enough, was just pointing out the similarity in the use-cases. OP could've used `:global` in a similar way to downscale the element selectors' specificity to achieve the same outcome as your suggestion: `:global(div) > :global(div) > span` (or `div > :global(div) > :global(span)` to achieve @blueshw's suggestion).

It seems like it'd be weird to have to use `:global` to drop class injection i

[2018-05-02 20:16] kamilml commented on #425
This is so annoying. I use style jsx for all the css code in my components. And I am getting this error every time.

[2018-05-02 20:26] kamilml commented on #425
I fixed the error reinstalling next@5.1.0 instead 6.00

[2018-05-03 06:29] iamawebgeek opened #442 "ReferenceError: element is not defined"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
Getting exception on runtime - `ReferenceError: element is not defined`

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

[code]

#### What is the expected behavior?
Render li

[2018-05-03 06:43] giuseppeg commented on #425
Good news I tracked down the source of the issue to react-hot-loader v4. I'll work with the Next.js folks to fix this asap :)

[2018-05-03 07:07] giuseppeg commented on #442
can you try without the `React.Fragment` because the transpiled code looks good

[code]

[2018-05-03 07:10] giuseppeg commented on #406
@DearVikki ping

[2018-05-03 09:28] iamawebgeek commented on #442
@giuseppeg I have removed `React.Fragment` and still getting the same error:
![err](https://user-images.githubusercontent.com/8792609/39569231-098fbfd6-4ede-11e8-961c-25071451d8cf.png)
If I remove dynamic style, it works ok again

[2018-05-04 20:27] rgbkrk opened #443 "hot reload in non-next.js apps breaks when changing <style jsx> tag"
We share some components between next.js apps and some standalone apps (backed by Python) that all use `styled-jsx`. 🎉

Recently we added hot module reloading to the python app and noticed that editing any `<style jsx>` elements will cause an error (and also fail reload).

<img width="1552" alt="screen shot 2018-05-04 at 1 15 08 pm" src="https://user-images.githubusercontent.com/836375/39650892-b4

[2018-05-04 21:04] josiahwiebe commented on #443
The same issue seems to be occurring in Next.js apps as well. See https://github.com/zeit/styled-jsx/issues/425#issuecomment-386204155 as it could be related.

[2018-05-05 02:55] masad-frost opened #444 "Multi-level descendant selectors break with when using global and split across lines"
#### Do you want to request a *feature* or report a *bug*?
bug

#### What is the current behavior?
Splitting descendants across multi lines with a global ancentor breaks the style, it ends up creating a simple single class selector.

[code]
Produces `.c.jsx-123` removing new lines makes it work fine.

I ran into this issue after prettier split my selector into multiple lines and I ended up with a

[2018-05-05 10:16] giuseppeg commented on #443
yea react-hot-loader v4 doesn't reload properly. Use react-hot-loader v3 until we chat with the RHL people and see how we can fix it

[2018-05-05 10:16] #443 closed

[2018-05-05 10:17] giuseppeg commented on #444
can you file an issue on https://github.com/thysultan/stylis.js ? It is the css compiler that processes our styles and resolves selectors

[2018-05-05 12:34] #425 closed

[2018-05-05 13:13] giuseppeg commented on #425
This is fixed in `next@6.0.1-canary.0` or `next@canary` if you will

[2018-05-05 14:50] jabacchetta commented on #337
I'd like to see this as well. I agree with @atulmy here and prefer to keep components clean.

[2018-05-05 18:28] vivaldus commented on #433
Hi -- I also got stung by a similar issue. I'd been in the habit of using `//` to create comments within my styled-jsx block (seemed like a dodgy way to create comments within css, but VSCode generates it with CMD+/, even using [vscode-styled-jsx](https://marketplace.visualstudio.com/items?itemName=blanu.vscode-styled-jsx), and creating comments this way seemed to work till now).

Oddly though, I

[2018-05-05 20:13] giuseppeg commented on #433
`//` is invalid CSS that's why it breaks I suppose.

You guys could create a simple styled-jsx plugin to strip comments from code using the following regular expressions:

[code]

[2018-05-06 11:37] vjpr opened #445 "Upgrade build toolchain to use babel@7 to match next@6"
Two things:

- `styled-jsx` depends on `babel-runtime@6`. The latest `next@6` uses `babel@7.0.0-beta.42`. It would be great if `styled-jsx` was built against `@babel/runtime@7`. Would avoid needing both `babel-runtime@6` and v7 which increase bundle size.

- `styled-jsx` is missing `babel-runtime@^6` in its dependencies. See comment below.

[code]

[2018-05-06 11:44] vjpr commented on #445
_style.js_

[code]

[2018-05-06 20:57] leebenson commented on #90
@timsuchanek - Just want to say a belated thanks for your `"jsx": "preserve"` tip. I'm using Typescript + Webpack + Babel locally, and couldn't figure out why my other plugins were firing, but not styled-jsx.

Of course, it was because Typescript was already transforming JSX -> `React.createElement`, so this plugin didn't have the original JSX to parse.

IMO, this could do with being featured unde

[2018-05-07 08:45] iamawebgeek commented on #442
@giuseppeg neither of them. Used CRA with eject

[2018-05-07 14:05] afzal273 commented on #159
I'm unable to access the test repo, I'm looking for a working config with rollup or webpack for a react component library with styled-jsx. Could you please re-share a working link?

[2018-05-07 16:14] giuseppeg commented on #159
@Tomekmularczyk it would be cool to write a blog post about this! Let me know in case you have time and want to do this :)

[2018-05-07 16:25] giuseppeg commented on #159
If you have a personal blog you could just post it there :) As for the guidelines I guess your workflow seems pretty good to me so I'd just describe that with an example :)

[2018-05-07 18:38] giuseppeg commented on #445
Hi thanks for opening an issue. Can you add a more meaningful description for the issue?

[2018-05-07 18:51] vjpr commented on #445
@giuseppeg Done.

[2018-05-07 20:34] giuseppeg commented on #445
Can you make a PR to add `babel-runtime@^6`? In styled-jsx v3 which we will release soon we probably won't need babel-runtime at all

[2018-05-07 21:06] afzal273 commented on #159
Thanks much @Tomekmularczyk , do you also have an example for bundling a component library that uses styled-jsx with webpack instead of rollup? We use webpack and would be great to have it working for webpack as well!

[2018-05-08 05:31] masad-frost commented on #444
Will do thanks.

[2018-05-08 05:55] masad-frost commented on #444
Done https://github.com/thysultan/stylis.js/issues/104

[2018-05-08 07:16] Tomekmularczyk commented on #159
@afzal273 there's already an [article on that.](https://medium.com/@efreyreg/create-react-component-libraries-with-storybook-and-styled-jsx-8999f423f06b)

[2018-05-08 20:33] timmywil commented on #425
I'm using `next@6.0.1-canary.1` and am still getting the error [described](https://github.com/zeit/styled-jsx/issues/425#issuecomment-385535539) by @Negan1911.

[2018-05-08 20:34] timneutkens commented on #425
@timmywil see https://github.com/zeit/next.js/issues/4299

[2018-05-10 16:20] OKNoah commented on #170
Hard to believe there is still not a package available.

[2018-05-10 16:27] OKNoah commented on #170
This may do the trick: https://github.com/bathos/Ecmascript-Sublime

![](https://github.com/bathos/Ecmascript-Sublime/raw/master/examples/nested-syntax-commenting.gif)

[2018-05-10 18:49] vjpr opened #446 "`styled-jsx/babel` breaks my next.js dynamic import"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

_**With `styled-jsx/babel`**_

Error in browser:

[code]

[code]

_**Without `styled-jsx/babel`**_

[code]

Note how `__webpack_exports__` is in the wrapper func params with `styled-jsx/babel`, and without it, `exports` is in the wrapper func params.

#### Environment (include versions)

* OS:
* Br

[2018-05-12 08:13] giuseppeg commented on #446
please share your setup (babelrc, next.config.js) and a minimal test case (next app) that I can check out

[2018-05-12 08:14] giuseppeg commented on #442
@iamawebgeek please try to debug your application or setup, we have never had this issue. I will close the issue in one week if there is no update.

[2018-05-12 08:15] giuseppeg commented on #436
please create a testcase that we can clone and try out

[2018-05-12 08:33] #445 closed

[2018-05-12 08:38] #430 closed

[2018-05-13 10:55] Tomekmularczyk commented on #159
@giuseppeg how can I contact you about that article? I would like you to review it.

[2018-05-13 11:04] giuseppeg commented on #159
@Tomekmularczyk I am on Slack as `g` https://zeit.chat or you can dm me on twitter https://twitter.com/giuseppegurgone

[2018-05-14 18:34] Tomekmularczyk commented on #159
I have posted it on Medium. Thanks.

https://medium.com/@tomaszmularczyk89/guide-to-building-a-react-components-library-with-rollup-and-styled-jsx-694ec66bd2

[2018-05-14 19:06] giuseppeg commented on #159
awesome! If you tweet that I'll retweet :) Also feel free to submit a PR to add a link to this under the FAQ section of the main readme.md

[2018-05-14 19:44] Tomekmularczyk commented on #159
@giuseppeg sure I’ll do that. Thanks again!

[2018-05-15 05:00] bathos opened #449 "Unsafe transformation of className? Babel issue?"
#### Do you want to request a *feature* or report a *bug*?

Bug, but I’m unsure whether it’s a Babel 7 issue or a StyledJSX issue.

#### What is the current behavior?

After upgrading to Next 6, which entailed upgrading Babel to 7, the transpiled output for multiline className attributes that have been augmented by StyledJSX is no longer safely escaped and so produces syntax errors when parsed or

[2018-05-15 05:12] bathos commented on #449
Testing with other input, this seems like a broader conversion issue. For example, `className="\n\x21" outputs these characters unescaped, so that it becomes a string that is actually a newline and an exclamation point as if this were a JS string source and not a JSX string source.

[2018-05-15 06:29] iamawebgeek commented on #442
@giuseppeg I couldn't figure out what is the root of the problem debugging my code, so I have create a gist and pasted there piece of `bundle.js` and my component's source code. I think this line causes an error: https://gist.github.com/iamawebgeek/ce3c1f3283c55a5dae922bcc5d853f05#file-bundle-js-L159

[2018-05-16 07:18] giuseppeg commented on #449
Can you create a PR with a failing test? Just add an example to this file https://github.com/zeit/styled-jsx/blob/master/test/fixtures/attribute-generation-classname-rewriting.js

[2018-05-18 07:00] giuseppeg commented on #446
@vjpr ping, I will close in a week from now if I don't get a testcase

[2018-05-22 22:17] damusnet commented on #430
Hi @giuseppeg, I am having the exact same issue. Can we reopen please?

I am using babel when running tests, with the `"presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]` configuration. I tried adding a bunch of babel presets/plugins, but nothing worked. Really not sure where to search.

Also, again, it only happens with `--coverage`, not with regular tests.

[2018-05-22 22:56] damusnet commented on #430
this seems like a duplicate of #436 ; I'll continue there ; no need to reopen.

[2018-05-22 23:52] damusnet commented on #436
Hi,

I have narrowed it down with a github repo: https://github.com/damusnet/hello-nextjs

This works: https://github.com/damusnet/hello-nextjs/blob/b85d11c33ea5c9d4c4f4e2bbc75c0f1e371db059/styles/index.js

[code]

But this breaks coverage: https://github.com/damusnet/hello-nextjs/blob/31650c88b8292430056c8c336d781b94c3dc18f9/styles/index.js

[code]

Even though they both compile perfectly well, a

[2018-05-25 07:14] zhangfaliang commented on #214
Will also appear
error info  ‘Unfortunately nesting is not supported by styled-jsx.
    at Function.disableNestingPlugin’
code ```
 .changeSp{
              position:absolute;
              right:30px;
              top:30px;
              width:0;
              height:0;
              margin:0 auto;
              border:10px solid transparent;
            }

            @keyframes animations{

[2018-05-25 07:32] giuseppeg commented on #214
@thysultan could it be a parsing issue? Or do you think that is our plugin's fault?

[2018-05-25 07:51] #446 closed

[2018-05-25 07:53] thysultan commented on #214
The latter, specifically related to [https://github.com/zeit/styled-jsx/pull/313#pullrequestreview-69415889](https://github.com/zeit/styled-jsx/pull/313#pullrequestreview-69415889).

[2018-05-25 07:55] giuseppeg commented on #442
@iamawebgeek the code in that gist is different from the one you posted in the original message. Please create a **minimal** testcase using Next.js or something. I'll close the issue in 1 week if I don't hear back by then

[2018-05-25 08:00] giuseppeg commented on #433
@jaydenseric the Stylis repl uses `cascade: true` wherease we use `cascade:false` so it might still be a bug in Stylis: https://github.com/thysultan/stylis.js#set

Can you try to reproduce with `cascade` set to `false`?

[2018-05-25 08:03] giuseppeg commented on #214
@thysultan awesome thank you!

[2018-06-07 21:57] atif089 opened #453 "Conditionally Adding Styled JSX"
* OS: Windows 10
* Browser: Chrome 65
* styled-jsx (version): 2.2.5

I'm not sure if this is a bug or if I'm doing something incorrectly. What is the right way to add `<style jsx` tags conditionally?

For example in my current situation

[code]

the above works fine, but the following throws an error

[code]

Logs

[code]

[2018-06-08 16:49] merrywhether commented on #64
Is this something with any internal momentum? Or is it something that a community member will probably have to tackle?

[2018-06-11 08:37] voxmachina opened #454 "Upon Next v6 upgrade, global styles got broken"
#### Do you want to request a *feature* or report a *bug*?
I want to report a Bug

#### What is the current behavior?
When upgrading to Next v6.0.3, my global styles have stopped working displaying the message: "styles is not defined", I'm currently using styled-jsx with styled-jsx-css-loader

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo

[2018-06-11 15:04] blackbing commented on #454
I have similar problem. https://github.com/zeit/next.js/issues/4239#issuecomment-392468298 has explained the correct way to config babel. But it can not solve when run with jest.

check out this. https://github.com/zeit/next.js/issues/4501 shows `yarn dev` and `yarn build` works correctly. but `yarn test` will break.

But I have no idea to address the problem.

[2018-06-12 02:01] voxmachina commented on #454
Yap, thanks for the reference, just tried now @blackbing still the same error, doesn't solve it for me either :/

[2018-06-13 09:31] giuseppeg commented on #454
it might be an issue with Babel 7, I think that a temporary workaround is to use CommonJS exports instead of ES6:

[code]

[2018-06-21 07:53] #444 closed

[2018-06-21 07:54] #442 closed

[2018-06-21 07:55] giuseppeg commented on #449
@bathos ping

[2018-06-21 16:45] vivaldus commented on #453
Can't you pull all your logic into a single style tag? `<style jsx>{`${/* LOGIC HERE */}`}</style>`

[2018-06-22 07:16] giuseppeg commented on #444
@masad-frost published 2.2.7

[2018-06-22 09:01] atif089 commented on #453
@vivaldus  How can I compute the logic and print it? I think I can use a ternary operator for now, but what if I have 3 such conditions and wouldn't want to use nested ternary operators

[2018-06-25 19:47] N4G1B4T0R commented on #454
Hi Everyone! I tried to figure out this issue. How said @giuseppeg there is problem with Babel 7 and  after 2 days I got it. So I just create "crutch". Here is my _document.js

[2018-06-25 19:54] N4G1B4T0R commented on #454
Hi Everyone! I tried to figure out this issue. How said @giuseppeg there is problem with Babel 7 and after 2 days I got it. So I just create "crutch". Here is my _document.js

[code]

So I just added manually second

And after that everything work nice on next 6.0.3.
I dont know how it will work in production but i guess babel will figure out this issue in the near future.

[2018-06-26 18:30] jlecomte commented on #423
Here is a workaround:

[code]

I purposefully did not use JSX to avoid going through the styled-jsx babel plugin, which causes all kinds of strange issues.

[2018-06-26 18:39] thealjey commented on #423
Unfortunately, I will most probably not have the time in the next several months to do these pull requests.
Maybe someone else will do them in the meantime 🤞

[2018-06-26 22:42] andy-viv commented on #423
@thealjey: the workaround by @jlecomte would be in your code, not in styled-jsx's code.

[2018-06-27 05:50] thealjey commented on #423
@andy-viv
1. I was not referring to his workaround
2. I would rather not have to do any workarounds
3. Next.js does the `flush`, so more workarounds are necessary to make this work

[2018-06-29 07:01] jaydenseric commented on #432
@giuseppeg has #455 been published? Can this be closed?

[2018-06-29 07:04] giuseppeg commented on #432
👍  yes it is included in 2.2.7

[2018-06-29 07:04] #432 closed

[2018-06-29 07:18] jaydenseric opened #458 "Error in fragment"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

Styled JSX inside a React Fragment container causes a rendering error.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

Mounting this component:

[code]

Causes this error

[2018-06-29 11:28] callumlocke opened #459 "Making styled-jsx work better with Jest snapshots"
### Do you want to request a *feature* or report a *bug*?

A feature.

### What is the current behavior?

Most people don't want to include tons of `jsx-******` classnames in their Jest snapshots, nor lots of vendor prefixed CSS properties. It just makes the snapshot harder to read, and provides no useful information. There's no need to test styled-jsx's functionality every time you test your own

[2018-07-01 18:19] giuseppeg commented on #458
styled-jsx is not compatible with Babel7 yet but it would probably as simple as also visiting `JSXFragment` like we do for `JSXElement`

[2018-07-01 18:40] giuseppeg commented on #459
hi thanks for the detailed description, I agree with you and making a simple `styled-jsx/babel-test` plugin to remove the `jsx` is very straightforward https://astexplorer.net/#/gist/39a246d5f4e5e8907303ee23dcfd5158/981e9936b1f13dd066fa4e8cb8184f5d0a508fe9

I am not sure about moving the CSS to an attribute though, I think that this can be solved in user land with an utility function (I am not fam

[2018-07-01 18:41] giuseppeg commented on #459
it would be great if you could make a PR for `styled-jsx/babel-test`. Maybe against the `next` branch which is the upcoming v3

[2018-07-01 18:45] giuseppeg commented on #459
by the way are you using styled-jsx at Financial Times by any chance?

[2018-07-03 12:39] giuseppeg commented on #459
I think that we should just remove the `jsx` attribute and leave the rest as-is.

Oh I see, good luck then with what's next :)

[2018-07-03 12:40] giuseppeg commented on #459
funny enough once I interviewed at the FT and got an offer but then I also go another in SF too and I accepted the latter :)

[2018-07-04 06:17] cedric-marcone opened #461 "Warnings in AsyncMode"
Hello,

If you wrap an app using styled-jsx with an `AsyncMode` component (`React.unstable_AsyncMode`) a warning is reported to the console :

[code]

We can trace those two deprecated lifecycles calls to `src/style.js`.

- For `componentWillMount`, I think we could just move the `styleSheetRegistry.add(this.props)` call to the constructor of the `JSXStyle` component.

- For `componentWillUpdate`,

[2018-07-04 17:44] MagnusBrzenk commented on #453
I'm not used to including objects within my <style jsx> brackets. I just use string-formatting logic. So if I wanted to include, say, the following content:

[code]

...  conditioned on some boolean `bAddDemoClass` then I'd just use:

[code]
If the logic were more complicated than this, then you can pull it out into the render function (before returning your `jsx`). BTW, I think it's better practi

[2018-07-04 17:47] vivaldus commented on #453
I'm not used to including objects within my <style jsx> brackets. I just use string-formatting logic. So if I wanted to include, say, the following content:

[code]

...  conditioned on some boolean `bAddDemoClass` then I'd just use:

[code]
If the logic were more complicated than this, then you can pull it out into the render function (before returning your `jsx`). BTW, I think it's better practi

[2018-07-09 14:24] twltwl commented on #147
Any progress on this ? 😺

[2018-07-09 14:49] giuseppeg commented on #147
@twltwl hi, want to pick this up? I can offer guidance

[2018-07-10 13:40] twltwl commented on #147
@giuseppeg Yes I could. Some pointers on where to start would be apprichiated :)

[2018-07-11 09:57] leiyangyou opened #463 "unwanted prefix in media query"
#### Do you want to request a *feature* or report a *bug*?

*bug*

#### What is the current behavior?

[code]
produces
[code]
#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

1.
2.

#### What is the expected behavior?

#### Environment (include versions)

* styled-jsx (vers

[2018-07-11 10:50] giuseppeg commented on #463
hi can you make a pull request against the `next` branch to fix this. You can play with this https://github.com/zeit/styled-jsx/blob/next/src/lib/style-transform.js

[2018-07-11 11:17] leiyangyou commented on #463
so I just confirmed that the problem no longer exists in the latest version of styled-jsx: 2.2.7 + stylis: 3.5.1

attaching the test case just in case you feel like it makes sense to be included

[code]

however, nextjs is still using 2.2.6, and when I try to upgrade to 2.2.7, server side rendering of style breaks, should I open an new issue in nextjs or styled-jsx?

[2018-07-11 13:58] nfantone commented on #308
@giuseppeg Even if not using `css.global` I can't make the "fake" import to work properly with `jest`. Every time I run tests, I get:

[code]

My Babel config already includes `"styled-jsx/babel"` and it works fine when _building_ the application. But the `jest` runner doesn't seem to be liking it or it's conflicting in some way.

Any ideas?

[2018-07-11 20:51] giuseppeg commented on #308
what is your setup like?

[2018-07-11 20:53] giuseppeg commented on #463
you might want to open a PR to the Next.js repo to bump the styled-jsx version. I'll close this issue but we can reopen if you experience the issue again.

[2018-07-11 20:53] #463 closed

[2018-07-12 14:55] nfantone commented on #308
@giuseppeg Looks something like the following:

- React toolkit library built with Rollup.
- `styled-jsx` `2.2.7`
- Using Babel `7.0.0-beta.46`, with `.babelrc` below:

[code]

- Running `jest` + `babel-jest` (both `^23.4.0`).
- Slightly simplified CRA standard Jest configuration.

[code]

My suspicion is that `jest` does not know about `styled-jsx/babel` or is not being picked up.

[2018-07-12 15:42] giuseppeg commented on #308
@nfantone have you tried to transpile a colocated style tag:

[code]

Is that one transpiled? I can take a look if you put together a sample minimal repo.

[2018-07-13 11:10] nfantone commented on #308
@giuseppeg Yes, inline styles work as expected. The offending part is the "fake" `css` import.

I managed to put together a reproducible case. And even though it's doesn't _exactly_ match my setup and doesn't output the same error, it does lead to the same behavior. I think this deserves an issue of its own. I'll open one now.

[2018-07-13 19:48] bkempner commented on #436
Also happening for me, would be nice to see a fix.

[2018-07-18 06:57] #323 closed

[2018-07-18 07:00] giuseppeg commented on #454
Probably we are re using AST nodes which instead we should clone.

[2018-07-18 07:07] giuseppeg commented on #407
seems like this was figured out, I am going to close but glad to reopen if necessary

[2018-07-18 07:07] #407 closed

[2018-07-18 07:08] giuseppeg commented on #433
@jaydenseric ping

[2018-07-18 07:14] jaydenseric commented on #433
@giuseppeg I don't know what `cascade` means, or how you can change it to `false` in the Stylis repl.

[2018-07-18 07:56] giuseppeg commented on #433
I think you can set that via dev tools

[code]

[2018-07-18 08:20] jaydenseric commented on #433
@giuseppeg I just tried that using dev tools and it didn't seem to make a difference. The problem must be with styled-jsx?

[2018-07-18 12:04] giuseppeg commented on #433
possibly, can you make a PR with a failing test against the `next` branch?

[2018-07-18 14:34] giuseppeg commented on #147
fixed in #462 will ship with styled-jsx v3

[2018-07-18 14:34] #147 closed

[2018-07-22 22:37] krisdante opened #467 "media queries missing curly braces"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?

I have following style tag:
[code]
this produces following CSS:
[code]

As you can see mediaqueries are missing curly braces and that is invalid CSS (at least according to CSS Validator) and also do not owrk in Chrome.

#### What is the expected behavior?

When I add (with inspector) missing bracket

[2018-07-23 17:15] timneutkens opened #468 "Compile away styled-jsx/server when styled-jsx is not used"
#### Do you want to request a *feature* or report a *bug*?

feature

#### What is the current behavior?

If there's not a single usage of `<style jsx>` styled-jsx/server can be compiled away as it won't have any result in an app. This is specifically the case when using Next.js + another css-in-js or css imports library, as it won't need styled-jsx's server-side runtime to execute.

#### What is t

[2018-07-23 20:57] michaelwschultz commented on #453
@atif089 not sure placing a condition on the <style jsx> element is really what you want to do. I'd take a look at this module https://github.com/JedWatson/classnames.

This way you can place all your conditions in your markup which should be more readable although potentially a little more code.

#### Example
[code]

This will add `.masthead` by default, then if mastHeadClearanceStyles is true, `

[2018-07-23 21:09] nfantone opened #469 "global attribute with styled-jsx/css import does not work with Jest"
#### Do you want to request a *feature* or report a *bug*?
Report a bug.

#### What is the current behavior?
Running tests with `jest` on a component that imports its `global` styles from an external `css` template literal fails with the following:

[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js

[2018-07-23 21:13] nfantone commented on #308
@giuseppeg Sorry for the delay on this. Here: https://github.com/zeit/styled-jsx/issues/469 - I've opened a new issue with a description of reproducible case so we can better track the problem down.

[2018-07-24 13:56] giuseppeg commented on #468
We chatted about this and I think we agree that it should be implemented in user-land since it is a Next.js specific behavior.

[2018-07-24 13:56] #468 closed

[2018-07-24 13:58] giuseppeg commented on #469
@nfantone does CRA support custom `.babelrc`?

[2018-07-25 19:08] skitterm commented on #376
Along these same lines... the README mentions `Dynamic styles and theme support` but I don't see any examples or documentation about how to make themes work in styled-jsx out of the box. Can some documentation be added for this on the README?

[2018-07-26 07:04] bkempner commented on #469
I am having this same issue with 2.2.6.

[2018-07-28 02:40] James-Harris14 commented on #90
@leebenson @timsuchanek Could you guys please describe the process you are using to transpile with `"jsx": "preserve"`?

I'm using `"jsx": "preserve"` in my `tsconfig.json` and my webpack config uses the loader like this:
[code]

However I'm still getting errors:
[code]

I need `"jsx": "preserve"` because otherwise the styled jsx won't apply to my components.

Any help is appreciated.

[2018-08-01 15:36] ssylvia opened #471 "Constants do not work with TypeScript (Babel 6)"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
[Constants](https://github.com/zeit/styled-jsx#constants) do not work with TypeScript unless TypeScript is compiled with Babel 7.

Is there any way to use constants while using tsc then babel 6? There are many libraries (including Storybook) that do not support Babel 7.

#### If the current behavior

[2018-08-02 10:48] giuseppeg commented on #461
Fixed in #464

[2018-08-02 10:48] #461 closed

[2018-08-07 19:52] giuseppeg commented on #469
hey folks can you try with `styled-jsx@^3.0.0` this issue might be solved in the new version

[2018-08-08 19:24] rgbkrk opened #474 "StyleSheetRegistry in optimizeForSpeed mode should keep track of invalid rules"
#### Do you want to request a *feature* or report a *bug*?

Feature (to report on user level issues)

#### What is the current behavior?

Same as #319 (which is closed and locked), there's a persistent issue we're facing when developing component libraries using styled-jsx that later get used in next.js apps. If the browser rejects the sheet (with a warning), styled jsx doesn't notice and later ca

[2018-08-08 19:43] rgbkrk commented on #474
One thing that I know we're doing for our built components is that we set `NODE_ENV=production` while running the babel build. That affects styled-jsx as far as I'm aware.

[2018-08-09 17:51] giuseppeg commented on #474
it seems that you have source maps in production and those don't work when `optimizeForSpeed` is `true`: https://github.com/zeit/styled-jsx#optimizeforspeed let me know if this helps (set it to `false` explicitly)

[2018-08-09 18:31] rgbkrk commented on #474
We are currently setting `optimizeForSpeed` to false explicitly. I'm a bit surprised about the source maps being enabled in production, we're not enabling them in our next config. How do we detect this problem in advance at build time? When modifying webpack config for next, does this have to be explicitly set somehow?

[2018-08-09 18:48] giuseppeg commented on #474
you can pass styled-jsx options to Next as explained here https://github.com/zeit/next.js/#customizing-babel-config

[2018-08-09 18:55] giuseppeg commented on #474
in your sample repo `optimizeForSpeed` is set to `true` https://github.com/nteract/nteract/pull/3212/files#diff-445d46616d10bd0a08537927862f0087R14 when it is set to `true` source maps should be disabled, you can do that by passing `sourceMaps: false`. If that doesn't work probably we have a bug with in the options logic. I'd need to try your branch out, right now I can't unfortunately

[2018-08-15 12:06] giuseppeg commented on #474
@rgbkrk any update?

[2018-08-15 15:39] rgbkrk commented on #474
We've set `optimizeForSpeed` to false. In that pull request I'm setting it to true on purpose to showcase what happens. We're not blocked.

I'm unsure how to communicate that this issue is about finding a way to surface what stylesheets are problematic. I love being able to recommend styled-jsx and just want to make sure the developer experience gets better and better.

[2018-08-15 15:56] giuseppeg commented on #474
Fair enough, this in fact seems to be a bug. See:

https://github.com/zeit/styled-jsx/blob/9f53a7411318aff0c4a5f8d73bf6aed83ed2fdf7/src/stylesheet-registry.js#L60-L77

I believe that we can fix it by removing the check at L65 since this https://github.com/zeit/styled-jsx/blob/9f53a7411318aff0c4a5f8d73bf6aed83ed2fdf7/src/stylesheet-registry.js#L85-L86 will still work because `this._indices[styleId]

[2018-08-16 23:45] rgbkrk commented on #474
Sure I just submitted https://github.com/zeit/styled-jsx/pull/476

[2018-08-17 12:46] schulke-214 opened #477 "styled-jsx flickers on initial load"
#### The Bug im Facing:

On the inital-load of my page, the styles don't get applied instantly, they come in after a short delay, which causes flickering. Ive expierienced this behavior in my own project, and thought it was the way
i work with the _document.js file etc, but as i where able to reproduce this in a fully blank next.js project, this seems to be something different.

I've created a rep

[2018-08-18 16:17] DemGiran opened #478 "is it async?"
is this executing async?

[2018-08-18 22:09] Peping opened #479 "Build with source maps fails using awesome-typescript-loader"
#### Do you want to request a *feature* or report a *bug*?
This is a **bug**

#### What is the current behavior?
Babel compile step throws an exception trying to create source maps. It appears the `styled-jsx/babel` plugin isn't given exactly the data it expects.

    ERROR in ./src/index.tsx
    Module build failed (from ./node_modules/awesome-typescript-loader/dist/entry.js):
    TypeError: Cann

[2018-08-20 10:42] giuseppeg commented on #478
what do you mean?

[2018-08-20 10:46] giuseppeg commented on #477
Can you try to use `next@7.0.0-canary.0`?

I believe that Next.js uses another version even if you install `3.0.2` because the `next/babel` preset points to that one. Basically in order to upgrade styled-jsx in a Next.js project you either need to patch the configuration by hand or wait for them to upgrade.

[2018-08-20 20:33] schulke-214 commented on #477
@giuseppeg
I tried it now, it changes nothing.

Behaves the same as with a `next@6.x.x` version.
In the meantime, i found a _workaround_?
The way that works for me is manually rendering the styles into style tags using flush from `styled-jsx/server`.

Here is my _document.js (a little modified for example purposes):

[code]

I dont know if its meant to be used like this, or just for a different us

[2018-08-20 20:45] schulke-214 commented on #477
i just figured out, that im double inserting the styles with my `{ this.props.styles }`, i removed it now.

[2018-08-21 14:10] seaneking commented on #458
Any update on this?

And is the incompatibility with Babel 7 documented anywhere? Just lost hours trying to debug this before figuring out it was the new Fragment syntax that was causing it.

[2018-08-22 14:29] richtera opened #480 "With last update I am now getting lots of logging during the build."
👋 friend. Welcome to styled-jsx and thanks for contributing!

⚠️ IMPORTANT ⚠️

If you need help or have a question about styled-jsx please ask it on Spectrum https://spectrum.chat/styled-jsx or join our Slack community at https://zeit.chat and ask it in the `#next` channel.

Before you open a new issue please take a look at our [**Frequent Asked Questions**](https://github.com/zeit/styled-jsx#faq)

[2018-08-23 05:48] slorenzo commented on #254
Example using [react-media](https://github.com/ReactTraining/react-media) and [className toggling](https://github.com/zeit/styled-jsx#via-classname-toggling):

[code]

[2018-08-24 08:01] giuseppeg commented on #480
That's expected. Is it logged many times or just one?

[2018-08-24 08:02] #478 closed

[2018-08-24 08:59] richtera commented on #480
I now get about 20 of this messages when I start dev or build

[2018-08-24 15:20] athrunsun commented on #434
@bensaufley Hi. Could you provide some instructions on how to add type definitions for `css.resolve` and `css.global` mentioned [here](https://github.com/zeit/styled-jsx#external-styles)?

[2018-08-24 15:50] bensaufley commented on #434
@athrunsun ah the new release finally happened! Cool. We've moved to `styled-components` since I last posted here, but I'd imagine what you'd do is something like:

[code]

[2018-08-25 02:41] athrunsun commented on #434
@bensaufley Thank you for your instructions! It worked perfectly.

I'll submit a PR to DefinitelyTyped repo.

[2018-08-25 08:52] giuseppeg commented on #479
does this happen with both version ^2.2.4 and ^3.0.2 of styled-jsx? Also is Babel 7 a requirement or can you also use Babel 6? We officially don't support Babel 7 yet, we are waiting for a stable release.

[2018-08-25 16:35] jan0991 opened #481 "Received `true` for a non-boolean attribute `jsx`."
I installed `styled-jsx` and `styled-jsx-plugin-sass`, changed my .babelrc to:
[code]

It fails to parse style tag with

Code looks like
[code]

What am I missing?

[2018-08-25 21:43] jan0991 commented on #481
My bad, webpack local config overwrote .babelrc. Closing.

[2018-08-25 21:43] #481 closed

[2018-08-29 06:46] giuseppeg commented on #480
ouch! Can you make a simple test repo that I can clone and try quickly? If there is a bug it should be fairly easy to fix

[2018-08-30 13:09] richtera commented on #480
It's just a nextjs app. I can put together a demo repo next week I think. But as far as I know I am not doing anything custom with styled-jsx except extracting the css in one place to be able to send a css blob to my cms.

[2018-08-30 13:50] giuseppeg commented on #480
yeah but I don't have a lot of free time recently. So it'd be great if you could set up a repo and integrate a styled-jsx plugin and add a few styles so that I can clone and start to debug right away.

[2018-08-31 11:42] richtera commented on #480
I added a little stack trace to each of the invocations. It looks like babel loads it fresh each time:
[code]

[2018-08-31 11:43] richtera commented on #480
I am thinking maybe just remove the log message :)

[2018-09-01 16:59] gnandretta opened #486 "Dynamic interpolations that contain "this" fail under some circumstances"
The interpolation below works in next v5 but since v6 (which uses babel 7) it throws a `TypeError: Cannot read property 'props' of undefined`.

[code]

## Sample apps

- [Working application](https://next-5-styled-jsx-this-fqwmikdpna.now.sh) using next 5. Here's its [source code](https://next-5-styled-jsx-this-fqwmikdpna.now.sh/_src).
- [Application showing the issue](https://next-7-styled-jsx-thi

[2018-09-01 20:47] giuseppeg commented on #486
thanks Gabriel, that's indeed a bug and has to do with AST nodes reusing. We probably don't clone some node. We had a similar issue before https://github.com/zeit/styled-jsx/pull/470

[2018-09-03 15:16] ssylvia opened #487 "Upgrading to v7.0.0.-10 NextJS Throws "_JSXStyle" has already been declared error"
#### Do you want to request a *feature* or report a *bug*?
Bug
#### What is the current behavior?

Styled-jsx

<img width="1094" alt="screen shot 2018-09-03 at 11 13 16 am" src="https://user-images.githubusercontent.com/1211360/44993922-632ba900-af6a-11e8-8cb7-40d8837e8f6d.png">

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in

[2018-09-03 15:57] timneutkens commented on #487
Explained here: https://github.com/zeit/next.js/issues/5080#issuecomment-418151172

[2018-09-03 15:57] #487 closed

[2018-09-04 09:04] slpixe commented on #186
I agree it would be good to have this as a plugin for IDEA, as most the other editors have plugins/extensions for styled-jsx

[2018-09-05 18:47] ssylvia commented on #469
@giuseppeg Yep, having the same issue when using `styled-jsx@3.0.3-canary.0` with `babel-jest`.

[2018-09-06 07:16] sedubois commented on #480
I have the same issue with styled-jsx 3.0.2, these lines are printed 142 times altogether:
[code]

How can we disable these logs?

[2018-09-06 07:57] giuseppeg commented on #480
Can you prepare a minimal next.js app and wire up a plugin so that I can debug? It should load those only once

[2018-09-06 17:59] sedubois commented on #480
This reproduces the issue for me:
[code]

This shows the same as in the image above.

[2018-09-07 04:32] jaydenseric commented on #458
Can this please be escalated to bug status? It makes no sense that this will work:

[code]

... and this legitimate syntax (supported by stable React and Babel) won't:

[code]

[2018-09-07 09:50] giuseppeg commented on #458
We need to make a patch release before starting to work on v4 and switch to babel 7. I don’t do this for a living so sometimes things can be slower. If any bugfix or feature is crucial for your work I welcome any contribution and I’d be happy to give guidance and help

[2018-09-08 05:10] nickluger opened #488 "Jest serializer for styled-jsx for snapshot testing"
#### Do you want to request a *feature* or report a *bug*?
Feature

#### What is the current behavior?
Using snapshot tests for Jest, if you change the CSS, the `className` changes.

#### What is the expected behavior?
This is not very useful, as it gives no hint to the underlying CSS changes. It would be nicer if a CSS diff would be rendered. There are plugins for other CSS-in-JS libs like styled

[2018-09-08 05:11] #488 closed

[2018-09-08 05:12] nickluger commented on #488
Issue exists in similar form, will continue there.

[2018-09-08 05:17] nickluger commented on #459
I was thinking about a Jest serializer for styled-jsx (https://github.com/zeit/styled-jsx/issues/488) but will wait for this here.

[2018-09-10 09:10] alextiley commented on #186
For those still interested in the original request, installing the Styled Components jetbrains plugin also seems to work for styled-jsx.

https://plugins.jetbrains.com/plugin/9997-styled-components

[2018-09-11 14:41] Peping opened #489 "[feature] [discussion] Easier third-party integration"
## Motivation
Styled-jsx is an amazing tool to create new styled components from plain HTML elements, however, in my experience, integrating it with already existing components can be cumbersome.

Newcomers can easily be deceived into attempting something like this:
[code]

To someone familiar with how this library works, this triggers all the alarms. The `Button` won't be affected by the style fo

[2018-09-11 15:16] jeffscottward commented on #480
Bump. I get a wall of logs and Im not even using Next.js

[2018-09-11 21:52] giovannipds commented on #181
Hi! I also want the same feature. Where should we apply [this](https://github.com/zeit/styled-jsx#emmet)?

[2018-09-14 14:52] Peping commented on #489
@giuseppeg is this documented anywhere? I've seen hints at this functionality in code, but I don't remember seeing it in a README.

[2018-09-15 16:02] giuseppeg commented on #489
this workaround is undocumented because in these cases it is better to be explicit. It is in the library only to make dynamic tags work. See the Heading example here https://github.com/zeit/styled-jsx/releases/tag/v3.0.0 I think that the current set of features allows to style components from 3rd parties therefore I am goig to close this issue

[2018-09-15 16:02] #489 closed

[2018-09-16 20:07] krisdante commented on #467
This drives me crazy. It happens also for normal styles sometimes. I can not find a pattern.

[2018-09-17 06:32] jlmitch5 commented on #467
@krisdante updating next to the latest next.js 7.0 canary fixed media queries (generally) for me (this also updates styled-jsx to the 3.0 canary)

[2018-09-17 06:39] jlmitch5 opened #490 "weirdness with next.js media queries and multiple new lines (and spaces)"
#### Do you want to request a *feature* or report a *bug*?

*bug*

when > 1 new line (with spaces at the beginning of at least two of the new lines) separate two media queries, the second media query becomes malformed.

[code]

#### What is the current behavior?

renders to:

[code]

#### What is the expected behavior?

would expect it to render to:

[code]

#### Environment (include versions)

*

[2018-09-17 14:48] jlmitch5 commented on #490
@giuseppeg filed! https://github.com/thysultan/stylis.js/issues/120

[2018-09-17 16:44] jlmitch5 commented on #490
circling back here, I think this may be specific to styled-jsx.  The issue is not reproducible in their try-out editor.

I thought it may be due to the rules being in a global tag (<style jsx global></style>).

removing the global attr and wrapping styles in just `<style jsx></style>` shows the same sort of class-in-media-query issue (with an additional issue where the scope class is appended to m

[2018-09-20 10:21] Sakarisson opened #491 "css.resolve does not appear to work according to example"
#### Bug report

The `css.resolve` example in the Next 7 announcement does not appear to pass styles down to child components.

https://nextjs.org/blog/next-7#styled-jsx-v3

#### What is the current behavior?

Styles to not pass to Child Component as expected

#### To replicate

`npm i -S next react react-dom`

Create this file in /pages/index.js

[code]

Below is a link to test repository.

 http

[2018-09-20 13:34] Yuripetusko opened #492 "non styled-jsx css are not scoped"
#### *bug*

We have number of css and stylus files that we are slowly moving to css in js, we import them like so for global styles:

[code]

And like so for scoped styles

[code]

This worked just fine until upgrading to next7, not all styles are global even the ones without `<style jsx global>`

I guessed that this is because of new webpack setting:

[code]

So I went and added `/* @styled-jsx=s

[2018-09-20 16:30] Yankovsky commented on #491
Same problem

[2018-09-20 19:58] #459 closed

[2018-09-21 05:52] giuseppeg commented on #469
You folks should mock `styled-jsx/css`. It is not necessary to compile styles with styled-jsx and test them.

[2018-09-21 07:11] giuseppeg commented on #449
@bathos can you reproduce with styled-jsx v3? I can't (maybe my editor removes those special characters)

[2018-09-21 07:15] giuseppeg commented on #492
Thanks for the detailed report! This might be an issue with Next or webpack caching compilations. Can you create a minimal testcase (next app with your setup). I'll be glad to take a look

[2018-09-21 07:21] giuseppeg commented on #491
sorry there is a mistake in the example. `className` should be set on the `p`:

[code]

I'll update the blog post. Thank you for reporting this!

[2018-09-21 07:21] #491 closed

[2018-09-21 09:12] Yuripetusko commented on #492
@giuseppeg while creating minimal setup i realised that issue is slightly different! :)

so if I use scoped style it works for the first level elements, but If I import another component then scoped styles on parent component will not apply styles to className of child component. This worked fine previously but not anymore, I am not sure if this is a bug or expected behaviour anymore.

Here's a mi

[2018-09-21 15:27] giuseppeg commented on #490
thanks @jlmitch5. It is an issue with Stylis I commented on the issue

[2018-09-21 16:11] bathos commented on #449
I added the requested test cases in the PR above, but it looks like it now has conflicts — I’ll have to try to bring it back in line w/ current master.

[2018-09-24 06:37] vishnunarayanan commented on #409
@oskari Did you find the fix/workaround? If so please share the solution

[2018-09-24 09:58] Yuripetusko commented on #492
@giuseppeg if you prefer I close this task and create new one. Basically it looks like previously scoped styles were applied to components recursively down the dom/component tree, and now they only apply to exact component where stle is imported

[2018-09-24 14:02] giuseppeg commented on #492
this is the correct behavior for scoped styles. Sorry I haven't had time to look into the test case, hopefully I'll manage this week

[2018-09-26 02:36] ryanfitzer opened #495 "The `global` prop is not being honored when importing from .css files"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

The `global` prop is not being honored when importing from .css files as the [docs state](https://github.com/zeit/styled-jsx#styles-in-regular-css-files):

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js

[2018-09-26 06:08] giuseppeg commented on #495
you need to tell the webpack loader to compile those styles as global, in this case you can add a comment at the top of the file `/* @styled-jsx=global */`

More info https://github.com/zeit/styled-jsx#styles-in-regular-css-files

[2018-09-26 06:08] #495 closed

[2018-09-26 15:19] ryanfitzer commented on #495
That’s not the issue. The docs state:

Adding a comment to the file or configuring the webpack loader works fine.

Adding the `global` prop does not.

From your response, I’m assuming that the docs have to be updated to say that the `global` prop is useless when importing from regular css files.

[2018-09-26 15:36] giuseppeg commented on #495
You need both, mind sending a PR to clarify??

[2018-09-26 15:44] ryanfitzer commented on #495
You need both what? Does my example repo not illustrate the bug/docs issue well enough?

[2018-09-26 17:30] giuseppeg commented on #495
You need to add the `/* @styled-jsx=global */` comment at the top of the file (head.css) and the `global` prop to the `style` tag `<style jsx global>{ css }</style>` (head.js)

[2018-09-26 17:32] giuseppeg commented on #495
it is not

[2018-09-26 18:08] ryanfitzer commented on #495
What technical aspect the the `global` prop serve? It has no effect from I can see.

Ultimately, the docs regarding the `global` prop in relation to the new feature of importing regular CSS files is misleading/confusing.

I can submit a PR for updating the docs to clarify. Can you give me an understanding as to what the purpose is of the `global` prop in this scenario?

[2018-09-26 19:34] giuseppeg commented on #495
That'd be great! styled-jsx transpiles external styles to string objects eg.

[code]

To each of those objects we also add property called `__hash` that is an hash of the styles. We use it to identify each ruleset, mount and unmount styles, avoid duplicates and in the case of scoped styles to actually scope them eg. rewrite the css string above to`div.jsx-123 { color: red }`

When we detect a `sty

[2018-09-27 01:51] eliasthompson opened #496 "Properly Scoped Styling of Root External Components"
Hi,

I've run into an issue (and it looks like [I'm not the only one who has](https://github.com/zeit/styled-jsx/issues/197)) where I'm unable to properly use styled-jsx to style the root element of a component if the root element is an external component:

[code]

The easy way to get around this would be to change `a` to `:global(a)`, however that would apply the style to every `a` tag in the DOM

[2018-09-28 06:33] giuseppeg commented on #496
since v3 it is possible to do this https://github.com/zeit/styled-jsx#the-resolve-tag Hope this helps

[2018-09-28 06:33] #496 closed

[2018-09-28 06:34] giuseppeg commented on #474
fixed in #476

[2018-09-28 06:34] #474 closed

[2018-09-28 06:37] giuseppeg commented on #469
since v3.1.0 we also support this https://github.com/zeit/styled-jsx#rendering-in-tests

[2018-09-28 06:37] #469 closed

[2018-09-28 06:39] giuseppeg commented on #477
this should be working on v3.1.0 (or latest Next.js canary)

[2018-09-28 06:39] #477 closed

[2018-09-28 06:40] giuseppeg commented on #454
this was fixed in #470

[2018-09-28 06:40] #454 closed

[2018-09-28 06:42] giuseppeg commented on #453
with styled-jsx v3 you can use this https://github.com/zeit/styled-jsx#the-resolve-tag for special cases like this one

[2018-09-28 06:42] #453 closed

[2018-09-28 06:43] giuseppeg commented on #436
is this still an issue? can you upgrade to styled-jsx v3

[2018-09-28 06:44] #431 closed

[2018-09-28 06:46] giuseppeg commented on #434
we shipped a solution to this in v3.1.0 https://github.com/zeit/styled-jsx#rendering-in-tests

[2018-09-28 06:46] #434 closed

[2018-09-28 06:47] giuseppeg commented on #423
fixed in #482

[2018-09-28 06:47] #423 closed

[2018-09-28 06:47] giuseppeg commented on #253
can you upgrade to styled-jsx v3.1.0 and let me know if this is still an issue?

[2018-09-28 06:48] giuseppeg commented on #471
can you upgrade to styled-jsx v3.1.0 and let me know if this is still an issue?

[2018-09-28 06:49] #467 closed

[2018-09-28 06:50] giuseppeg commented on #433
still an issue in styled-jsx v3.1.0 (latest Next.js canary)?

[2018-09-28 06:52] #90 closed

[2018-09-28 17:40] Asherlc commented on #436
It appears to be working now for me

[2018-09-28 20:00] Asherlc commented on #436
Actually no, now I'm getting both the above error and `ReferenceError: css is not defined`

[2018-09-29 22:43] yxh10 commented on #27
Could someone please explain how this resolves the styled-jsx not working with antd components issue?

I still could not get styled-jsx working with antd. antd components's class name doesn't have the random number generated by style-jsx. Therefore, it never matches the style.

The workaround I have are:

1. modify the less file which affects the whole site if I don't add style contexts.
2. inline

[2018-09-30 02:32] athrunsun opened #497 "Member expression not allowed in style tag as <style jsx>{external.styles}</style> ?"
#### Do you want to request a *feature* or report a *bug*?
Report a potential *bug* (I'm not sure if this is a bug or WAD).

#### What is the current behavior?
MemberExpression is not allowed in style tag, e.g. `<style jsx>{external.styles}</style>`.

#### Steps to reproduce

1. I have some external styles in `appStyles.js`.
[code]

2. Now I want to import and use it in a component.
[code]

3. Aft

[2018-10-01 07:53] giuseppeg commented on #497
Right now they are not supported. You'd need to `import { siderStyles } from './appStyles'`.

Do you want to submit a PR to add support for member expressions? If not I will close this issue as I don't have time to do that :)

[2018-10-01 11:13] ssylvia commented on #471
Yep, this is still an issue in the current version, repo update: https://github.com/ssylvia/styled-jsx-constants-example.

Our team switched over to compiling typescript with babel so not a current blocker for us.

[2018-10-01 19:31] ryanfitzer opened #498 "Trouble with 'styled-jsx/webpack' Loader and Storybook"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

Using the new feature that enables importing regular css files causes Storybook to error:

[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

I've created an example p

[2018-10-02 17:23] enderlabo opened #499 "I can't used @keyframes with NextJs"
hi everyone i tri it used an animation with css (@import, @keyframes) but i can't i used <_JTSStyle>

this is .css <code>

 ` `@import` url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
   @import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight:

[2018-10-03 12:13] giuseppeg commented on #499
hi can you fix and reformat the code blocks? Also can you provide a sample Next.js application to reproduce the issue so that I can take a look?

[2018-10-03 12:21] giuseppeg commented on #498
in your Storybook webpack config you need to invert the plugins order i.e. run `styled-jsx/webpack` before `babel-loader` and then also add `styled-jsx/babel` to the babel loader plugins I guess. Note that in order to transpile the `.css` file the `babel-loader` `test` might need to match `.css` too eg: `test: /\.(jsx?|css)$/`

[2018-10-04 02:48] aoc commented on #498
@ryanfitzer

I may be wrong, but I think the problem is that storybook uses babel 6 while styled-jsx uses 7.
You can launch storybook but it's not processing the <style jsx> tags and it's not generating the unique classes names.

I switched to storybook 4 alpha to fix that:

`package.json`
[code]

and added `.storybook/.babelrc`
[code]

hope that works for you

[2018-10-04 07:59] giuseppeg commented on #498
styled-jsx itself is still written for babel 6 (although it is mostly compatible with babel 7), but next yep it uses babel 7

[2018-10-04 11:46] kapokyue opened #500 "Build fails when "url()" contains ")""
#### Do you want to request a *feature* or report a *bug*?
*bug*

#### What is the current behavior?
Error: Nesting detected at 35:7. Unfortunately nesting is not supported by styled-jsx.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

1.  https://codesandbox.io/s/zk60wqq

[2018-10-04 18:12] enderlabo commented on #499
done, if you want i can up an repository

[2018-10-04 19:27] giuseppeg commented on #498
@ryanfitzer if you are using `next/babel` then you don't need to add `styled-jsx/babel` since the preset includes styled-jsx already

[2018-10-04 19:32] giuseppeg commented on #500
Hi this is a bug in Stylis, the css processor we use to scope selectors. Can you report the issue to them https://github.com/thysultan/stylis.js ? Mention that this happens wen you use `cascade: false`

[2018-10-04 19:32] giuseppeg commented on #499
@enderlabo that'd be great!

[2018-10-04 19:34] giuseppeg commented on #497
@athrunsun sorry for the late reply. This is the relevant part https://github.com/zeit/styled-jsx/blob/a9167122eb72a824a866cd9f1bcf45fd50305610/src/babel.js#L108-L122

[2018-10-04 19:39] giuseppeg commented on #497
you can use astexplorer.net and https://babeljs.io/docs/en/babel-types to analyze the ast and fix this. You will likely need to check `t.isMemeberExpression(expression)` too and do some work to support those.

Honestly I think that it'd be easier to just alias or use named imports outside of a components and don't spend time trying to implementing this :) Also because a that point you'd open a can

[2018-10-04 20:27] ryanfitzer commented on #498
@giuseppeg Yep, you're right. Just tested it in the example repo and everything worked correctly.

So the 2 issues that fixed it:

1. Making sure the the `styled-jsx/webpack` loader runs before `'babel-loader'` (positioned last in the `rules` array)
2. Adding  the `css` extension the `babel-loader`'s `test` property: `test: /\.(jsx?|css)$,`.

Thanks, again! I pushed changes to the [example repo](h

[2018-10-05 01:40] athrunsun commented on #497
@giuseppeg Ah yes, you're right... Thank you for your explanation, now I understand why member expression support is not implemented, and it does seem not worth the effort.

I'll close this issue.

[2018-10-05 01:40] #497 closed

[2018-10-05 04:12] kapokyue commented on #500
reported: thysultan/stylis.js#123

[2018-10-05 18:34] enderlabo commented on #499
https://gitlab.com/Ioness/ioness/2-reactjs-recipes/tree/Laborit

[2018-10-06 20:35] krisdante opened #501 "Error: Nesting detected after update to nextjs 7.0.1"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

Nextjs won't start because of multiple errors of "Error: Nesting detected"

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

Create a component with media query like:
[code]

[2018-10-06 20:40] krisdante commented on #501
This was false diagnose.
Error was caused by comment block in the CSS

[2018-10-06 20:40] #501 closed

[2018-10-07 13:45] oahehc opened #502 "snapshot format for style is weird"
#### Do you want to request a *feature* or report a *bug*?
bug

#### What is the current behavior?
the snapshot for style should be a string, but be formatted as an object.
![image](https://user-images.githubusercontent.com/13633490/46568765-301b7180-c97d-11e8-9777-13d0168fcc66.png)

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcas

[2018-10-07 14:18] giuseppeg commented on #502
we don't have an official serializer for styled-jsx. Usually I recommend to not use styled-jsx in tests, after all you don't need to test that styled-jsx works. See https://github.com/zeit/styled-jsx#rendering-in-tests and mock `styled-jsx/css`

[2018-10-07 14:18] #502 closed

[2018-10-07 15:00] oahehc commented on #502
I try to use `styled-jsx/babel-test`, but unable to remove style.
![image](https://user-images.githubusercontent.com/13633490/46583139-76a7c380-ca84-11e8-82d1-12297c430b0e.png)

[2018-10-09 07:16] DmitryKozyrenko opened #504 "Incorrect styles in scope for @font-face"
#### Do you want to request a *feature* or report a *bug*?
*bug*

#### What is the current behavior?
incorrect styles in scope.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar
I think this screens can say all about issue, error occured when we try to write "src" for our "@

[2018-10-09 13:12] EiZei opened #505 "CSS URL being escaped when rendering server-side in Next.js"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?

When using a styled jsx element like this:
[code]

The server-side css is url escaped but the client-side css is not resulting in this error:
[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, Cod

[2018-10-11 02:00] oahehc commented on #502
create a [repo](https://github.com/oahehc/jest-snapshot-test/tree/master) to reproduce this error, I think this start at next 7.

In my project, apply [babel-test](https://github.com/zeit/styled-jsx#rendering-in-tests) is not able to solve the problem.

One solution is to follow (with-jest)[https://github.com/zeit/next.js/tree/canary/examples/with-jest] example, use `react-test-renderer` for snaps

[2018-10-17 11:30] giovannipds commented on #433
Though `//` is a invalid CSS comment, `/* ... */` does the same thing.
Just passed by whole `@media` blocks being unconsidered because of this issue. :disappointed:
Next version 6.1.2 (didn't try it on the latest release yet) and `styled-jsx` v2.2.6.

[2018-10-18 14:31] callumlocke opened #506 "Surprising behaviour of :global(x, y, z)"
#### Do you want to request a *feature* or report a *bug*?

Bug/footgun.

#### What is the current behavior?

Take this component, intended to provide inheritable base styles to arbitrary descendents, without those styles leaking out to the rest of the page:

[code]

#### What is the current behavior?

The CSS compiles to:

[code]

This targets `h1` elements contained within the component or its c

[2018-10-19 17:15] whayler1 opened #507 "Styled jsx with post css plugin breaks component testing in jest tests with nesting error"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
When running jest tests with rendered react components I get the below error:
[code]

We are using post css with styled jsx. This works fine when building locally and has been running successfully in production for months. For some reason we are getting dinged for nested jsx.

#### If the current beh

[2018-10-20 03:01] eliasthompson commented on #480
Getting this on a lot of my repos as well. Nothing but a massive wall of `[styled-jsx] Loading plugin from path: styled-jsx-plugin-sass` every time I build.

[2018-10-20 08:43] giuseppeg commented on #507
Sorry I don't have free time in this period to debug this issue, you might want to dig a bit. Better, you might want to disable styled-jsx when testing https://github.com/zeit/styled-jsx#rendering-in-tests
it is kinda useless to transpile styles for unit tests purposes.

[2018-10-20 08:46] giuseppeg commented on #506
We use Stylis to scope styles (and resolve `:global()`). Not sure if they support a list of comma separated selectors inside of `:global()`. Can you ask/open an issue https://github.com/thysultan/stylis.js ?

[2018-10-20 08:47] giuseppeg commented on #505
Hi this might be a bug in Stylis, the css processor we use to scope selectors. Can you report the issue to them https://github.com/thysultan/stylis.js ?

[2018-10-21 04:35] jasonbarone opened #508 "CSS grid-template-areas causing "text content did not match" error"
Hello, looks like grid-template-areas trigger an error on styled-jsx.

#### What is the current behavior?
Using code like this inside of styled-jsx:
[code]

Results in this:
<img width="597" alt="screen shot 2018-10-20 at 9 33 07 pm" src="https://user-images.githubusercontent.com/545055/47263109-c12b3600-d4af-11e8-9f3d-c9bef0a07b43.png">

#### Environment (include versions)
* styled-jsx 3.1.0:

[2018-10-23 11:17] giuseppeg commented on #508
can that be an issue with Next? Can you put a testcase together?

[2018-10-24 00:16] ryanfitzer opened #509 "Plugins Options: `filename` is `undefined`"
#### Do you want to request a *feature* or report a *bug*?

Bug.

This is due to the wrong property name being used in [_utils.js on line 550](https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L550). Instead of `fileInfo.filename`, it should be `fileInfo.sourceFileName`.

#### What is the current behavior?

The `filename` property is `undefined` when passed to plugins. This was noticed

[2018-10-24 00:33] ryanfitzer commented on #480
The log is in [`_utils.js` on line 488](https://github.com/zeit/styled-jsx/blob/bd7ae2a7f2ea755c54ecaabbd84b4337a14664f3/src/_utils.js#L488), inside of the `combinePlugins` function:

[code]

This function is called inside `setStateOptions`, which is called on every `<style jsx/>` tag in each file. Hence, the numerous logs.

[2018-10-24 06:50] sedubois commented on #480
Plugins are supposed to be cached so should only load once:
https://github.com/zeit/styled-jsx/blob/bd7ae2a7f2ea755c54ecaabbd84b4337a14664f3/src/_utils.js#L636

But for some reason it's not working. Maybe some concurrency involved?

[2018-10-24 07:17] giuseppeg commented on #480
`state` is per file that's probably why this piece executes once per file i.e. multiple times per compilation. Probably we can keep a module variable and do that only once.

[2018-10-24 16:49] ryanfitzer commented on #509
PR #510 opened to fix this issue.

[2018-10-25 15:47] jwalton opened #512 "`flush()` will include extra styles server side if server is hosting multiple client side apps"
---

#### *bug*

#### What is the current behavior?

Calling into [`flushToReact()`](https://github.com/zeit/styled-jsx/blob/a9167122eb72a824a866cd9f1bcf45fd50305610/src/server.js#L4) or `flushToHtml()` server side will call into [`flush()`](https://github.com/zeit/styled-jsx/blob/master/src/style.js#L51-L55) which will retrieve all styles from the [`styleSheetRegistry` global variable](https://gi

[2018-10-25 15:50] jwalton commented on #512
Should be possible to do this as a non-breaking change even - try to fetch the styleSheetRegistry from the context, if it isn't there, fall back to the global one.

[2018-10-26 08:21] atomiks opened #513 "Editing style via DevTools breaks all styles (Next 7)"
I'm using `styled-jsx` with Next.js 7, everything default. I'm not sure if I'm doing something wrong with the Layout/component nesting to cause this..

#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

Editing a CSS property via Chrome DevTools completely resets/breaks the whole CSS.

#### If the current behavior is a bug, please provide the steps

[2018-10-26 14:35] jwalton commented on #512
I just started looking into `styled-components`, and they solve this problem [exactly like I described](https://www.styled-components.com/docs/advanced#server-side-rendering).  :)

[2018-10-28 08:35] giuseppeg commented on #512
yup we already had an issue for this https://github.com/zeit/styled-jsx/issues/64 would you like to give a stab at it? I won’t have time in the near future

[2018-10-28 08:37] giuseppeg commented on #513
those styles are not persisted, so probably when the component re-renders they are lost

[2018-10-28 08:37] giuseppeg commented on #513
closing because this doesn’t seem like an issue with styled-jsx

[2018-10-28 08:37] #513 closed

[2018-10-28 08:38] #507 closed

[2018-10-29 03:36] longge0516 opened #514 "It's consoled too many logs.How to shut down it?"
👋 friend. Welcome to styled-jsx and thanks for contributing!

⚠️ IMPORTANT ⚠️

If you need help or have a question about styled-jsx please ask it on Spectrum https://spectrum.chat/styled-jsx or join our Slack community at https://zeit.chat and ask it in the `#next` channel.

Before you open a new issue please take a look at our [**Frequent Asked Questions**](https://github.com/zeit/styled-jsx#faq)

[2018-10-29 09:22] giuseppeg commented on #514
duplicate of #480

[2018-10-29 09:22] #514 closed

[2018-10-29 18:06] eliasthompson commented on #480
Also of note (this may be a separate issue), when I run `webpack --profile --json > ./stats.json` to export a stats file to analyze in a tool, the JSON is invalid because `[styled-jsx] Loading plugin from path: styled-jsx-plugin-sass` is printed at the top of the file. Only after manually opening the file and removed those logs does the JSON become valid.

[2018-10-31 21:05] nschomberg opened #516 "Imported constants used in `styled-jsx` template strings are not defined in Jest, after upgrading to Babel 7."
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

After upgrading to Babel 7 (via [`babel-upgrade`](https://github.com/babel/babel-upgrade)), imported constants used in `styled-jsx` template strings are not defined in Jest.

      11 |           {`
      12 |             div {

      14 |             }
      15 |           `}
      16 |         </

[2018-11-05 20:41] ssylvia opened #517 "Dot notation for external styles do not work"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
Using dot notation of variable within a style tag throws the following error in compile:

[code]

when using this:

[code]

This works:

[code]

Themes exports

[code]

but this doesn't:

[code]

#### What is the expected behavior?
Should be able to use dot notation to get variable of styles.

#### E

[2018-11-06 13:00] giuseppeg commented on #517
yep that's on purpose to keep it simple and avoid edge cases :) You can use your solution or even use named exports/imports

[2018-11-06 13:00] #517 closed

[2018-11-06 13:01] giuseppeg commented on #516
You might want to remove styled-jsx when running tests https://github.com/zeit/styled-jsx#rendering-in-tests

[2018-11-06 18:38] ricardo-cantu commented on #480
Bump, This is making build status unreadable

[2018-11-06 18:54] eliasthompson commented on #480
There's a pull request (#518) up that fixes this. Looks like it'll be merged once approved and released shortly after. @giuseppeg any ETA on release?

[2018-11-07 11:11] giuseppeg commented on #480
@eliasthompson I'll try to get this out today or tomorrow

[2018-11-07 13:40] #480 closed

[2018-11-07 13:48] giuseppeg commented on #480
Just released 3.1.1 which includes this fix. If you are using Next.js you will have to wait for this to be merged and a new version of canary to be released https://github.com/zeit/next.js/pull/5617

[2018-11-07 16:35] atombender commented on #480
I just upgraded to 3.1.1, and I'm still getting the excessive log output. Not using Next; just plain Webpack with `babel-loader`.

[2018-11-07 16:44] giuseppeg commented on #480
oh boy :) @atombender can you put a sample repo together?

[2018-11-07 17:40] atombender commented on #480
@giuseppeg [Here](https://github.com/atombender/styled-jsx-testcase). Output:

[code]

Looks like one gets a new `[styled-jsx] Loading plugin from path: styled-jsx-plugin-sass` line for each component loaded that contains `<style jsx>`.

Node 10.11.0.

[2018-11-07 22:37] atombender commented on #480
@giuseppeg It happens [here](https://github.com/giuseppeg/styled-jsx-plugin-sass/blob/master/index.js#L17), in `styled-jsx-plugin-sass`. The `settings` are:

[code]

If I comment out the `includePaths.push()` line, the logging only occurs once.

[2018-11-07 23:11] ssylvia commented on #436
I seem to be running into the same issue.
[code]

[2018-11-08 08:50] giuseppeg commented on #480
@atombender great thank you! This is definitely an issue with the sass plugin now. It shouldn't push the same directory multiple times and probably only push new "base" directories. I think that if `includePaths` has `./src/` for example probably it can easily include files from subfolders so we don't need to push `./src/something/` for example. Can you make a PR to styled-jsx-plugin-sass to fix t

[2018-11-08 22:55] atombender commented on #480
I can work on a PR, but this might be a breaking change, if people have accidentally used relative imports. For example, `@import "foo"` will find `./src/foo.scss` or whatever today, but not if we fix the path modification.

[2018-11-09 14:45] ricardo-cantu commented on #480
Why not just remove the log? I don't see that it's very useful anyway.

[2018-11-09 18:36] giuseppeg commented on #480
@ricardo-cantu that doesn't solve the real issue. We should fix the behavior above first and then we can discuss about removing the log message if it is still annoying.

@atombender I created an issue on the plugin repo https://github.com/giuseppeg/styled-jsx-plugin-sass/issues/27

[2018-11-09 18:50] eliasthompson opened #520 "Plugin Logging Causes Invalid Webpack JSON Profile"
Webpack has a nice feature that allows you to generate a JSON file of your app structure that tools can use to analyze your app for chunking and such. When I run `webpack --profile --json > ./stats.json` to export a stats file to analyze in a tool, the JSON file is invalid because `[styled-jsx] Loading plugin from path: styled-jsx-plugin-sass` is printed at the top of the file. Only after manually

[2018-11-09 18:54] eliasthompson commented on #480
The update is great and works for me after a clean `npm install`, but I'm still getting the Webpack JSON profile issue, so I split that off into a separate issue, #520. Thanks for the fix @giuseppeg!

[2018-11-10 10:54] giuseppeg commented on #520
🤔 interesting, I can't believe that this is the first module that prints a message to the console. Maybe we can only print the message when `process.env.NODE_ENV === 'development'` would that help?

[2018-11-10 13:54] danielr18 opened #521 "Type function in webpack config executes only once"
This is a snippet of the webpack loader:

[code]

The options object returned by `loaderUtils.getOptions` should be treated as read-only, as it's used across multiple invocations. When `options.type` is a function, it will set its result back to `options.type`,  this causes that in the next invocation it will still have the result of the function that was called with the previous filename, not a f

[2018-11-10 14:29] danielr18 commented on #521
I created a temporary loader that appends a comment with the type, so that I can still use type function until it gets fixed.

[code]
To use it, just add it after the `styled-jsx` one:

[code]

[2018-11-11 23:54] ssmith-wombatweb opened #523 "Preventing animations-name properties from being namespaced."
#### Do you want to request a *feature* or report a *bug*?
I believe this is a feature request.

#### What is the current behavior?
When you put:
[code]

the animation name get's name spaced even though it's under a global and the animation is not in the namespace. It would be nice if you could wrap the animation-name in :global() and have it not be name spaced. This currently doesn't fix it.

A t

[2018-11-13 22:40] ryanfitzer opened #524 "Scoping is Intermittently Missing from `<style jsx>` Tags"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

Scoping is intermittently missing from `<style jsx>` tags. It happens in both `development` and `production` and irrespective of SSR vs. client-side rendering. Hard refreshes do not fix the issue (server restart does fix it, until it happens again).

The `.css` is `import`ed via the `styled-jsx/we

[2018-11-14 04:55] ryanfitzer commented on #524
(Adding more info as I come across it)

The issue just showed up again. Here's what I observed:

- Issue first showed during client-side navigation and remained after a hard-refresh (un-scoped css shows in both the dev tools *Elements* panel and when viewing the page source via `⌘U`)

- Scoping is missing for:
  - All `.css` files imported into the page (`pages/name/index.js`).
  - Multiple child

[2018-11-14 16:52] nschomberg commented on #516
Thanks, this fixes the issue!

It also changes the output of our snapshot tests. Instead of adding a `jsx-` class to each element, it adds the generated CSS. I like this new behavior better, but updating every Jest snapshot is a big migration for our codebase.

Just curious, is there a way to fix the issue without changing our snapshots?

[2018-11-14 18:16] giuseppeg commented on #523
Stylis https://github.com/thysultan/stylis.js does the scoping so this is something we should fix there. You might want to open an issue there and see if they are interested in implementing this behavior

[2018-11-14 18:23] giuseppeg commented on #516
This might be an issue with how styled-jsx transforms your code, probably it reuses nodes and when babel-jest rewrites the imports then it fails at rewriting the references. At some point I hope to have the time to migrate to Babel 7. I believe that will fix your issue.

Relates to #486

[2018-11-14 18:25] giuseppeg commented on #524
thanks Ryan! I have 0 to little time to work on styled-jsx recently so if you can put together a test case I can take a look

[2018-11-14 19:31] nschomberg commented on #516
Thanks for the explanation. I'll stay tuned!

[2018-11-15 18:16] #509 closed

[2018-11-15 18:19] giuseppeg commented on #521
just release `3.1.2` with a fix

[2018-11-15 18:19] #521 closed

[2018-11-15 23:19] eliasthompson commented on #520
I usually prepend the analysis command with `NODE_ENV=production `, so that would definitely help me, but I'm not sure if that command always generates a production bundle regardless, if `rocess.env.NODE_ENV !== 'production'` would be better, or how any other potentially console printing packages handle that Webpack feature, if they do at all.

[2018-11-20 00:05] ryanfitzer commented on #524
@giuseppeg Totally understand. I'll put a test case up once I can pin down the cause and reproduce it reliably.

We have found that this issue is related to using the option comment `/* styled-jsx=global */`. When this comment is present in any `.css` file, it seems to cause other files to also have the same option. So far, we have not been able to pin down what relationship the affected files sha

[2018-11-20 08:50] hipstersmoothie opened #527 "Can use variable with styles in it"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

Can't get css stored in a variable to work correctly. I would expect to to be inserted as normal. I am using `babel-plugin-inline-import` to import my css as strings.

Just the style block:
[code]

Using css.resolve. still no dice
[code]

#### What is the expected behavior?

Should work?

#### Envi

[2018-11-20 18:15] hipstersmoothie commented on #527
Even simper:

[code]

[2018-11-22 19:37] giuseppeg commented on #527
Interpolations are not transpiled or scoped so the following is not scoped:

[code]

This should work:
[code]
 but I assume you don't have the styles inline like that. `</>` is not yet supported.

If you want to load CSS from files you can use our webpack loader see https://github.com/zeit/styled-jsx#styles-in-regular-css-files

[2018-11-22 19:37] #527 closed

[2018-11-28 16:45] thian4 opened #528 "extra div to override children style?"
I have a common button component
```export const MyButton = () => <div><button>{children}</button><style jsx>{`button{color: black}`}</style></div>```

Then when I use it I have to wrap it with a div to override the children's style
```<div className="confirmBtn"><MyButton>Confirm</MyButton><style jsx>{`.confirmBtn { color: red }`}</style></div>```

Any better way to solve this? I can't override t

[2018-11-29 17:17] royeeshemesh commented on #229
@vincent178 what exactly have you found?

[2018-11-29 17:24] royeeshemesh opened #529 "Styles minification"
Hi guys!

I'm trying to understand if any of the `sytled-jsx` should be minified for production and I can't find any good answer.

I see the exact (long) names for all of my selectors in the global head tag when I deploy to production (using Next.js next-build command).

What am I missing here?

Thanks!

[2018-11-29 20:36] giuseppeg commented on #529
Hi Royee! Nope styled-jsx doesn't minify CSS. I don't think that Next.js does that eitherr

[2018-11-29 20:40] giuseppeg commented on #528
if you are using styled-jsx v3 you can do this:

[code]

hope this helps

[2018-11-29 20:40] #528 closed

[2018-11-29 20:41] #529 closed

[2018-12-02 22:54] jdolinski1 opened #530 "Error "insertRule` accepts only strings" when using with styled-components"
#### What is the current behavior?

1. Get `with-styled-components` example (https://github.com/zeit/next.js/tree/canary/examples/with-styled-components)
2. Add `<styled jsx tag` to the index.js file so you got something like:
[code]

5. Error appears:
[code]

6.  When i remove the ` "styled-components"` plugin from `.babelrc`, everything works fine.

#### What is the expected behavior?
Styled-jsx

[2018-12-04 21:00] ryanfitzer commented on #524
I'm closing this since we were never able to track down, or reliably able to reproduce the issue.

[2018-12-04 21:00] #524 closed

[2018-12-04 23:54] ssypi commented on #530
Not sure if the problem is with styled-jsx, [babel-plugin-styled-components](https://github.com/styled-components/babel-plugin-styled-components) or where, but installing babel-plugin-styled-components version 1.8.0 seems to fix this problem. 1.9.0 doesn't work or the current 1.9.2.

[2018-12-05 09:40] giuseppeg commented on #524
@ryanfitzer hey thanks for the update and sorry if I couldn't help - unfortunately atm I don't have a lot of time or energy to invest on the project after work

[2018-12-05 17:07] tomanagle commented on #530
I've been trying to figure this out for 3 days now. If you remove the jsx tag from your <style> tag, it seems to work.

So change:
[code]

To:
[code]

[2018-12-06 02:17] stevenhao commented on #513
i have the same issue

[2018-12-06 02:18] stevenhao commented on #513
To clarify: the styles that are lost are the ones specified in the source code via `<style jsx>`.

[2018-12-06 10:42] czy0729 commented on #489
Can this be possible?

[code]

[2018-12-07 15:13] jsve commented on #530
I'm having the same issu as the @jdolinski1

In desperation I have tried the following (with next.js 7.0.2):
- styled-components@4.1.2 + babel-plugin-styled-components@1.9.2
- styled-components@4.1.2 + babel-plugin-styled-components@1.8.0
- styled-components@4.0.0 + babel-plugin-styled-components@1.9.2
- styled-components@4.0.0 + babel-plugin-styled-components@1.8.0
- styled-components@3.1.0 + bab

[2018-12-07 15:31] ssypi commented on #530
@jsve Are you sure the versions were correctly installed and no caches or something was left behind? I ask because I had this problem, but when I installed babel-plugin-styled-componenta@1.8.0 it disappeared, I had styled-components@4.1.2 and the currently latest nextjs, 7.2 or is it 7.0.2.

I’m not sure but I think removing the jsx attribute will stop the prefixing of classes so it becomes global

[2018-12-07 15:38] jsve commented on #530
pretty sure. tried again now and ran `npm cache clean --force` and then `npm install` but with same error message. Is there something other i can try?

[2018-12-10 11:34] Peping commented on #489
@czy0729 That could conceivably overwrite a `styledCls` prop in a third-party component from a library.

What I eventually did was that I forked styled-jsx into my own npm package `comfy-styled-jsx`. Now I can do this
[code]

You can easily change the import's name to avoid possible collisions. I've found that this is the best solution I could come up with.

[2018-12-10 22:53] SimonSiefke opened #531 "Wrong output for nth-child() in combination with a class"
#### Do you want to request a *feature* or report a *bug*?
A bug.

#### What is the current behavior?
The CSS doesn't get compiled correctly.

In the following example
[code]

the styles get compiled to
[code]

There is an extra space between nth-child(1) and .green, which should not be there.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo

[2018-12-11 17:54] rgbkrk opened #532 "Document using styled-jsx with TypeScript"
How should typescript users be working with styled-jsx? There are a bunch of closed issues, all which point to #90 (which is also closed). I'd love to see some documentation in the README that outlines what TypeScript developers should be using.

Questions I'd love to have answered:

* Are we required to use typescript through babel (so the styled-jsx transform happens)?
* If we're in a full `tsc`

[2018-12-11 19:09] giuseppeg commented on #531
Hi this is a bug in Stylis, the css processor we use to scope selectors. Can you report the issue to them https://github.com/thysultan/stylis.js ? Mention that this happens wen you use `cascade: false`

[2018-12-12 17:31] rgbkrk commented on #532
@DanielRosenwasser -- would you see a way ahead for using styled-jsx in typescript? It uses a babel transform, comes as a built in within [next.js](https://github.com/zeit/next.js). Ideally, we'd like to be on `tsc` proper without using the typescript babel setup, though we'd still need some sort of hook to happen here.

[2018-12-12 20:24] giuseppeg commented on #532
if you can [skip jsx transpilation](
https://github.com/zeit/styled-jsx/issues/90#issuecomment-386913263) probably you can run tsc first and then Babel with styled-jsx. Would tha work? I’ve never used TypeScript so I am afraid I can’t be of much help here

[2018-12-13 04:47] shYkiSto commented on #530
That's related to changes introduced in https://github.com/styled-components/babel-plugin-styled-components/pull/172 to support this "new" `css` prop API: https://www.styled-components.com/docs/api#css-prop

What happens is that component generated from `<style jsx />` gets transpiled by the styled-components babel plugin as styled-jsx uses the `css` prop internally.

I would suggest this conflict

[2018-12-13 08:31] giuseppeg commented on #530
@shYkiSto thanks for debugging this. There is nothing we can do about that except changing the prop name but that should happen in a major release which we are not planning. @rauchg / @timneutkens can make the call though.

[2018-12-13 12:07] timneutkens commented on #530
I'd be fine with changing the prop, it's just that we have to keep in mind to use a similar short name otherwise bundle size increases.

[2018-12-13 12:21] giuseppeg commented on #530
we can switch from

[code]
to

[code]

[2018-12-13 21:37] jamestalmage opened #533 "Warn on multiple instances of StyleSheetRegistry"
Due to a SemVer mismatch between `Next` and my own `package.json`, I ended up with the following directory structure:

[code]

This led to `Next` not rendering my styles server side (it's registry was empty).

I see two options:
  1. Set a global flag and warn if two different registries are instantiated.
  2. Drop the built-in support from `Next`, and provide an easy solution for injecting it (si

[2018-12-13 21:38] jamestalmage commented on #533
Option 1 is pretty straightforward. I'd happily submit a PR.

[2018-12-13 21:46] jamestalmage commented on #533
3rd Option:

Build detection of this problem into the `Next` server.

[2018-12-13 22:03] rgbkrk commented on #532
I guess that means we'd be having babel do both the react and styled-jsx portions at that point. I'm unsure we want to do that as an extra build process, especially since we have multiple components in different packages across a monorepo.

[2018-12-14 03:07] shYkiSto commented on #530
@timneutkens @giuseppeg Let me know if you need any help making this change.

[2018-12-14 03:19] DanielRosenwasser commented on #532
Hey all, I'm not familiar with the exact workflow here but Babel is definitely an option if there's a custom build step involved. Alternatively one could build a transform for TypeScript as well, but that's not usable from plain `tsc` right now. It *would*, however, usable from ts-loader. Not sure if that helps.

[2018-12-14 03:20] DanielRosenwasser commented on #532
CC @weswigham for exposing transforms in tsc.

[2018-12-14 08:37] giuseppeg commented on #533
@jamestalmage thanks for the detailed description. We have an open issue to fix this https://github.com/zeit/styled-jsx/issues/64 but it requires some work and I am not sure when we will get to it. Probably now that we have the new context API it is easier to implement that, let me know if you'd be interested in contributing with a solution.

[2018-12-14 18:12] rgbkrk commented on #532
We're not running into type definition issues with styled-jsx. The main issue is figuring out how we should rewrite our current suite of styled-jsx backed components and apps (ref:  https://github.com/nteract/nteract/issues/3849) when we're relying on `tsc`.

Would there be a way for us to use the `JSXStyle` element directly, computing our `styleId`:

[code]

[2018-12-15 01:04] vincent178 commented on #229
Hi @royeeshemesh , I believe I found the solution at that time, but I can't find the code any more, now I turn to use styled-components, I already use it for some time, it's pretty good.

[2018-12-15 13:05] giuseppeg commented on #532
yes you could do that. `styleId` is an hash of the css string. In production you should pass an array of rules to `css` to get all the optimizations.

[2018-12-16 16:00] giuseppeg commented on #530
@shYkiSto if you have time I'd welcome a PR!

[2018-12-17 12:01] giuseppeg commented on #530
@webberwang if you remove the `jsx` attribute you are opting out styled-jsx :)

[2018-12-18 15:34] jamestalmage commented on #533
I would happily contribute. Given #64, it seems that a singleton registry isn't going to be ideal in all scenarios.

I am guessing that we can safely assume the user doesn't want to be use a deep copy of `styled-jsx` if another version exists nearer the root of the node_modules heirarchy.

I propose we walk the heirarchy and simply issue a warning on the console if we find evidence that user code

[2018-12-20 22:41] Soundvessel commented on #458
A heads up (see referenced issue above) that this bug resurfaced when using the `styled-jsx-plugin-sass` plugin.

[2018-12-22 08:39] giuseppeg commented on #28
@treshugart hi, I am not sure if this is doable since we support dynamic, external styles and fragments:

[code]

[2018-12-23 05:49] lucifer1004 commented on #530
Downgrade `babel-plugin-styled-components` to `1.8.0` worked. Mark here to see the progress of this problem.

[2018-12-26 19:36] giuseppeg commented on #533
yep I know but it still feels dirty - nothing wrong with the solutions you suggested, I just think that the only way to "fix" this is to go for an hack and I think it is not super important. I mean imagine if any lib that could be installed multiple times added checks of this kind.

other libraries should declare `styled-jsx` as a `peerDependencies`, when they don't do this and declare it as a reg

[2018-12-27 07:53] #530 closed

[2018-12-27 15:43] giuseppeg commented on #533
James I hope my comments didn’t sound too harsh. If they did sorry for the tone :) I was typing from my phone and didn’t read again before publishing. I just wanted to explain the rationale that makes me say “in my opinion we shouldn’t implement this”. If you feel strong about this feature maybe we can open an issue on the next.js repo and see what the zeit folks say

[2018-12-28 10:09] timneutkens commented on #533
Seems like none of the mentioned solutions are considering the current flushing mechanism has to be changed anyway to be async-safe anyway.

Basically it would make a lot of sense to have styled-jsx emit style tags while rendering through a function passed into context. Similar to what react-loadable does:

https://github.com/zeit/next.js/blob/canary/packages/next-server/server/render.tsx#L172

Th

[2018-12-29 10:38] giuseppeg commented on #533
@timneutkens isn't that what is happening right now? https://github.com/zeit/styled-jsx/blob/master/src/style.js the problem is that styleSheetRegistry is not injectable via context, if we do so we should be good

[2018-12-29 12:06] timneutkens commented on #533
Exactly, when the registry can come from context that'd be the solution 👍

[2019-01-03 22:39] rgbkrk commented on #532
It turned out to be much easier for us to switch over to `styled-components`, so we've done just that. Thanks for `styled-jsx` over the last couple years!

[2019-01-05 07:46] littlepoolshark commented on #409
@oskari Did you find the fix/workaround? If so please share the solution.

[2019-01-06 18:09] #458 closed

[2019-01-07 04:02] jaydenseric commented on #500
Oof, this is a big inconvenience when attempting to load the Mapbox CSS:

- https://github.com/zeit/styled-jsx#styles-in-regular-css-files
- https://uber.github.io/react-map-gl/#/Documentation/getting-started/get-started?section=styling
- https://unpkg.com/mapbox-gl@0.52.0/dist/mapbox-gl.css

<img width="353" alt="screen shot 2019-01-07 at 3 00 59 pm" src="https://user-images.githubusercontent.com

[2019-01-08 07:15] oskari commented on #409
@vishnunarayanan @littlepoolshark It works as it's supposed to do, nothing to "fix".  You can import a sass file on every styled-jsx block that has the variables.

[2019-01-08 10:48] rm-rf-etc commented on #489
This really needs to be documented. I was struggling for hours to apply `slick-carousel/slick/slick.css` to a react-slick component.

I also encountered issue https://github.com/zeit/styled-jsx/issues/495, which, for me was – again – mostly an issue of lacking documentation.

[2019-01-10 13:15] klaemo opened #537 "styled-jsx/babel-test in combination with styled-jsx/css"
Hey there!
Thank you for your work on styled-jsx :)

#### Do you want to request a *feature* or report a *bug*?
bug

#### What is the current behavior?
When using `styled-jsx/babel-test`, `styled-jsx/css` throws the following error:

[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox

[2019-01-10 23:24] ssylvia opened #538 "v3.1.3 throws TypeError in Storyshots"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

All storyshots render to JSON as expected (v3.1.2)

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

Run `yarn test` with Jest and storyshots addon to Storybook

Produces th

[2019-01-14 08:14] scythargon commented on #310
Still can't setup this ><
installed `styled-jsx-plugin-postcss`, added it to babel config, and `postcss-preset-env` (which replaces `postcss-cssnext` nowadays)

created `postcss.config.js`:
[code]
Now I get:
![image](https://user-images.githubusercontent.com/1755870/51101827-316efc80-17fe-11e9-84f3-d7096d221155.png)

but still
![image](https://user-images.githubusercontent.com/1755870/51101848-4ba

[2019-01-15 00:44] samholmes opened #539 "Issue when using Spread Operator in JSX"
There seems to be an issue with spread props and style-jsx:

[code]

Gives an error:

[code]

The only fix for this bug is to remove the `<style jsx>` element altogether.

Related: https://github.com/zeit/next.js/issues/6057

[2019-01-15 11:45] nhayhoc commented on #498
@ryanfitzer  you save my life !

[2019-01-15 19:07] jota12x commented on #530
@lucifer1004's solution worked for me as well. Thanks :)

[2019-01-15 19:10] giuseppeg commented on #504
@DmitryKozyrenko can you provide a snippet of CSS so that I can test this

[2019-01-15 21:24] #486 closed

[2019-01-15 21:33] #505 closed

[2019-01-15 21:34] #500 closed

[2019-01-15 21:37] giuseppeg commented on #538
Hi @ssylvia sorry but I am not familiar with Storyshots. Can you put together a sample repo that I can clone and try out? By the way we recommend to not include styled-jsx in test environments see https://github.com/zeit/styled-jsx#rendering-in-tests

[2019-01-15 21:38] giuseppeg commented on #539
Yeah this is an edge case. Would you like to make a PR?

[2019-01-15 21:42] giuseppeg commented on #537
@klaemo hi! You should mock that module. See https://kevinjalbert.com/jest-snapshots-reducing-styled-jsx-noise/
https://github.com/zeit/styled-jsx/issues/469#issuecomment-423243758
https://github.com/zeit/styled-jsx/issues/434#issuecomment-415801021

[2019-01-15 21:47] #537 closed

[2019-01-15 22:40] samholmes commented on #539
I’d love to however I’m not familiar enough with the code base to begin to understand what the issue could be. Any thoughts?

[2019-01-17 11:10] giovannipds commented on #433
Glad to see this issue closed, that's a very weird bug. xD

[2019-01-17 15:15] doniyor2109 commented on #539
@giuseppeg Hi. Can I take this issue?

[2019-01-20 15:15] Tomekmularczyk opened #542 "styled-jsx/babel breaks with rollup and babel@7"
Because the article I wrote about [bundling styled-jsx components with Rollup](https://github.com/zeit/styled-jsx#build-a-component-library-with-styled-jsx) still receives over hundred of views weekly (which makes me happy) I would like to update it:
babel 6 -> 7
rollup 0 -> 1
styled-jsx2 -> 3

#### Do you want to request a *feature* or report a *bug*?

BUG

#### What is the current behavior?

Whe

[2019-01-21 08:21] Maxwell2022 opened #543 "Version incompatibility using Next 7.0.2 & styled-jsx 3.2.0"
We noticed an error in one of our staging server today. It looks like there is version incompatibility between `next 7.0.2` and `styled-jsx 3.2.0`. It's building fine however running the server we get the following error:

[code]

Replace this version of `styled-jsx` with the `version 3.1.0` is fixing our error.

Not really sure what is going on

[2019-01-22 00:33] jaydenseric commented on #500
@giuseppeg are you sure this issue was fixed by the stylis upgrade? The stylis issue is still open:

https://github.com/thysultan/stylis.js/issues/123

[2019-01-23 07:42] zhangyu921 opened #544 "Using `padding: ${'.3rem'} 0;` not work"
Bug report;

#### What is the current behavior?

[code]

#### What is the expected behavior?

#### Environment (include versions)

* OS: mac os mojave
* Browser: chrome
* styled-jsx (version): 3.2

[2019-01-23 08:04] zhangyu921 commented on #544
Oh...  Bug from styled-jsx-plugin-sass;

[2019-01-23 08:04] #544 closed

[2019-01-23 10:15] AtaruOhto opened #545 "An example code on docs causes Next.js to crash."
#### Do you want to request a *feature* or report a *bug*?

:bug: (Probably)

#### What is the current behavior?

using styled-jsx causes Next.js to crash.

<img width="1326" alt="localhost_3000" src="https://user-images.githubusercontent.com/3450879/51599353-b8c91800-1f42-11e9-8918-c8f8d05e0231.png">

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a mini

[2019-01-23 17:43] ssylvia commented on #543
Had this same issue. It works at v3.1.2 but bot v3.1.3

[2019-01-23 17:45] ssylvia commented on #538
@giuseppeg Is there a way to disable styled-jsx in tests when using the `next/babel` preset?

[2019-01-24 07:33] ijjk commented on #545
@AtaruOhto, since `styled-jsx` is included in Next.js forcing the version in this way seems to break it. You can specify a different `styled-jsx` version from what Next.js sets by either using the [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) field for `yarn` or [npm-shrinkwrap](https://stackoverflow.com/questions/15806152/how-do-i-override-nested-npm-dependency-ve

[2019-01-24 07:48] ijjk commented on #543
@Maxwell2022 @ssylvia does [this reply](https://github.com/zeit/styled-jsx/issues/545#issuecomment-457096043) help or are you handling updating the `styled-jsx` version differently? If it's different, can you upload a small reproduction?

[2019-01-24 10:41] AtaruOhto commented on #545
@ijjk

Thank you very much.
I appreciate your quick and kind answer.

I'm so sorry to trouble you. I assumed that I should bundle styled-jsx manually when using "styled-jsx" with Next.js. I should have read Next.js document more carefully.

I 'm using Next.js in production in another project and like it very much.
Thank you :)

I'll close the issue.

[2019-01-24 10:41] #545 closed

[2019-01-24 14:17] giuseppeg commented on #500
not sure I tested the specific rule from your screenshoot and the OP and they looked fine see:

[code]

[2019-01-27 04:52] l4lilulelo commented on #436
Did anyone solve this issue? I am facing the same issue with jest --coverage.

[2019-02-01 23:14] NathanielHill commented on #542
Anyone find anything on this?

[2019-02-04 13:34] hojarasca commented on #542
I'm having the exact same issue here.

[2019-02-04 14:25] NathanielHill commented on #542
I can get around the error by disabling source maps, but then I get the following:
[code]
Investigating now

[2019-02-04 14:46] hojarasca commented on #542
Inspecting a little bit the transpiled code I found lots of calls like this:

`style$2.dynamic([["87120197", [padding, padding, CLOSING_TIME, CLOSING_TIME, padding, padding]]]) + " " + 'close-button'`

Inspecting the element I see that it doesn't have a `dynamic` property but it has a `default` property which do have a `dynamic property. If I add the `.default` in the middle I get a more obscure e

[2019-02-04 18:44] NathanielHill commented on #542
This looks like the function it's expecting:

https://github.com/zeit/styled-jsx/blob/cdfd1fcb756b668b16f792e007bb8b56e6db4042/src/style.js#L12

[2019-02-04 19:15] NathanielHill commented on #542
@hojarasca changing to `style$2.default` actually worked for me.

I think some of my issues is that I'm in a monorepo and `include`, `exclude`, and `external` are tricky.

I don't think Rollup was treating it as a proper external, and I fixed that by matching the `id` with a regex:

[code]

I've got it rendering now without error, but there are no styles applied. This may have to do with the fact

[2019-02-04 21:18] NathanielHill commented on #542
@Tomekmularczyk @hojarasca I was having this problem as well. I solved it by making sure it was properly excluded from the bundle as an `external`. I also am including `node_modules` in `commonjs()` plugin and excluding from `babel()` plugin.

@Tomekmularczyk Perhaps you need to `include: /node_modules/` in `commonjs()`?

[2019-02-05 01:46] NathanielHill commented on #542
So, I've gotten everything working locally, but when I try to deploy to now I get the following error:

[code]

Looks like `sanitize()` isn't being passed anything: https://github.com/zeit/styled-jsx/blob/cdfd1fcb756b668b16f792e007bb8b56e6db4042/src/stylesheet-registry.js#L4

[2019-02-05 01:53] NathanielHill commented on #542
Okay, weirdest part is that error occurs in a different Next.js app in my monorepo that hasn't had any code changes :thinking: That's worrisome.

The `styled-jsx` package is hoisted by yarn workspaces to the root `node_modules`... hope we're not leaking problems across apps in my monrepo

[2019-02-05 16:41] NathanielHill commented on #542
I can confirm that this is specifically some king of global state issue, since it's fixed by using `nohoist` options with yarn workspaces to keep a seperate `styled-jsx` module in each package. @giuseppeg Should I open a separate issue for this?

[2019-02-07 10:13] theallseingeye commented on #542
@NathanielHill how did you fix it with using nohoist? I have this same problem for a package (https://github.com/sergiodxa/next-nprogress/) which uses this a dependency (I am using a yarn monorepo too)

[2019-02-07 12:30] hojarasca commented on #542
Hi, guys. Here I have my last experiments.

I tried to bundle my component library using `webpack` instead of `rollup`. After I managed to correctly configure webpack it worked, but it failed on runtime. This only happens `styled-jsx` is part of the build. It works `styled-jsx` it's not included.

But... I started to try different stuff and at the end I discovered that it works if I compile in pro

[2019-02-07 15:14] NathanielHill commented on #542
@theallseingeye So, if a module is required from the same file path, it will be cached by node and therefore behave like a Singleton.

It appears to me that I was having some kind of state/style leakage occuring across workspaces in my monorepo, so I made sure the shared component workspace had it's own copy of `styled-jsx`.

https://yarnpkg.com/blog/2018/02/15/nohoist/

I believe this is a bug @g

[2019-02-08 13:39] giuseppeg opened #547 "sourceMaps are broken"
Related to #542

It seems that in 3.2.0 we broke source maps. This is probably because now we traverse manually. cc @ijjk

[2019-02-08 13:39] giuseppeg commented on #542
@Tomekmularczyk I took a look at [your branch](https://github.com/Tomekmularczyk/rollup-styled-jsx/tree/update-to-latest) and as mentioned in this issue at some point it seems that some source maps are invalid. If you disable source maps in the babel conf `plugins: [['styled-jsx/babel', { sourceMaps: false ]]` then your test case builds just fine.

I will try to debug when I have some time.

As fo

[2019-02-08 13:39] #542 closed

[2019-02-08 13:44] NathanielHill commented on #542
@giuseppeg I'll open an issue if I can find the time to reproduce. My setup is quite complicated, so hopefully it's not too crazy to isolate a minimal reproduction

[2019-02-08 15:58] giuseppeg commented on #543
what @ijjk said :)

[2019-02-08 15:58] #543 closed

[2019-02-08 15:59] giuseppeg commented on #538
@ssylvia you need to filter the preset plugins. This is how a preset looks like https://babeljs.io/docs/en/presets#creating-a-preset

[2019-02-08 15:59] #538 closed

[2019-02-09 09:29] robertu7 opened #548 "Prettier doesn't work in `css.global` or `css.resolve`"
#### Do you want to request a *feature* or report a *bug*?
bug

#### What is the current behavior?
`css.global` or `css.resolve` wrapped CSS cannot be formatted with Prettier, only `css` wrapped's work.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

[code]
[code]

#### W

[2019-02-09 11:44] RoberMac commented on #548
I used [CSS Preprocessing via Plugins](https://github.com/zeit/styled-jsx#css-preprocessing-via-plugins) for temporarily fix formatting issue. :)

[2019-02-09 12:51] bySabi opened #549 "[feature request] `useStyle` hook like API will be possible, is on roadmap ?"
I don't know for sure if a `useStyle` hook could be implemented or is desirable?.
For Example: https://github.com/andywer/react-usestyles

Any insight on this?

[2019-02-10 09:58] #539 closed

[2019-02-10 12:22] giuseppeg commented on #548
yup somebody should submit a PR to Prettier to add support for these :)

[2019-02-10 12:24] giuseppeg commented on #547
this is not working:

https://github.com/zeit/styled-jsx/blob/0907abb7711bb51e529621babc7bcb33ba0bd6c1/test/index.js#L10-L14

it should be:

[code]

[2019-02-10 12:30] giuseppeg commented on #549
styled-jsx is mostly a build time tool. There is some runtime but scoping happens at build time - mostly (partially exception for dynamic styles.

I thought of something like this https://twitter.com/giuseppegurgone/status/1059009092709167104
and probably a babel plugin could precompile these and rewrite JSX to include the scoped class name instead of the hook returning a custom `createElement` th

[2019-02-10 12:30] #549 closed

[2019-02-10 20:41] #547 closed

[2019-02-10 20:47] giuseppeg commented on #533
Cool we will fix this with #64 then 🎉 thank you folks for your inputs

[2019-02-10 20:47] #533 closed

[2019-02-13 19:00] ssylvia opened #553 "Upgrading to 3.1.3 throws error in snapshot tests"
#### Do you want to request a *feature* or report a *bug*?*
Bug

#### What is the current behavior?
Snapshots test in jest throw the following errors when upgrading to v3.1.3:

https://github.com/ssylvia/styled-jsx-snapshots/blob/master/test-output.md

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app,

[2019-02-13 19:04] ssylvia commented on #553
@NathanielHill Seems like this may be related to your comment here: https://github.com/zeit/styled-jsx/issues/542#issuecomment-460483781.

[2019-02-13 20:58] gilbert opened #554 "Trailing comma bug"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

Leaving a trailing comma on a selector causes the rule to affect all elements. Example:

[code]

#### What is the expected behavior?

Should throw a syntax error since it's not valid css.

#### Environment (include versions)

* OS: OS X Mojave
* Browser: Safari
* styled-jsx (version): 3.2.1

#### D

[2019-02-14 05:47] ijjk commented on #553
@ssylvia I just tried cloning your sample repo and running `yarn test --verbose` from `test-output.md` and I'm not getting any of the errors shown. Let me know if I'm missing a step or something and I can try again.

Steps I took to try reproducing:
[code]

I also tried deleting the snapshots and re-running the command and it still appears to run ok.

I tested it with:
- OS mac OS 10.14.3
- yarn v

[2019-02-14 13:28] ssylvia commented on #553
@ijjk Thanks for helping debug. I just tried this again on a clean clone of the repo and think I have steps to reproduce. It looks like there might be some bug happing with something stuck in the `styled-jsx` cache.

**Steps to repoduce**

1. `git clone https://github.com/ssylvia/styled-jsx-snapshots`
2. `cd styled-jsx-snapshots`
3. Change line 40 in package.json from "next/styled-jsx": "3.1.3" to

[2019-02-14 15:12] ijjk commented on #553
@ssylvia changing the `next/styled-jsx` resolution version between `3.1.2` and `3.1.3` after running a test got the errors. This appears to be due to `jest`'s caching and not `styled-jsx`'s since `styled-jsx` does not keep a persistent cache of its own.

I would recommend running `yarn jest --clearCache` while in the project directory after changing a package version.

[2019-02-15 14:31] giuseppeg commented on #554
CSS is permissive and never throws errors. You might want to use a linter maybe https://github.com/giuseppeg/styled-jsx-plugin-stylelint

[2019-02-15 14:31] #554 closed

[2019-02-15 20:20] gilbert commented on #554
Ok fine, but that's not the bug. The bug is "Leaving a trailing comma on a selector **causes the rule to affect all elements**". This is not how CSS behaves.

[2019-02-16 15:05] giuseppeg commented on #554
oh fair enough sorry for closing right away. In that case you may want to file an issue to this repo https://github.com/thysultan/stylis.js/issues - this is the CSS preprocessor we use.

[2019-02-17 12:22] danielsimao opened #555 "Problem in setting up styled-jsx"
Hi, I couldn't find anything related to my problem so here we go. I just installed the module and I'm not able to fix the following problem.

version : "styled-jsx": "^3.2.1"

Line 34:  Parsing error: Adjacent JSX elements must be wrapped in an enclosing tag. Did you want a JSX fragment <>...</>?

[2019-02-19 01:56] ijjk commented on #555
This isn't a `styled-jsx` error, it is a JSX error. See [here](https://stackoverflow.com/a/33385872) for more info. Also, note `<></>` is just shorthand for `<React.Fragment></React.Fragment>`

[2019-02-19 12:47] giuseppeg commented on #555
If you are using it with Next.js then you need to

[2019-02-19 12:47] #555 closed

[2019-02-19 12:47] #553 closed

[2019-02-19 12:47] #532 closed

[2019-02-19 12:48] giuseppeg commented on #516
hi this should be fixed in the latest version

[2019-02-19 12:48] #516 closed

[2019-02-19 12:48] #512 closed

[2019-02-19 12:49] #508 closed

[2019-02-19 12:49] #479 closed

[2019-02-19 12:50] giuseppeg commented on #436
still an issue with 3.2.1?

[2019-02-19 12:51] #471 closed

[2019-02-22 19:20] Tomekmularczyk commented on #542
Thanks a lot for this @giuseppeg ! I have updated the [article](https://medium.com/@tomaszmularczyk89/guide-to-building-a-react-components-library-with-rollup-and-styled-jsx-694ec66bd2) and [repo](https://github.com/Tomekmularczyk/rollup-styled-jsx).

[2019-02-24 09:50] TxHawks opened #556 ""Cannot read property 'name' of undefined" error from isStyledJsx in _utils.js"
#### Do you want to request a *feature* or report a *bug*?
Report a bug

#### What is the current behavior?
When using Next 8.0.1 and styled-js 3.2.1 (installed as a next dependency), I get a `Cannot read property 'name' of undefined` TypeError in `_utils.js`.  This only happens when also using [`next-transpile-modules`](https://github.com/martpie/next-transpile-modules)

The offending code is the

[2019-02-28 09:03] ekanant commented on #310
When I import bootstrap.css from node_modules It has error

`Error: Nesting detected at 31452:1. Unfortunately nesting is not supported by styled-jsx.`

I found that the error is from this style, It's from navbar bootstrap 4, How can I fix this?
[code]

[2019-02-28 14:51] ekanant opened #557 "Not work Unfortunately nesting is not supported by styled-jsx."
**What expected behavior**
The css file imported to <style> in <head>

**Reproduced**
`import "bootstrap/dist/css/bootstrap.min.css";`
or
`import "bootstrap/dist/css/bootstrap.css";`

**What version**
"styled-jsx": "^3.2.1"

When I import bootstrap.css from node_modules It has error

`Error: Nesting detected at 31452:1. Unfortunately nesting is not supported by styled-jsx.`

I found that the error

[2019-02-28 20:47] Soundvessel opened #558 "JS Variable in JSX breaks when used in SASS Function"
#### Do you want to request a *feature* or report a *bug*?

Bug

#### What is the current behavior?

SASS functions are getting run before the JS variable is processed creating a build error.

[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

Example: https://codesan

[2019-03-01 09:10] Darep commented on #502
We're also running into this problem while upgrading to Next.js 7 😄 Basically the snapshots change into these "monsters" :joy: with crazy amount of lines as there's a newline after each character inside JSXStyle:

![image](https://user-images.githubusercontent.com/218910/53627863-3a7f2600-3c12-11e9-81a3-2327bf4d264f.png)

next/babel preset seems to force(?) styled-jsx/babel into the mix and adding

[2019-03-01 13:15] Darep commented on #502
@giuseppeg Thanks for the tip on the other issue 😊

I managed to add styled-jsx/babel-test to plugins, though I still get the [weird snapshot](https://user-images.githubusercontent.com/218910/53640111-ed13b080-3c33-11e9-96c3-d38cde1a9884.png) where each character is on their own line, it's just now a `<style>`-element instead of `<JSXStyle>` o_O Not sure if this is caused by styled-jsx at this poi

[2019-03-01 13:38] Darep commented on #502
I forced Next.js 6 to use styled-jsx@3.0.0 and that seems to break the snapshot test in this weird way: https://github.com/Darep/next-js-styled-jsx-jest-snapshot/commit/1c39d0abc6a75eb773717b00dbee18149c3d9695

...so not Next.js version specific, just the styled-jsx 3.0.0 changes breaking our snapshots in this way 🤔

[2019-03-01 15:35] Darep commented on #502
Tried to get .babelrc + styled-jsx/babel-test + Next.js working, but I wasn't successful (for now) 😄 Unfortunately in a bit of a hurry here, so gonna take the quick route for now and apply a dirty patch for styled-jsx/babel.js for our project

Patch here in the example repo: https://github.com/Darep/next-js-styled-jsx-jest-snapshot/commit/038660e461271eb13aa3bbf22efda9dbe5357f5f

This enables babe

[2019-03-02 13:50] giuseppeg commented on #558
Hi unfortunately this is not possible as SASS is run at build time and JS (interpolations) at runtime. In general interpolations cannot be preprocessed https://github.com/zeit/styled-jsx#css-preprocessing-via-plugins

[2019-03-02 13:50] #558 closed

[2019-03-03 15:32] giuseppeg commented on #557
hi! can you create a PR with a failing test https://github.com/zeit/styled-jsx/blob/master/test/styles.js ?

[2019-03-03 15:38] giuseppeg commented on #556
hi this could be a precedence issue i.e. maybe `next-transpile-modules` runs before styled-jsx and it is transpiling something which leads to the bug. Have you tried to remove styled-jsx from the next/babel preset? What does your `transpileModules` look like?

[2019-03-05 13:02] aleksspeaker commented on #471
@giuseppeg why's that issue is closed?
Is it fixed?

[2019-03-05 13:55] giuseppeg commented on #471
Hi @aleksspeaker I thought the OP gave up on styled-jsx and we now support Babel 7.
Do you have a test case that uses the latest version of styled-jsx?

[2019-03-05 20:44] Asherlc commented on #436
It appears to be, yes

[2019-03-28 03:54] Vitaminaq commented on #361
There is no need to use Babel and install style-jsx in next

[2019-03-28 03:55] Vitaminaq commented on #487
There is no need to use Babel and install style-jsx in next

[2019-03-28 20:02] gavinsharp commented on #557
I think this is the same issue as https://github.com/zeit/styled-jsx/issues/500 (caused by https://github.com/thysultan/stylis.js/issues/123).

[2019-03-28 22:04] Soundvessel commented on #557
Same issue while using the example https://github.com/zeit/next.js/tree/canary/examples/with-external-styled-jsx-sass

I can nest with SASS in my own files, including imports, but anything imported from node_modules it seems to think it is CSS and not SASS again.

You can see by looking at file `globals.scss` and un-commenting the line that imports from bootstrap. https://codesandbox.io/s/0y2q7162

[2019-03-28 22:53] Soundvessel commented on #557
So using NextJS's https://github.com/zeit/next.js/tree/canary/examples/with-next-sass you can see the import `@import "~bootstrap/scss/bootstrap";` works https://codesandbox.io/s/402km8x797 (look in `/styles/globals.scss`)

The same import using the method from https://github.com/zeit/next.js/tree/canary/examples/with-external-styled-jsx-sass does not https://codesandbox.io/s/0y2q7162k0 (go into `

[2019-03-29 08:50] giuseppeg commented on #557
If you use bootstrap globally you can avoid importing it otherwise somebody should raise the issue on Stylis. Ping the author https://github.com/thysultan/stylis.js/issues/123

[2019-03-29 16:19] Soundvessel commented on #557
Unfortunately, we use a mixture of Bootstrap SASS files compiled with our own to create a customized design system and those variables, functions, and mixins are also imported into our scoped SASS for custom components to keep the design consistent. Once this bug is resolved the external styled jsx sass solution will be the silver bullet I have been waiting for.

[2019-03-29 16:22] giuseppeg commented on #557
@Soundvessel I encourage you to leave a comment on the issue I linked in my prev comment and see if the stylis author can fix this quickly

[2019-03-30 06:16] guanpengchn commented on #27
@yxh10  Do you have any idea about your question? I have the same problem now.

[2019-03-30 06:24] guanpengchn commented on #278
@johhansantana  Could you use style-jsx in ant design components? I config the babel file and code it as the example. But it doesn't work. Please tell me how to use it. Thank you very much.

[2019-04-09 08:39] TxHawks commented on #556
Sorry for the long delay in replying. Closing since the issue seem to no longer happen with latest version of Next.

[2019-04-09 08:39] #556 closed

[2019-04-11 07:50] achefinil opened #560 "_JSXStyle is not defined"
####  my .babelrc file
[code]
#### my js
[code]
then i got error ~ Please give me solution for this problem.

`ReferenceError: _JSXStyle is not defined`

#### Environment (include versions)

* OS: mac windows
* Browser: chrome
* styled-jsx (version): styled-jsx 3.2.1 nextjs 8.0.1

[2019-04-16 02:30] Macil opened #561 "Selectors with linebreaks silently break sometimes"
#### Do you want to request a *feature* or report a *bug*?

bug

#### What is the current behavior?

Some multi-line CSS selectors are mis-compiled. Take the following CSS:

[code]

styled-jsx compiles this into

[code]

Notice that the `div:hover \n a { display: none; }` rule got transformed into `.jsx-4062291310{div:hover;} a.jsx-4062291310{display:none;}` which is very wrong.

#### What is the

[2019-04-18 02:50] CGreenburg commented on #337
This is pretty old, but this is what I did to get by this error:

Component
[code]

style.js
[code]

[2019-04-21 07:48] giuseppeg commented on #561
This should be a bug in Stylis (https://github.com/thysultan/stylis.js) the css processor we use to rewrite selectors. Can you file an issue there?

[2019-04-22 18:58] tbarkley commented on #560
I'm having a similar issue;

next: ^8.0.4
webpack: ^4.30.0
styled-jsx: ^3.2.1

[2019-04-22 19:19] tbarkley commented on #560
@achefinil ... I found this which may be the cause: #545

[2019-04-22 21:24] tbarkley commented on #560
I'm still also trying to get this to work and #545 is not the issue I think (I'm not using a different version of styled-jsx now at all in my dependencies). I was getting the same _JSXStyle is not defined and while attempting to debug I tried this which actually caused it to work;

**MainLayout.jsx**

[code]

[2019-04-22 21:36] tbarkley commented on #27
@yxh10 I'm also having this same issue

[2019-05-03 02:36] Rapol commented on #560
I'm experiencing the same issue when I include styled-jsx-plugin-sass to my babelrc. Importing _JSXStyle fixes the problem just like @tbarkley found.

.babelrc
[code]

next: ^8.0.3
styled-jsx-plugin-sass: ^1.0.0

I thought it was the same issue as https://github.com/zeit/styled-jsx/issues/545 but I dont have styled-jsx as a dependency and styled-jsx-plugin-sass doesn't have it either. I searched m

[2019-05-03 06:00] achefinil commented on #560
@tbarkley thank you very much ..

[2019-05-03 06:01] achefinil commented on #560
@Rapol thank you very much

[2019-05-04 00:27] Rapol commented on #560
I was able to fix my problem following the sass sample at (https://github.com/zeit/next.js/tree/canary/examples/with-external-styled-jsx-sass). Seems like I was misusing the babel config.

[2019-05-06 16:28] alabobriggs commented on #337
This worked for me

[2019-05-10 09:14] SwordsmanYao commented on #90
global.d.ts
`
declare namespace JSX {
  interface IntrinsicElements {
    style: {
      jsx: boolean;
    };
  }
}
`

[2019-05-11 16:14] nhooyr commented on #186
@alextiley afaik it does not work for styled JSX. At least not for me. See

<img width="992" alt="Screen Shot 2019-05-11 at 12 14 07 PM" src="https://user-images.githubusercontent.com/10180857/57572300-480d1500-73e6-11e9-8830-c8e67c79fa9e.png">

[2019-05-14 15:00] artshipulin commented on #504
We're having a similar issue: `local('Roboto Condensed')` becomes `local("Roboto:Condensed")`. Here is a snippet of CSS to test with:

[code]

[2019-05-14 15:05] hongrich commented on #548
This should be fixed with https://github.com/prettier/prettier/pull/6089

[2019-05-22 04:02] HansUXdev commented on #205
Any update on this?

 Or atleast using postcss plugins for css nesting and [container-query](https://github.com/ZeeCoder/container-query)?

With javascript functions and variables, we don't really need css vars (and the ugly syntax) or mixins but nesting and container query support would be very nice.

[2019-05-30 20:37] fchengpc commented on #382
hi @giuseppeg, can you prefix the same way with a given class? I was trying `  :global(.reactCard) {...}` to get the correct prefix.
![Screen Shot 2019-05-30 at 4 35 11 PM](https://user-images.githubusercontent.com/6640631/58662896-35a53d80-82f9-11e9-9edd-045d376decd3.png)

[2019-05-31 07:00] giuseppeg commented on #382
@fchengpc if you want to style 3rd parties components you can use this technique https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent or this https://github.com/zeit/styled-jsx#the-resolve-tag

[2019-05-31 13:09] ArtyomResh commented on #560
Any suggestions on how to fix this for large projects that start `using next-js` and `styled-jsx` along time ago? I can't afford to manually paste `import _JSXStyle from "styled-jsx/style"` in every file that uses `styled-jsx`

[2019-06-05 22:02] fchengpc commented on #382
🤔 not working for me.  what am I doing wrong here?

![Screen Shot 2019-06-05 at 6 01 36 PM](https://user-images.githubusercontent.com/6640631/58993624-0b9dc080-87bc-11e9-9173-3b09c19de086.png)

[2019-06-18 07:59] iliran11 opened #564 "building components library with styled-jsx - to consume in AMP project"
Hi,
I have built a component library according to this article:
https://medium.com/@tomaszmularczyk89/guide-to-building-a-react-components-library-with-rollup-and-styled-jsx-694ec66bd2

I tried to consume it in regular next.js project - it works.
Then - I tried to consume it in next.js project [with AMP](https://nextjs.org/blog/next-8-1#what-is-amp) - it doesn't work.

Maybe a hint for the root pr

[2019-06-18 23:23] timneutkens commented on #564
Duplicate of https://github.com/zeit/next.js/issues/7595

[2019-06-18 23:23] #564 closed

[2019-07-02 22:14] scythargon commented on #436
Same here:(

[2019-07-04 06:30] nisargrthakkar opened #565 "Use LESS css in with Styled JSX"
Is there any way to use LESS with Styled JSX?

[2019-07-05 13:22] nicholas-c commented on #560
Also happening with postCSS plugin - Not just the Sass...

https://github.com/giuseppeg/styled-jsx-plugin-postcss

[2019-07-07 07:34] jcklpe commented on #161
@tuespetre  Is it just me or does it seem no one uses the injectTo method even though it's the recommended way of doing things according to vscode's documentation? Why is that?

[2019-07-08 08:15] a-ignatov-parc commented on #565
Sure! You should check [`styled-jsx-plugin-less`](https://github.com/erasmo-marin/styled-jsx-plugin-less).

Also, there are links to some other [plugins in the Readme](https://github.com/zeit/styled-jsx#example-plugins).

[2019-07-08 13:37] tuespetre commented on #161
@jcklpe no clue, I don't even remember what I needed it for or why I commented on this to be honest 🤷‍♂️

[2019-07-09 07:38] nisargrthakkar commented on #565
I tried this module but it's not working.

[2019-07-09 09:33] gtolarc commented on #560
@BradEP You're right!

next/babel preset contains styled-jsx, so do not add duplicates to existing plugins and use the default preset.

[code]

[2019-07-09 11:25] giuseppeg commented on #565
@nisargrthakkar hi there. Can you be more specific? can you put together a test case (maybe a simple next.js app to showcase your issue)?

[2019-07-09 11:50] adamjw3 commented on #557
When will this be resolved?

[2019-07-17 15:10] straxico opened #567 "vscode-styled-jsx-languageserver error when use next 9"
![Capture](https://user-images.githubusercontent.com/6344893/61386739-12931500-a8ca-11e9-8a8c-f7d517e2662c.PNG)

hi i start working with styled-jsx
for setup autocompelet css in vscode other people suggest me to use vscode-styled-jsx-languageserver. but it dosent work and last update for one year ago.

how i can use css-in-js autocomplet in vscode with style-jsx

[2019-07-20 19:46] steida opened #568 "Styletron like one class per prop"
#### Feature

#### What is the current behavior?

Styledjsx generates CSS chunks.

#### What is the expected behavior?

Maybe it could generate one class per prop. It should open the possibility for progressive CSS and the output should be smaller I guess. I am simulating this behavior with this code:

[code]

[2019-07-24 15:49] skmohammadi opened #569 "Auto-Prefixing behind styled-jsx-plugin-sass"
Hi. i am using Next.js and styled-jsx behind of styled-jsx-plugin-sass.
sass in js works fine but css **autoprefixing** is not working.

These is my **.babelrc** config in Next.js:

`{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"],
        },
      }
    ]
  ]
}
`

How can i do?

[2019-07-26 08:36] themagickoala commented on #508
Is there any chance this can be reopened? I'm having the same issue using Next.js and it's causing a flash of unstyled content on load.

[2019-07-29 15:12] timbielawski commented on #564
you have more than one style tag?

[2019-07-29 16:35] nicolastelfer opened #570 "Storybook StyleSheetRegistry: styleId: `jsx-undefined` not found"
**Describe the bug**
External styles using styled-jsx in storybook throw HTR error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the test repo: https://github.com/nicolastelfer/storybook-test
2. yarn install or npm install
3. yarn storybook
4. Open new localhost window and see error in Storybook

**Expected behavior**
It should show correct component styling, no errors.

**Screensho

[2019-08-02 09:51] OKNoah commented on #414
@giuseppeg Curious is anything has changed in the 1 1/2 since this was closed.

[2019-08-05 01:36] brayhoward commented on #542
I'm having the same error. Looking at the compiled code I can see that it's compiling the `style` component as a commonJs module instead of a react component. Then trying to use it as a component in calls to `React.createClass(style, ...)`

Here's the problomatic code
[code]

[2019-08-06 09:50] bernhardc opened #571 "Source maps are still broken"
The source maps are currently still broken after #547. After investigating the issue I found that a `sourceMaps` parameter in babel-external.js wasn't passed down to `processCss()` in _utils.js.
I created a PR with the fix.

[2019-08-07 09:45] #571 closed

[2019-08-07 13:19] johnnynomad opened #573 "Scoped styles for child components"
I really love working with this library, the only thing that bugs me is that currently there is no simple way to pass scoped styles to child components:
[code]
[code]

This issue had already been discussed several times (#273, #197, #121). So I thought the current behavior (with the `:global()` workaround) was due a technical limitation. However, after digging into the code a bit, I discovered tha

[2019-08-08 05:33] giuseppeg commented on #573
Quoting myself:

[2019-08-08 05:34] giuseppeg commented on #570
hi does it work without the sass plugin?

[2019-08-08 05:36] giuseppeg commented on #569
styled-jsx adds prefixes, do you want to use Autoprefixer? If not can you show an example of unprefixed styled? source css and output or better a sample next.js project

[2019-08-08 05:38] giuseppeg commented on #568
Compiling to atomic CSS classes comes with a lot of constraints and trade-offs and it is outside of the scope of this library.

[2019-08-08 05:38] #568 closed

[2019-08-08 05:39] giuseppeg commented on #567
does this happen only when you use `:global`?

[2019-08-08 05:39] #565 closed

[2019-08-08 05:39] giuseppeg commented on #565
closing due to inactivity

[2019-08-08 05:43] giuseppeg commented on #560
It seems that you tracked down the source of the issue. Next.js includes styled-jsx already and therefore you need to configure it via the preset like in this comment https://github.com/zeit/styled-jsx/issues/560#issuecomment-493112657

[2019-08-08 05:43] #560 closed

[2019-08-08 05:45] #548 closed

[2019-08-08 05:46] #520 closed

[2019-08-08 05:46] giuseppeg commented on #499
is this still an issue?

[2019-08-08 05:48] #449 closed

[2019-08-08 06:54] straxico commented on #567
i dont sure... i deactive this extension

[2019-08-17 07:43] mtrelis commented on #573
🎉 Any idea when this is getting released ? or is there a way to use this with nextjs without editing package-lock.json ( as it is a nested dependency ) ?

Could make it opt-in ?

[2019-08-22 06:45] jaydenseric opened #575 "Babel plugin should add React import if necessary"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

The `styled-jsx/babel` Babel plugin adds JSX code when transforming use of `css.resolve` from `styled-jsx/css`, assuming `React` is in the module scope. In reality, this is sometimes not the case.

I am building a UI library with seperate files for each shared style, and figured out the hard way t

[2019-08-23 11:27] VGamezz19 commented on #557
soooo..... what?

[2019-08-26 07:28] giuseppeg commented on #575
yup makes sense @jaydenseric would you try to give this a stab?

[2019-08-29 03:55] jaydenseric opened #576 "&:first-child in css.resolve bug"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

Using `css.resolve`, the `&:first-child` selector is buggy; the generated selector only has the class name from the `&` part, without the `:first-child` part.

This should work, as stylis is ok with it:

<img width="612" alt="Screen Shot 2019-08-29 at 1 50 38 pm" src="https://user-images.githubuse

[2019-08-30 16:59] rickgbw opened #578 "Omitting escape character in a specific circumstance"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
When creating a style inside a Next.js page, it removes the escape character from a "content" style (Like: `e92b` instead `\e92b`). It happened only if I have a require statement on the same style.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal de

[2019-08-31 06:30] giuseppeg commented on #578
fixed in #577

[2019-08-31 06:30] #578 closed

[2019-08-31 06:35] giuseppeg commented on #576
The `&` (parent reference) syntax is disabled in styled-jsx as we only support standard CSS.

[2019-08-31 06:35] #576 closed

[2019-09-06 18:57] yasintz commented on #481
@jan0991  How did you solve it?

[2019-09-06 22:31] maxchehab opened #579 "Flash of unstyled content with recent v3.2.2 upgrade."
#### Do you want to request a *feature* or report a *bug*?
A bug 🐛 .

#### What is the current behavior?
After upgrading styled-jsx from **3.2.1** to **3.2.2** we noticed our entire web app flashes unstyled content in production (hosted with zeit). However, this is not reproducible within a development environment (`now dev`).

#### Environment (include versions)

* OS: OSX 10.14.6
* Browser: Fire

[2019-09-07 18:13] giuseppeg commented on #579
@maxchehab can you provide a test case? Maybe a minimal Next.js app that I can clone and try out

[2019-09-08 21:21] erkanunluturk opened #580 "Why white spaces and ";" there is? error?"
#### Do you want to request a *feature* or report a *bug*?
a bug

#### What is the current behavior?
there is empty space when variable is not fulfilled

[code]

renders to:

[code]

#### Environment (include versions)

* OS: Windows 10
* Browser: 76.0
* styled-jsx (version): 3.2.2

#### Did this work in previous versions?
I don't know

[2019-09-15 06:48] jermaiine opened #582 "Combining HTML, CSS and Babel+JSX into one"
Hi,
I'm new to programming here. I seem to have trouble trying to code HTML, CSS and JS into one. Would appreciate any help I could get.

Here is the link:
https://jsfiddle.net/kimmobrunfeldt/72tkyn40/

Thank you!

[2019-09-16 16:38] NeatNit commented on #513
Can I ask that this be reopened?

This *is* an issue with styled-jsx and the way it gets applied in Next applications. It has to do with the way Chrome handles style changes made by the user inside the dev tools.

I have not tried with other browsers, but Chrome is the most popular browser and the one most often used for development (correct me if I'm wrong), so the behaviour in Chrome should be c

[2019-09-18 21:12] maxchehab commented on #579
@giuseppeg Sorry for the lag.

We resolved this by removing `styled-jsx` as a dependency for our project.

It seems since we are using NextJS ([which depends on `styled-jsx`](https://github.com/zeit/next.js/blob/1aec686c8029e0914261a348bfda542e2f2a9694/packages/next/package.json#L119)), including `styled-jsx` was causing conflicts with our css (maybe with generated class names?).

Again, sorry for

[2019-09-18 21:12] #579 closed

[2019-09-18 21:16] marktran commented on #579
Specifically, we had `styled-jsx@3.2.2` in our `package.json` and `next/styled-jsx@3.2.1`. Having both versions was causing unstyled content to flash.

(@maxchehab and I are on the same team)

[2019-09-19 15:12] giuseppeg commented on #582
Hi thanks for reaching out, unfortunately this is out of scope for this repository therefore I am closing it :)

[2019-09-19 15:12] #582 closed

[2019-09-19 17:22] michalisgar opened #583 "className missing when assigned using an object"
#### Do you want to request a *feature* or report a *bug*?
Bug.

#### What is the current behavior?
I have created a [codesandbox](https://codesandbox.io/s/nextjs-jsx-ecxhd?fontsize=14) to use as a reference.

When using `<style jsx>` while assigning a `className` to my component with the use of an object, the `class` is overwritten (**pages/withJsx.js**) by the one `styled-jsx` creates. I've also

[2019-09-25 01:22] nk2580 commented on #499
@giuseppeg i do seem to have this issue still but it relates to tailwind css syntax not being parsed when postcss is configured

[2019-09-26 16:13] cdeutsch commented on #142
This still really needs improvement (or you should switch away from `styled-jsx`)

When you're using something like `material-ui` and you need to make a tiny tweak, it's not uncommon for the whole component to be nested components; and there are zero acceptable ways to style it with `styled-jsx`

[2019-10-02 03:21] jaydenseric commented on #576
@giuseppeg that's not entirely true, I depend upon the `&` working in [`device-agnostic-ui`](https://github.com/jaydenseric/device-agnostic-ui):

https://github.com/jaydenseric/device-agnostic-ui/blob/bb71c7d1e1a789eb0266f3b9c628eefa07912cc2/src/styles/Blockquote.mjs#L7

It allows sharable styles (via `css.resolve`) to be applied to any element that has the class name represented by `&`. It also a

[2019-10-05 07:05] HosseinAgha opened #585 "Consider taking the ownership of VSCode extensions"
#### Do you want to request a *feature* or report a *bug*?
not a bug nor a feature

The vscode extensions for `styled-jsx` are unmaintained and incomplete. Take a look at 2 of the most used extensions by community:
  - https://github.com/iFwu/vscode-styled-jsx
  - https://github.com/Grimones/vscode-styled-jsx-languageserver

Both are not standard, maintainers abandoned the projects, have many open

[2019-10-06 07:47] HosseinAgha opened #586 "Support auto generation of RTL styles"
### Do you want to request a *feature* or report a *bug*?
feature

### What is the current behavior?
There is no official way to auto generate right-to-left css.
What I mean by auto generation is the following:

[code]

PostCSS has [postcss-rtl](https://github.com/vkalinichev/postcss-rtl) plugin which uses very famous, super mature [rtlcss](https://github.com/MohammadYounes/rtlcss) library.

I tri

[2019-10-06 12:37] connorads commented on #253
I tried to reproduce the issue on my Windows 10 machine but it worked fine.
- Could be my Windows 10 version is different? Some other difference in environment.
- Could it be that an issue in the dependency tree has been fixed? There's no `package-lock.json` in repo [styled-jsx-u-debug](https://github.com/amio/styled-jsx-u-debug) for reproducing the issue. I'm not an expert in `npm` but feel like

[2019-10-06 12:46] connorads commented on #253
**Update:**
I think we can close this issue.

I found a [commit](https://github.com/amio/styled-jsx-u-debug/commits/master) with `package-lock.json` in there and reproduced the issue.
![image](https://user-images.githubusercontent.com/10026538/66269381-a1fff280-e83f-11e9-87cb-b422f4fdf483.png)

When running `npm install` without a `package-lock.json` the issue is no longer there.
So I think it is

[2019-10-06 16:03] giuseppeg commented on #253
Thank you a lot for taking a look at this @connorads!!

[2019-10-06 16:03] #253 closed

[2019-10-06 16:09] giuseppeg commented on #585
@HosseinAgha I don't disagree with your proposal but I am the only maintainer of this repo and I doubt I'd have the time to work on that and maintain it. I would be happy to link to a repo if you want to work on a modern version though!

I am going to close the issue for now :)

[2019-10-06 16:09] #585 closed

[2019-10-06 16:14] giuseppeg commented on #586
The problem with styled-jsx plugins is that the run on pre-evaluated styles and at compile time.
Interpolations are replaced with placeholders and then the string is passed to the plugins, this is why the result is broken in the 3rd case.

I doubt there is a good solution to be honest, but I am happy to explore any idea you might have to solve this issue!

As for 4. probably comments are stripped

[2019-10-06 16:18] giuseppeg commented on #583
@michalisgar thanks for the detailed bug report! Even though this is an actual bug, I think this is an edge case and probably adding a fix for it would make the compiled output way more complex than it is right now. So I'd rather not fix it.

I think that you can move the ternary in a constant inside of the `render` method and then use that in `className`.

I am closing the issue for now :)

[2019-10-06 16:18] #583 closed

[2019-10-06 17:22] HosseinAgha commented on #586
My idea is to generate the same placeholder for `[dir=rtl]` styles so the runtime replaces the placeholder with the correct style. My main question is why it works with the generated `[dir=ltr]` (prefix) style? Shouldn't they both not work? I guess you look for `border-left: _placeholder_` to replace the Interpolations instead of only replacing all `_placeholder_`s? But if it is true why we get du

[2019-10-06 17:29] HosseinAgha commented on #585
Thanks for answering so fast and maintaining this awesome project.
I think adding the `help-wanted` tag (and changing the issue's title) would be a better approach so somebody (maybe myself) someday finds this issue and tries to develop a better extension :)

[2019-10-07 07:28] michalisgar commented on #583
Totally understandable! Thanks for your feedback @giuseppeg. :slightly_smiling_face:

[2019-10-08 06:40] giuseppeg commented on #586
Maybe the issue is with how we restore the interpolations after styles have been through the plugins and Stylis (the css preprocessor that scopes selectors). https://github.com/zeit/styled-jsx/blob/d920a289aed3b17acae07bc09dc071be83d99b3e/src/_utils.js#L392

Maybe you can add a failing test and try to fix the function (if it is buggy)?

That being said I will leave to user land to generate RTL sty

[2019-10-08 06:42] giuseppeg commented on #585
Once we add the extension we will have to maintain, people will report bugs and feature requests, and I don't have time for that. That's why I prefer it to be maintained by the community.

[2019-10-09 15:18] JipSterk opened #587 "no unicode in :after content"
#### Do you want to request a *feature* or report a *bug*?
bug
#### What is the current behavior?
[code]

the snippit above fails even if i add an extra `\`

#### What is the expected behavior?

display a ▼

#### Environment (include versions)

* OS: macos
* Browser: brave v0.69.132
* styled-jsx (version): 3.3.2

[2019-10-10 19:42] ryanfitzer opened #588 "`dynamic` is not a function"
### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

When rendering a component whose bundle includes `styled-jsx`, I get the following error:

[code]

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

1. Test case https://code

[2019-10-10 21:32] ryanfitzer commented on #542
@giuseppeg

I have opened an [issue](#588) regarding the `dynamic is not a function` error. It has a test case, repo and npm package. Been trying to debug it with no success. Definitely has to do with the `dynamic` being available on `default`, but not the top-level object.

[2019-10-10 23:37] ryanfitzer commented on #588
I've also submitted an issue on [`rollup-plugin-commonjs`](https://github.com/rollup/rollup-plugin-commonjs/issues/414). It seems like it might be where this issue is originating.

[2019-10-15 23:19] HDTran opened #589 "CSS `content` property no longer renders encoded characters"
👋 friend. Welcome to styled-jsx and thanks for contributing!

⚠️ IMPORTANT ⚠️

If you need help or have a question about styled-jsx please ask it on Spectrum https://spectrum.chat/styled-jsx or join our Slack community at https://zeit.chat and ask it in the `#next` channel.

Before you open a new issue please take a look at our [**Frequent Asked Questions**](https://github.com/zeit/styled-jsx#faq)

[2019-10-17 10:19] mhauens commented on #543
same problem with next 9.1.1 and  "styled-jsx": "3.1.3" or higher

[2019-10-26 15:55] giuseppeg commented on #589
@HDTran have you tried with `\\\\0025B6`?

[2019-10-27 18:51] landsman commented on #557
I was thinking about this solution for CSS, but without nesting it will be retro, repetitive for me now.
It is good idea, subscribed.

[2019-10-29 15:09] aorsten commented on #253
Any idea which npm dependency might have caused this, @connorads ?
I'm experiencing the same issue in my NextJS project on Windows 10.

In my case as well, the file is placed in ".../utils/MyFile.js". Changing to ".../test_utils/MyFile.js" fixed it.

[2019-10-29 23:25] connorads commented on #253
Nope sorry @aorsten
I'm guessing you've tried deleting 'package-lock.json' and/or updating your npm packages?

[2019-10-30 07:35] aorsten commented on #253
Yeah, I tried that - but it didn't resolve the issue.

[2019-10-31 21:34] jkjustjoshing opened #590 "flushToSVG() method"
#### Feature request
A new `flushToSVG()` function that does the same thing as `flushToHTML()`, but outputs SVG-compatible CSS tags.

#### What is the current behavior?
I'm using styled-jsx to style SVG elements, and outputting to a server-rendered `.svg` file.

When embedding a `<style>` tag in an SVG document, it must be of the following format:

[code]

Chrome will render the current styled-jsx

[2019-11-01 15:00] jkjustjoshing commented on #590
Turns out I was confused on what my actual problem was. In the end, it's an issue with [canvg not respecting the `transform-origin` CSS property](https://github.com/canvg/canvg/issues/757).

[2019-11-01 15:00] #590 closed

[2019-11-08 00:37] kkangil opened #593 "Component(constants) having props with children doesn't working"
👋 friend. Welcome to styled-jsx and thanks for contributing!

⚠️ IMPORTANT ⚠️

If you need help or have a question about styled-jsx please ask it on Spectrum https://spectrum.chat/styled-jsx or join our Slack community at https://zeit.chat and ask it in the `#next` channel.

Before you open a new issue please take a look at our [**Frequent Asked Questions**](https://github.com/zeit/styled-jsx#faq)

[2019-11-08 07:39] giuseppeg commented on #593
@kkangil styles are scoped to the component that's why they don't apply to children. You can read more about this here https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

[2019-11-08 07:39] #593 closed

[2019-11-08 08:25] giuseppeg opened #595 "[RFC] Use CSS Custom Properties for dynamic styles"
The scope of this "RFC" is to discuss about the possibility to use CSS Custom Properties for dynamic styles.

Switching to use CSS Custom Properties might allow us to explore static extraction in the future.

This mode would be optional and disabled by default as many might still need to support IE, it will also be a breaking change because **we would need to allow interpolations only for CSS valu

[2019-11-08 08:26] giuseppeg commented on #595
This is just an idea I had a while ago, likely I won't even have time to implement it but I wanted to put it out there in case anybody is interested

cc @developit

[2019-11-08 14:03] wilsonpage opened #597 "Docs don't state why I'd use styled-jsx/macro over styled-jsx/css"
The docs state:

But don't say why this is good, or if/when/why I'd choose to use it over `styled-jsx/css`. As a user I'd like to know the pros and cons of each so I can decide which approach I should use.

[2019-11-08 15:13] germansokolov13 opened #598 "Resolve urls inside separate css-files"
#### Do you want to request a *feature* or report a *bug*?
Request a feature or request docs addition

Images in `url()` do not resolve if separate css-files setup is used.

https://github.com/zeit/styled-jsx#styles-in-regular-css-files
Here it is documented how to use separate files for styles. However if we do that we can no longer insert images resolved by Webpack.

I tried to use `css-loader`

[2019-11-11 10:20] denofevil commented on #186
Please follow styled-components/webstorm-styled-components#77, I think it will be ready this week.

[2019-11-15 17:41] jschimmoeller commented on #589
@giuseppeg i have the same issue; upgraded from 9.0.3 to 9.1.3
9.0.3 code that worked:
ul li::before {
          content: "\\2022";
}
![image](https://user-images.githubusercontent.com/1423536/68963237-7c51fb80-07a4-11ea-986f-60671d8ded6f.png)

with 9.1.3
![image](https://user-images.githubusercontent.com/1423536/68963284-94297f80-07a4-11ea-9c31-ddb88b850ae3.png)

i have tried \\\\2022 and many ot

[2019-11-15 18:01] giuseppeg commented on #589
Sorry for the troubles folks! Can you create a testcase in codesandbox or repository? This seems to be working https://codesandbox.io/s/hello-world-n1y2y

[2019-11-15 18:20] jschimmoeller commented on #589
@giuseppeg this is crazy ... i see your sandbox works  however I forked it at https://codesandbox.io/s/hello-world-bpwbp and did nothing and it does not work:

![image](https://user-images.githubusercontent.com/1423536/68965810-a9a1a800-07aa-11ea-939c-1ea6327d2972.png)

[2019-11-15 19:27] giuseppeg commented on #589
I think the regression is due to https://github.com/zeit/styled-jsx/pull/577.

The following escape sequence is invalid and the code won't parse.

[code]

The raw version of the string works of course:

[code]

parses just fine.

To avoid using `String.raw` then you'd escape the `\`:

[code]

At this point the problem is that with https://github.com/zeit/styled-jsx/pull/577 we use the `raw` versio

[2019-11-16 05:30] lfades commented on #589
@giuseppeg https://github.com/zeit/styled-jsx/pull/577 was a fix for a component like this one:
[code]
That component was broken because of this line:
[code]

[2019-11-16 08:18] giuseppeg commented on #589
@HDTran @jschimmoeller I think I found the answer to this issue: https://github.com/babel/babel/issues/1198#issuecomment-90905690

Basically you should use hex-based escapes otherwise the code won't parse and throw a syntax error when you use the octal format `\0025B6`. With `\u25B6` it works just fine.

Maybe we can add this to the README? Not sure if it is worth trying to do the conversion ourse

[2019-11-16 15:40] jschimmoeller commented on #589
@giuseppeg i tried `\\u25B6` with the same results

![image](https://user-images.githubusercontent.com/1423536/68995610-8e43a500-085d-11ea-8913-541bbef6e1b6.png)

[2019-11-16 16:54] giuseppeg commented on #589
try with one backslash

[2019-11-17 00:01] jschimmoeller commented on #589
@giuseppeg i sent over an hour trying many different backslash options but nothing is working; one, two, and even 4.  I even went over to the babel link and tried some of their options but nothing works

[2019-11-17 20:08] giuseppeg commented on #589
@jschimmoeller you're right sorry I replied from my phone and didn't get a chance to test it. I guess then `\\0025B6` is the right way to go, we just need to figure out what is the best fix for it.

[2019-11-21 20:06] giuseppeg commented on #597
Hi @wilsonpage, the macro is for when you cannot customize the Babel configuration but can install macros - you can read more about this here https://github.com/kentcdodds/babel-plugin-macros

For example Create React App supports macros. Would you like to submit a PR to clarify this in the README?

[2019-11-22 09:32] wilsonpage commented on #597
@giuseppeg ah I'm using Nextjs, so I assume that the next-babel config already contains the styled-jsx loader/transpiler?

[2019-11-23 11:27] giuseppeg commented on #597
yes Next is already configured to use styled-jsx so you can use `styled-jsx/css`

[2019-11-25 11:29] wilsonpage commented on #597
Ah ok, so there's not much sense in me using the macro here?

[2019-11-25 11:34] wilsonpage commented on #597
https://github.com/zeit/styled-jsx/pull/601

[2019-11-25 17:59] #597 closed

[2019-11-27 09:55] rishitells commented on #436
Any updates on this issue? We are stuck with the same.

[2019-11-28 09:23] jaydenseric opened #602 "optimizeForSpeed mode sometimes attempts to insert multiple rules as one"
#### Do you want to request a *feature* or report a *bug*?

Bug.

#### What is the current behavior?

In `optimizeForSpeed` mode, sometimes multiple rules are being incorrectly stuffed into `.insertRule()` at once, here:

https://github.com/zeit/styled-jsx/blob/343795d3b2fef6d3d085921b0d4cf31b4d9be709/src/lib/stylesheet.js#L129-L139

In production the error is swallowed. This made it exceedingly h

[2019-11-28 10:07] giuseppeg commented on #602
@jaydenseric hey mate I am sorry that you are experiencing this kind of issue! Sounds super frustrating. Before we even try to debug, can you make sure that both the library and the consumer app are transpiled in the same "mode". The issue could be that your components library is compiled for development mode and when the Next.js app is deployed to prod it uses instead `optimizeForSpeed` which can

[2019-11-28 10:10] giuseppeg commented on #587
tracking this issue here, thanks for reporting it! https://github.com/zeit/styled-jsx/issues/589

[2019-11-28 10:10] #587 closed

[2019-11-28 10:11] jaydenseric commented on #602
I'll check, but if that is the case, how come none of the styles are broken right now at https://deviceagnosticui.com, or https://jaydenseric.com?

[2019-11-28 10:17] giuseppeg commented on #602
it seems that you are not using `optimizeForSpeed` there

![Screen Shot 2019-11-28 at 11 16 27 AM](https://user-images.githubusercontent.com/711311/69797796-9fcb6c00-11d0-11ea-9aff-2a4cfa664526.png)

[2019-11-28 10:18] giuseppeg commented on #602
this article explains how to bundle a library that uses styled-jsx to avoid this issue https://medium.com/@tomaszmularczyk89/guide-to-building-a-react-components-library-with-rollup-and-styled-jsx-694ec66bd2

[2019-11-28 10:31] jaydenseric commented on #602
Thanks for the revelation, although this is a real headache to solve elegantly 😓

Bundling published packages is an antipattern, and you cant have `require()` inside ESM for a conditional export. ESM for tree-shaking is an important feature for a published a component library, so I don't want to drop it. Publishing invalid ESM is undesirable because eventually, maybe even in January when condition

[2019-11-28 10:48] jaydenseric commented on #602
Is `optimizeForSpeed` even worth it? What exactly are the benefits?

I might just continue to publish `device-agnostic-ui` components and styles transpilled with it `false`, and in the Next.js setup instructions explain that the Babel config needs to be configured like this:

[code]

[2019-11-28 11:25] giuseppeg commented on #602
`optimizeForSpeed` uses the CSSOM apis which are way faster than creating script tags.

As for bundling you have a few options:

1) Ship the source code and let the host app build it
2) You can use conditionals, bundlers will treeshake this https://github.com/giuseppeg/style-sheet/blob/aa125093adcef82ca3bd86b58f5f203ef232a4fa/lib/esm/createElement.js (works only if the bundler replaces `process.en

[2019-11-28 11:26] giuseppeg commented on #602
2. won't work in UMD or browser of course

[2019-11-28 16:16] giuseppeg commented on #598
Do you know how other projects do this with loaders and such? Eg. if you have a sass project and build it with webpack (no styled-jsx). How do you solve this issue?

[2019-11-28 19:31] germansokolov13 commented on #598
I think in majority of frontend projects that use Webpack `css-loader` is always used. This loader is the one responsible for resolving `url()`s in css-files. But `css-loader` does something else too while doing this. Its output is somehow incompatible with `styled-jsx`.

Most often other projects use a combination of `style-loader` and `css-loader`  called at the very end of styles processing. I.

[2019-11-29 00:49] jaydenseric commented on #602
Here is an example of the difference between transpiling published components without and with `NODE_ENV=production`…

For this component:

https://deviceagnosticui.com/components/Blockquote

Here is without:

[code]

Here is with:

[code]

The only difference appears to be the rules are one big string in dev, and an array of a string for each rule for prod.

Could styled-jsx be enhanced to automa

[2019-11-29 07:42] giuseppeg commented on #602
@jaydenseric it is not possible to mix up `optimizedForSpeed` styles with non `optimizedForSpeed`.  With `optimizedForSpeed` we insert to a single style tag using the CSSOM API, when it is disabled we create multiple style tags.

We can add a warning here though

https://github.com/zeit/styled-jsx/blob/343795d3b2fef6d3d085921b0d4cf31b4d9be709/src/stylesheet-registry.js#L34-L39

like if `this._opti

[2019-11-29 07:50] giuseppeg commented on #598
Yes the `styled-jsx` loader turns CSS into JavaScript, so the url resolving should be done earlier. Have you tried to run your CSS through https://www.npmjs.com/package/resolve-url-loader before passing it to the styled-jsx's loader?

[2019-11-29 08:48] jaydenseric commented on #602
Perhaps you misunderstood the suggestion...

It would be impossible to support importing non `optimizedForSpeed` styles for use in a production build, because it is hard to cut up a style string into an array of rules at runtime - that should always happen build time.

But, I can't see why the other way around can't be supported. You should be able to import `optimizedForSpeed` styles for use in a

[2019-11-29 08:54] germansokolov13 commented on #598
I tried now. If invoked before styledJsxLoader it seems to do nothing for some reason. Urls remain unchanged. If onvoked after styledJsxLoader then error occurrs during build:
`Error: resolve-url-loader: CSS error <path to my file>: Unknown word`.

I am not sure how this loader works. I used it without any options. Maybe it should configured somehow.

[2019-11-30 08:49] samomar commented on #570
`stylesheet-registry.js:252 Uncaught Error: StyleSheetRegistry: styleId: `jsx-undefined` not found.`

style jsx becomes a nightmare when you attempt conditional rendering,

An example: `{!props.breadcrumbDisplay && (
        <style jsx>{`
          .navbar {
            margin: 0px !important;
          }
        `}</style>
      )}`

yields `Warning: Received `true` for a non-boolean attribute `j

[2019-12-01 12:38] bySabi opened #603 "styled-jsx in a HOC like `styled-components`"
what would be the appropriate way to create a HOC just like `styled-components` and use it like:
[code]

In this sample selector `nav ul` is not working:

[code]

[2019-12-04 16:41] bySabi commented on #603
https://github.com/zeit/styled-jsx/pull/574 PR is the answer to this.

[2019-12-04 16:41] #603 closed

[2019-12-04 21:49] jkjustjoshing commented on #513
@giuseppeg this is still a very annoying issue when developing with styled-jsx. Can this ticket be reopened?

[2019-12-04 21:57] NeatNit commented on #513
I'm not sure they're seeing these comments, perhaps you should open a new issue asking for this one to be reopened.

I'm no longer using Next.js or styled-jsx (at least not for the time being) so I don't want to open it myself.

[2019-12-05 07:36] anderseide opened #604 "Taking over vscode-styled-jsx"
The Visual Studio Code extension vscode-styled-jsx isn't maintained anymore by @iFwu

* https://marketplace.visualstudio.com/items?itemName=blanu.vscode-styled-jsx
* https://github.com/iFwu/vscode-styled-jsx

Would like to propose that zeit took over that project. Would be great if that project didn't die

[2019-12-07 08:49] giuseppeg commented on #604
@anderseide unfortunately I am the only maintainer and I don't have time to maintain that as well. I will leave it to the community to continue the work on that extension. Thank you for bringing this up though! Would you like to submit a PR to clarify in the README that the extension in not maintained and suggest that somebody takes over it?

[2019-12-07 09:39] anderseide commented on #604
@iFwu have already stated that in the Readme.

I was more thinking that the plugin could be naturally placed under the Zeit org. and then maintained by the community. When it’s placed under a personal account on GitHub and then left for anyone to grab, it will most likely be left for good.

Totally understand that you cannot take that responsibility and maintain it on your own

[2019-12-07 19:00] ianidi opened #606 "Remove duplicates in "auto vendor prefixes""
I would like to request feature.

Currently sometimes you already have vendor prefixes in your css code. styled-jsx dosn't check if they were already declared and this way we have the same properties in output multiple times. Let me show you and example.

<img width="199" alt="duplicate" src="https://user-images.githubusercontent.com/51965970/70379353-8f3b9400-193c-11ea-9736-6a7eff9cd258.png">
<im

[2019-12-09 05:13] zeckdude opened #607 "Styled JSX not working on JSX in variable"
#23 ## Do you want to request a *feature* or report a *bug*?

report a bug

#### What is the current behavior?

When a render function is using a variable to conditionally show JSX, it is not respecting the style rules.

#### If the current behavior is a bug, please provide the steps to reproduce and possibly a minimal demo or testcase in the form of a Next.js app, CodeSandbox URL or similar

You

[2019-12-10 23:39] nodabladam commented on #569
I just tried a few things and I seem to get autoprefixing:

Before
[code]

After
[code]

[2019-12-11 01:57] nodabladam opened #608 "Passing options to styled-jsx plugin causes `The "request" argument must be of type string.`"
#### Do you want to request a *feature* or report a *bug*?
Bug

#### What is the current behavior?
Passing sassOptions to a styled-jsx-plugin causes `The "request" argument must be of type string. Received type object` error.
babel.config.js
[code]
error
[code]

babel.config.js with `styled-jsx-plugin-sass` and no node-sass options works as expected (sass is processed in styled-jsx):
[code]

####

[2019-12-13 08:42] yy6597988 opened #609 "I want to separate CSS into a file. How to configure this"

[2019-12-13 11:50] yolanda41 commented on #609
You would create a file known as css.js

[2019-12-17 10:31] giuseppeg commented on #602
@jaydenseric that is a bit "magic" but it might work, want to put together a PR?

[2019-12-17 12:34] jaydenseric commented on #602
@giuseppeg I got started on a PR a few weeks ago but had to move onto other stuff. Sorry, but I'm now out of time and money to work on OSS, see https://twitter.com/jaydenseric/status/1206800095280128006. I've been working on OSS pro bono full time since August; time to get back into paid work.

[2019-12-17 14:21] giuseppeg commented on #602
@jaydenseric no worries! I get that as I am not paid to maintain any of these OSS projects as well :)

[2019-12-22 22:11] aldendaniels commented on #604
Worth also noting that [vscode-styled-jsx-languageserver](https://github.com/Grimones/vscode-styled-jsx-languageserver) appears to be similarly unmaintained and doesn't support common patterns like using variable substitution in the template literal.

[2019-12-22 22:15] aldendaniels commented on #604
Specifically, the autocomplete package doesn't support this pattern:

[code]

[2019-12-25 21:07] aldendaniels opened #610 "Detect static vs dynamic styles"
#### Do you want to request a *feature* or report a *bug*?
Request a feature

#### What is the current behavior?
`style-jsx` automatically infers whether a style is static or dynamic, and it's hard to control or predict this behavior.

Because static styles offer better performance than do dynamically generated styles, it's useful to know which behavior is being used. However the rules for static

[2019-12-30 17:08] awitherow commented on #222
Doesn't seem to work by default within my project as of now...  see top

[code]

[2020-01-01 18:21] AryanJ-NYC commented on #417
For those of you that stumbled upon this and wished there was a link to the example mentioned above:

https://github.com/zeit/next.js/tree/canary/examples/with-tailwindcss

[2020-01-02 08:46] Mehrdad-Dadkhah commented on #561
@Macil
@giuseppeg

same problem....

I think it is related to this [issue of stylis.js](https://github.com/thysultan/stylis.js/issues/74#issuecomment-345491264])

and some one said: It should work if you disable auto semi-colon insertion mode ```stylis.set(semicolon: true)```.

and problem Patched in 3.4.5 of sylis.js, but styled-jsx use 3.5.4 and problem exist!!

I think right? what is solution?

[2020-01-02 08:53] giuseppeg commented on #561
@Mehrdad-Dadkhah good catch! I am not sure I understand what `semicolon` does cc @thysultan

In any case would you like to put together a PR to disable that and add a few tests?

[2020-01-02 09:02] giuseppeg commented on #610
hi @aldendaniels. Good point! Currently styled-jsx treats any interpolation defined within the component as dynamic, this is to simplify things. Internally styled-jsx uses a cache for the computed dynamic rules which is based on those interpolation values, therefore even though this is a dynamic rule the actual rule will be taken from the cache since `size` doesn't change.

An improvement to this

[2020-01-02 09:14] Mehrdad-Dadkhah commented on #561
@giuseppeg

I change ```node_modules/styled-jsx/dist/lib/style-transform.js``` file to test effect of ```semicolon``` option in my case (local project).

It don't fix problem

[2020-01-03 01:07] aneuhold commented on #567
I was getting the same thing but while using the identifier `:root`. For some reason disabling the extension then re-enabling it got rid of it, but then a lot of errors are still being posted:
[code]