[2017-06-08 12:04] giuseppeg commented on #231
In 1.0.4 expressions are replaced with a custom property `var(--styled-jsx-placeholder-1)`, but that doesn't work in every use cases which is what I am fixing in #227. Probably stylis is confused also about floating custom props like

[code]

In general it is probably not a good idea to use constants for `property: value` pairs. Better do:

[code]

I'll see if #227 fixes this issue

[2017-06-08 13:19] benhjames opened #232 "Using 'order' property breaks styled-jsx"
Using the `order` CSS property seems to break updating from `styled-jsx@0.5.3` to `styled-jsx@1.0.3`:

[code]

Results in:

[code]

Removing the order property makes it work again.

Let me know if there's anything else you need!

[2017-06-08 13:30] benhjames commented on #232
It seems this was fixed in `stylis@3.0.15`, which is used in `styled-jsx@1.0.4`, but the `next` version I'm using (2.4.3) is currently pointing at `styled-jsx@1.0.3`. It just needs bumping at `zeit/next`!

[2017-06-08 13:30] #232 closed

[2017-06-08 13:44] giuseppeg commented on #232
sorry for that, I will try to sync up with the Next.js folks to see if we can get styled-jsx fixes / version bumps  out much quickly

[2017-06-08 14:21] giuseppeg opened #233 "Allow to find style tags deep down in the tree"
Right now we only find `style` tags that are direct descendants (children) of the current `JSXElement` this means that things like the following don't work:

[code]

See [testcase](http://astexplorer.net/#/gist/02e4493eee556f86fcbf42181ffbf35e/4a91f84fd9e06f1744006df1fd1234e207f62050).

I know that we don't allow nested style tags because nesting could be seen / confused as a way to only style a s

[2017-06-09 11:23] ron-liu opened #234 "Display errors in styled-jsx"
If there is an css error, styled-jsx just silently swollen it, which cause very difficult to fix the issue. Anyway to make it explicit?  See examples below

[code]

css.js
[code]

[2017-06-09 11:28] ron-liu commented on #234
I had conversation with @giuseppeg in slack, he recon two possible ways:
* annotate the css
[code]
*  always inform when a string didn't pass css validation with a message like
`possible invalid css: filename:line `

**see the scripts below:**

g [10 minutes ago]
@ron do you mean if it is invalid css?

g [10 minutes ago]
or rather valid css but with some errors?

ron [9 minutes ago]
I just edited

[2017-06-09 11:36] ron-liu opened #235 "${''} in new line will invalidate the whole css"
See the following example:

[code]
pp.js
[code]

The stranger thing is the following is valid
[code]

By the way, I am using next.js 3 beta11 with syled-jsx 1.0.4.

[2017-06-09 12:15] giuseppeg commented on #235
I am fixing this in #227

[2017-06-10 12:15] danielsarin opened #237 "@font-face broken?"
I'm using styled-jsx 1.0.4 with next.js 3.0.0-beta12, and it seems like something breaks when using  font-face.

My code looks something like this:
[code]
but when I look at the content in dom style tags that are rendered in head, it comes out like this:
[code]
For some reason, there is an extra semi-colon right after `src:` which breaks the css.

Is it possible I am doing something wrong? Otherwi

[2017-06-10 12:36] thysultan commented on #237
related patch [https://github.com/zeit/styled-jsx/pull/228](https://github.com/zeit/styled-jsx/pull/228)

[2017-06-10 17:21] #224 closed

[2017-06-10 17:24] giuseppeg commented on #235
fixed in #227

[2017-06-10 17:24] #235 closed

[2017-06-10 17:24] #237 closed

[2017-06-10 17:25] giuseppeg commented on #231
should be fixed in #227, happy to reopen if that is still an issue (wait for the new release)

[2017-06-10 17:25] #231 closed

[2017-06-10 17:26] giuseppeg commented on #186
@davegomez @benjaminjackman would you like add that to the README?

[2017-06-10 22:45] ron-liu opened #238 "Easy integrate with postcss"
I have a existing project which use react-css-modules + scss heavily, and now want to switch to next.js. It is too hard to keep react-css-modules with server rendering, so I have to switch `css in js` approach. Ideally, I wish I could use `postcss` (and some scss-like plugins) with styled-jsx to keep most `scss` files during this transition.

Firstly, I saw `styled-jsx-postcss` repo, but this one

[2017-06-11 08:20] giuseppeg commented on #238
What is the _css name issue_ about exactly? By the way there is a ready branch to implement plugins for styled-jsx which should let you use any preprocessor you want #182

[2017-06-11 11:29] ron-liu commented on #238
By using the above approach, the index.css has to be named as index.css.js, otherwise, styled-jsx will not process it. Is there any other option to use postcss at this moment?

looking forward to seeing #182 happening :)

[2017-06-11 17:36] giuseppeg commented on #238
That's right, because styled-jsx is just a Babel plugin and Babel is for transforming JavaScript.

Also in Next.js webpack is run only for client side code, not server side so even if you manage to set it up it won't work for SSR.

I think that styled-jsx plugins are the only easy way to transform the css (eg. with postcss). As I said the branch is ready, I just need someone to review it.

[2017-06-12 16:49] pak11273 commented on #184
I use this for jsx.  Has been working fine with styled-jsx too:

https://github.com/heavenshell/vim-prettier

[2017-06-12 16:59] danawoodman commented on #184
@pak11273 that plugin just runs prettier doesn't it? I don't see how/why it would add syntax highlighting?

[2017-06-12 17:48] arunoda commented on #225
Is is possible to keep components globally. In the server, inside the `global` object and in the client inside the `window` object.
With that, this will fix problems like this.

[2017-06-12 19:48] pak11273 commented on #184
no syntax highlighting.  I thought it did at first because I put the css values in quotes.  But I just found out those values don't need quotes.  I guess we have to wait til someone builds a plugin for it.

[2017-06-13 08:09] matthewmueller commented on #206
Quick update on this: Disregard what I previously said, since I was mistaken, it doesn't actually work, it just looks like it works because `<style>` will still get applied, just outside of styled-jsx.

This is actually most likely a webpack issue, you need to externalize `styled-jsx/style`.

[2017-06-14 20:36] alampros commented on #184
I'm _horrible_ with vim syntax, but I started messing around with the [vim-jsx](https://github.com/mxw/vim-jsx) syntax and made a *tiny* amount of progress on this. Here's what I modified:

[code]

With this change, the syntax was identified correctly as a `jsxCssTemplateString`, but I couldn't get it to recognize the contents as CSS. 🤷‍♂️

![screen shot 2017-06-14 at 4 33 24 pm](https://user-imag

[2017-06-14 20:45] alampros commented on #184
Hmmm... might be able to take a page from the [vim-styled-components plugin](https://github.com/fleischie/vim-styled-components/blob/develop/after/syntax/javascript.vim). They have to detect an `import` of their module, while here we would only have to detect the `jsx` attribute on the `<style>` tag.

[2017-06-15 08:31] mattfysh commented on #197
Began using styled-jsx a few hours ago and I've just come across this same issue... also noticed a lot of projects referencing this repo and noting the lack of a non-global solution is preventing them from migrating to styled-jsx. Are there any plans to work on this?

[2017-06-15 14:03] alampros commented on #184
🙌

I got it working and pushed it to a new repo: [alampros/vim-styled-jsx](https://github.com/alampros/vim-styled-jsx)

### Screenshot:
![screen shot 2017-06-15 at 9 47 39 am](https://user-images.githubusercontent.com/297461/27184977-d9452a52-51b1-11e7-9980-b4363cb333e1.png)

[2017-06-15 18:09] giuseppeg commented on #197
@mattfysh would something like this help https://github.com/zeit/styled-jsx/issues/209 ?

[2017-06-16 07:47] #184 closed

[2017-06-16 08:03] mattfysh commented on #197
Getting there, imho - it's still more of a workaround than a solution. Take this example for instance:

[code]

My thought process as to why this should Just Work™ out of the box, is as follows:
- I see a selector targeting an element
- I know that to create isolated scope, a unique class name will be generated and applied to the targeted element
- after application, the class name will be passed

[2017-06-16 09:05] giuseppeg commented on #197
Correct. #27 might make what you described possible.

[2017-06-16 15:06] ron-liu opened #240 "How to extend existing Component styles"
I try to extend `Component A` style, but the following code doesn't work.  What is the best way to extend styles using styled-jsx?

[code]

[2017-06-20 21:20] corysimmons opened #241 "[feat req] Can you just make this styled-jsx-postcss?"
What would be the downside of combining the 2 projects into this one?

PostCSS in Next.js would be 👌

[2017-06-21 18:04] giuseppeg commented on #241
Answered https://github.com/giuseppeg/styled-jsx-postcss/issues/10

[2017-06-21 18:04] #241 closed

[2017-06-23 08:24] #186 closed

[2017-06-23 08:26] giuseppeg commented on #230
@loick sorry for the late reply, styled-jsx trasforms JSX only that's why it doesn't work with `React.createElement`.

[2017-06-23 16:00] almeynman opened #243 "Disable autoprefixing for everything inside particular style tag"
Given  component like that. I do not want to autoprefix global styles.

[code]

[2017-06-25 23:58] epiqueras opened #246 "className implementation to solve #27, #4, and #197"
Thanks for the hard work on this lib! It's a massive step forward from all the other inline styles approaches.

There are a couple of things that make me hesitant to adopt it in a big project, and I wanted to discuss the feasibility of a different approach to scoping styles.
1. Complication of targeting children components. #197 . I like to reuse components like custom dropdowns throughout an app

[2017-06-26 05:35] amio commented on #240
It's not recommended but you could use ["global styles"](https://github.com/zeit/styled-jsx#global-styles).

[2017-06-26 05:56] alexofob commented on #42
Hi there,
I am using nextjs 3 beta and I am getting this issue when I separate my styles into another file
as described in the link below:

https://www.npmjs.com/package/styled-jsx#keeping-css-in-separate-files

Thanks.

BR
Alex

[2017-06-26 06:41] giuseppeg commented on #240
@amio you can't use props in styles.. yet

[2017-06-26 06:50] amio commented on #240
Oops, any details about why?

[2017-06-26 07:01] giuseppeg opened #247 "Switch from data attributes to className"
To improve performances we should switch to use `className` instead of the `data-jsx` attribute.

When we have spread props eg. `{...props}` we would need to move the `className` attribute to the end and rewrite it so it applies classes on cascade.

[code]

I actually started to work on it (didn't go far though so contribution are still welcome!) and here is the test case:

[code]

Which would com

[2017-06-26 07:09] giuseppeg commented on #246
@epiqueras hi, thanks for your input!

Switching from data attributes to classes is definitely something that I want to do. I just created an issue #247 for it. You can see why we would still need a function like `_styledJsxPrefix`.

Regarding the `extraClassNames` idea I think that #209 could somehow fix that issue, but yea potentially we could automatically pass the class to the components as `s

[2017-06-26 07:10] giuseppeg commented on #27
see #247

[2017-06-26 07:10] #27 closed

[2017-06-26 07:13] shallwefootball opened #248 "is it possible uglify??"
is it possible uglify css selector and element selector in jsx?

[2017-06-26 07:17] giuseppeg commented on #240
Because all the instances of a component share the same styles. If you update the styles based on props changes that happened on a single component will affect all of them which is not what you want :)

[2017-06-26 07:19] giuseppeg commented on #248
not that I know of, maybe you can write your own babel plugin to do so

[2017-06-26 07:19] #248 closed

[2017-06-26 09:42] amio commented on #240
@ron-liu I just found this, multiple ways to style child component:
https://github.com/zeit/styled-jsx#global-selectors
https://github.com/zeit/styled-jsx#dynamic-styles

[2017-06-26 15:12] epiqueras commented on #246
@giuseppeg

I looked at #247 . Couldn't we just append the hash during compile time to avoid so many function calls. The only place where `JSXStyle.addClass` would be needed would be where spread operators are used, and it would need a check to see if a className is present to avoid overwriting previous rest operators.
E.g.
[code]
But, this would make it really difficult to append to props that ar

[2017-06-26 15:28] giuseppeg commented on #246
Yes we can do that for the explicit `className` attribute (prop) eg. `<div className='foo' />`.

Regarding the spread conflict you are right, we should only set it when `target` has `className` (also always set `className` as first property in case none of the spread objects has it.

I don't think that we should do that, if anything we can pass an attribute `styled-jsx-parentClass` with the parent

[2017-06-26 15:36] giuseppeg commented on #246
@epiqueras updated the issue, let me know if I missed something.

[2017-06-26 18:25] giuseppeg commented on #246
The reason for wrapping spreads with a fn is that one might do the following:

[code]

[2017-06-26 21:37] epiqueras commented on #246
@giuseppeg

There are probably three cases where that happens:
1. Custom component made by the user and styles for rest.className are in the parent.
  Here, you expect rest.className to not be concatenated. It wouldn't do much if it is concatenated because the selector that styles it is in the parent's style tag and uses the parent's styleId.

2. Custom component made by the user and styles for re

[2017-06-27 00:21] fatfisz opened #249 "browser-env included as a dependency"
It seems to me that the browser-env package is only used in the tests. I was alarmed by jsdom appearing in my yarn.lock file.

[2017-06-27 06:48] giuseppeg commented on #249
fixed and released 1.0.7 thanks

[2017-06-27 06:48] #249 closed

[2017-06-27 06:50] giuseppeg commented on #246
if you don't use spreads a lot it is not going to be a problem for you :) But I will see if I can come up with a way to avoid the run time work

[2017-06-27 13:54] PDXIII opened #250 "Browser Warning: Unknown prop"
Hello, folks!
Haven’t found anything like that in the issues so I hope someone has already fixed that.
I use styled-jsx in a [create-react-app](https://github.com/facebookincubator/create-react-app) project and I keep getting these errors in the browser.

![screen shot 2017-06-27 at 15 43 52](https://user-images.githubusercontent.com/415557/27591018-c5eb7db4-5b50-11e7-886e-8c6131f141b7.png)

Besid

[2017-06-27 14:35] giuseppeg commented on #250
How are you using it in `create-react-app`? As far as I know it is not possible to configure `.babelrc`.
Anyhow that error usually means that `styled-jsx` didn't run at all and therefore your CSS is not compiled and scoped.

[2017-06-27 15:03] PDXIII commented on #250
Funny thing! It is compiled.

[2017-06-27 15:37] giuseppeg commented on #250
@PDXIII yeah if you need further help maybe you can create a demo repository

[2017-06-27 17:12] epiqueras commented on #246
@giuseppeg

What if instead of adding the function wrapper you add this:

Before:
[code]

After:
[code]

[2017-06-27 18:29] leo opened #251 "External stylesheets break with Prettier 1.5.0"
In some cases, this:

[code]

...becomes this:

[code]

The above throws an error. Not sure if it's a Next.js issue or not.

[2017-06-27 18:35] rauchg commented on #251
What's the error?

[2017-06-27 18:35] giuseppeg commented on #251
@leo what is the stack trace?

[2017-06-27 18:39] leo commented on #251
Whoops, sorry!

[code]

[2017-06-27 18:52] giuseppeg commented on #251
ah yeah damn `JSXText` :)

The bug is here https://github.com/zeit/styled-jsx/blob/master/src/babel.js#L270

We should get the first non-JSXText child.

[2017-06-27 18:54] leo commented on #251
Is there a chance that we can get this fixed an released (+ bumped in next.js)? There's something coming up and I've love to have this in there.

[2017-06-27 19:01] giuseppeg commented on #251
I don't have time tonight but the fix could be as easy as:

[code]

(haven't thought of edge cases) can you submit a PR?

[2017-06-28 07:01] PDXIII commented on #250
Thanks, @giuseppeg! I will let you know.

[2017-06-28 07:01] #250 closed

[2017-06-28 08:21] giuseppeg commented on #246
Yep I thought of that too yesterday, moving `className` to the end and do an override sounds good. I'll update the issue.

[2017-06-28 08:22] epiqueras commented on #246
👍

[2017-06-28 08:31] giuseppeg commented on #246
@epiqueras thanks for you input :) I updated the issue, let me know if I missed something

[2017-06-28 08:36] epiqueras commented on #246
@giuseppeg Looks great! I'll close this now.

[2017-06-28 08:36] #246 closed

[2017-06-28 11:25] roopemerikukka opened #252 "Column count doesn't get prefixed"
I'm using `column-count` in my css but it doesn't get prefixed. Does the built-in prefixer read `browserslist` config inside projects package.json or how it decides what properties to prefix?

[2017-06-28 16:57] giuseppeg commented on #252
nope we don't use autoprefixer / browserslist but [Stylis](https://github.com/thysultan/stylis.js)' built in prefixer. You may want to open an issue on that repo instead.

With plugins #190 you will be able to disable it and write a plugin that uses autoprefixer instead.

[2017-06-28 16:57] #252 closed

[2017-06-29 07:18] roopemerikukka commented on #252
Thanks for the reply! I opened an [issue](https://github.com/thysultan/stylis.js/issues/43) to the Stylis repo.

[2017-06-30 07:48] amio opened #253 ""Syntax Error: Bad character escape sequence" on windows while `npm run dev` for `/u` path pages"
How to reproduce:

- On Windows 10
- Clone this repo: [styled-jsx-u-debug](https://github.com/amio/styled-jsx-u-debug)
- `npm run dev`

![image](https://user-images.githubusercontent.com/215282/27725648-ede62614-5d3c-11e7-9d15-e1a2c956dbf0.png)

if change [this line](https://github.com/amio/styled-jsx-u-debug/blob/master/pages/user.js#L8):
[code]
to
[code]
the error is gone.

GUESS:

It looks like

[2017-07-01 08:21] hulufei commented on #42
Hi @alexofob, same problem here, and I just spend hours to find out what's cause the problem, it's really tricky.

If the <style> write like this:

[code]
then the error raised. The point is the left `{` should write immediately after `>` like this：`<style jsx>{styles}</style>`

Hope this may help you.

[2017-07-01 08:29] hulufei commented on #42
@rauchg this maybe a new issue?

[2017-07-01 10:59] giuseppeg commented on #42
@hulufei it is, there is an open issue already.

[2017-07-01 12:26] tomsoderlund opened #254 "How to use styled-jsx with responsive design (media queries)?"
Are there any best practices for using `styled-jsx` with responsive design (media queries)?

I'm experimenting with [react-responsive](https://github.com/contra/react-responsive) but it doesn't seem to accept `<style jsx>` inside like:

	<MediaQuery query='(max-width: 600px)'>
		<style jsx>{`
			.my-element {
				background-color: tomato;
			}
		`}</style>
	</MediaQuery>

[2017-07-03 08:26] akupila commented on #251
I just ran into this too because of Prettier which formats:

[code]

into this:

[code]

Seems like the problem is already somewhat clear, here's the full stack trace anyway:

[code]

I'll see if the fix proposed by @giuseppeg above works

[2017-07-03 15:08] #251 closed

[2017-07-04 05:31] mattfysh commented on #42
Latest version of `prettier` now nests contents of `<style>` on a newline, creating this error. A better error message would be helpful, now just to find out what the syntax is for getting prettier to ignore a line

[2017-07-04 05:32] mattfysh commented on #42
This also works:

[code]

[2017-07-05 19:02] davidyeiser opened #257 "data-jsx Attribute appended to @keyframe animation name as plain text"
Here's the generated CSS (note **rotate-around-180datajsx2918181097**):

[code]

The component looks like this:

[code]

I came across a [prior issue](https://github.com/zeit/styled-jsx/issues/68) that seems to be related but isn't the same thing exactly.

**package.json**

[code]

[2017-07-05 19:10] giuseppeg commented on #257
@davidyeiser we namespace animation names so appending `datajsx2918181097` to `rotate-around-180` is just a way to make it unique. The problem with your snippet is that you then apply the `animation-name` via inline styles, `ray180Style`'s properties are not parsed by styled-jsx and the `animation-name` not namespaced

[2017-07-05 19:36] davidyeiser commented on #257
Ahhh okay, got it, thanks so much for the help.

[2017-07-05 19:36] #257 closed

[2017-07-06 12:28] giuseppeg commented on #222
Prettier `^1.5.0` formats styled-jsx but ignores our "external styles" because they are just exported strings / template literals eg.

[code]

In styled-jsx we detect external styles by validating exported strings / template literals with CSSTree [[relevant code](https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L194-L242)]

@vjeux would you accept a PR to do the same in Prettier? Maybe

[2017-07-06 12:35] vjeux commented on #222
I'm not comfortable with this option. The CSSTree spec is extremely lenient and many things that aren't CSS can parse as CSS.

I would encourage you to add a way to statically tag a template literal as being css. Something like

[code]

It's definitely more annoying and verbose but I believe it's going to be better for the ecosystem in general.

[2017-07-06 12:46] giuseppeg commented on #222
@vjeux fwiw I found CSSTree being rather strict and more close to the w3c validator than say PostCSS.

That said I agree with you that tagging the template or annotating the css string with a comment is the best way to go.

[2017-07-06 12:47] giuseppeg commented on #222
@rauchg @nkzawa let's keep this in mind and include the change in the next major release, whenever that will be.

[2017-07-06 13:06] vjeux commented on #222
Oh thanks for the mention, I was indeed talking about postcss. I've never used CSSTree

[2017-07-06 14:40] nickdandakis commented on #254
I've been using cssnext via postcss, and postcss-import. This lets me have the following pattern:
**styles/variables.css**
[code]

**components/Footer.js**
[code]

I'm digging this approach, since it's still all just CSS. I'm running into issues when I do `npm run build` though. postcss-import is crapping out, I think.

[2017-07-07 16:36] giuseppeg opened #258 "Enable greenkeeper"
@leo should we give it another try?

[2017-07-07 16:50] leo commented on #258
It was enabled, but I just re-enabled it! Let's see how it goes. If it wants to merge the greenskeeper badge, please remove the badge... 😊

[2017-07-07 16:50] #258 closed

[2017-07-07 19:23] hamlim opened #259 "Mixing Internal and External styles doesn't work as expected."
## Issue:
I have a use case for overriding some default styles based on the global context a shared component is rendered within. To do this I attempted the following pattern:

[code]

## Expected Outcome:
The expected outcome here would be that the internal styles get overridden by any duplicate content from `styleOverrides`, like so:

[code]

## Actual Outcome:

I have seen two different outcome

[2017-07-07 19:39] hamlim commented on #259
Edit: Looks like an issue with how the [data-jsx] attribute selector is added because it generates this:

[code]

Which is invalid css and therefore ignored.

[2017-07-07 20:05] giuseppeg commented on #259
I am going to close this because it is very complicated to implement mixing styles like that. Imagine this:

[code]

[2017-07-07 20:05] #259 closed

[2017-07-07 20:23] hamlim commented on #259
Ah ok thanks for providing a suggested solution!

[2017-07-08 07:23] unregistered opened #261 "Pseudo-element selectors break compiled output"
On the latest version 1.0.8:

When rendered in a react element:

    <style jsx global>{`
		.other-selector {
		  display: none;
		}

		.corrupting-selector:before
		{
		}
    `}</style>

I would expect to see:

    .other-selector {display: none}

I actually see

    <style id="__jsx-style-11968641476">{.corrupting-selector:before;{;}.other-selector{display:none}</style>

Which is invalid CSS, ca

[2017-07-08 07:27] giuseppeg commented on #261
It might be an issue with empty rules and pseudo selectors, can you remove the empty rule in the meantime? cc @thysultan

[2017-07-08 07:44] thysultan commented on #261
I thought it might be ASI, but i can't reproduce this with stylis, it emits the expected output:

[code]

[2017-07-08 07:45] giuseppeg commented on #254
@tomsoderlund that's an interesting use case because it makes totally sense to me but it is a bit complex for styled-jsx which works as follow:

We grab only the top level `style` tags that are children (direct descendant) of the main jsx tag (an element eg. `div`)

[code]

Nested tags are not collected eg:

[code]

The main reason is that styles are eventually deduped and shared across instances

[2017-07-08 17:13] unregistered commented on #261
@giuseppeg It can still happen when the rules aren't empty. It doesn't even have to be a pseudo-element selector, it might be a parsing issue:

[code]

[code]

[2017-07-08 20:26] aga5tya commented on #68
@giuseppeg @thysultan , I'm getting conflict in animation keyframe when i use only point based value in animation timing shorthands. Like .8s instead of 0.8s for example. The former syntax is accepted in the browser afaik. Not so important, just came across this.

Input:

[code]

Output:

[code]

[2017-07-08 21:54] thysultan commented on #68
@aga5tya Can't reproduce in stylis, what version of styled-jsx are you using?

[2017-07-09 20:50] unregistered commented on #261
It also seems to have trouble with the `@font-face` selector. I recently encountered this gem:

[code]

[2017-07-10 11:23] hamlim opened #262 "Changing external styles based on global variable throws a syntax error"
One of my use cases for styled jsx is to style components slightly differently based on a global theme variable `window.theme` which can be a few different values, but is not dynamic. I intended to switch the styles used to override default styles based on this global value outside of my component and then use them as such:

[code]

This ends up throwing:

[code]

Is it possible to get styled-jsx

[2017-07-11 07:57] nkzawa commented on #247
SGTM

[2017-07-12 06:13] pexxi commented on #205
This would be an awesome addition. Any news on this?

[2017-07-12 07:51] giuseppeg commented on #205
@pexxi we might have to postpone this feature to when dynamic styles support is implemented (#81).

[2017-07-12 20:29] por commented on #254
@nickdandakis I was having the same problem as OP, but really like your approach. Having some trouble getting it to work with the examples though. Cold you share your config?

[2017-07-12 20:55] nickdandakis commented on #254
Sure thing @por.

I'm using the following npm packages:
[styled-jsx-postcss](https://github.com/giuseppeg/styled-jsx-postcss)
[postcss-cssnext](https://github.com/MoOx/postcss-cssnext)
[postcss-cssimport](https://github.com/postcss/postcss-import)

My `postcss.config.js`
[code]

My `.babelrc`
[code]
This is kind of iffy, but it's how I set up styled-jsx-postcss with Next.js. I can't find any docum

[2017-07-12 21:53] por commented on #254
@nickdandakis Thanks! I got it working. I actually had those settings, but I didn’t realise that changes in the `variables.css` file don’t update styles on refresh and changes to styled jsx seem to be cached. Bit of a tricky setup indeed. I did manage to update to all the latest versions of those plugins without a problem. Thanks again for the help and quick response!🍻

[2017-07-13 02:09] nickdandakis commented on #254
Ah yeah, clearing npm cache helps with that. Glad I could help!

[2017-07-13 17:17] smiled0g commented on #253
I'd like to confirm this problem. It looks like your hypothesis is correct @amio I never encountered any problem until I introduced a file with `\u` in the path

![capture](https://user-images.githubusercontent.com/891585/28178700-8e7dc356-6829-11e7-8f78-752fd3c12e33.PNG)

[2017-07-15 11:01] Kikobeats opened #264 "[Question] How to create a mixin"
Hey,

Currently my code looks like:

[code]

I want to refactor it and extract a transition effect to be used in other parts of my application.

I can extract it in something like:

[code]

It's similar to `@mixin` under SASS.

Now I can simplify and refactor my code into:

[code]

Problem? this doesn't work; I don't know if the problem is my syntax or what.

[2017-07-15 19:30] msand opened #265 "React Fiber v16.0.0-alpha.13 support"
My pull request https://github.com/zeit/next.js/pull/2570 for Fiber support in next.js fails because of peerinvalid Peer styled-jsx@1.0.8 wants react@15.x.x
Is anyone looking into Fiber compatibility?

[2017-07-16 09:31] giuseppeg commented on #265
styled-jsx is not fiber ready and we would need some refactoring to support it.
Would you like to explore a way to make it work?

[2017-07-17 21:44] rgbkrk commented on #25
🤔 I'm beginning to wonder if using CSS variables (especially for top level themes) would be the best choice for me. It does impose an implicit API on the components for css variables to be predefined.

[2017-07-18 12:23] giuseppeg commented on #262
yeah ideally we could enable those kind of things. The problem right now is that we check whether the identifier reference `themeOverrides` is imported.

Maybe there is a better way to do so or we can remove that check completely and just make sure that the identifier is not defined within the scope of the component.

[2017-07-18 12:26] giuseppeg commented on #253
I don't want a Windows machine, do you guys want to help out / try to fix this ?

[2017-07-18 12:31] giuseppeg commented on #243
Could not be done for external styles though. What we can do is add an option to disable it completely maybe.

[2017-07-18 12:32] #238 closed

[2017-07-18 12:37] giuseppeg commented on #264
As we speak styled-jsx supports only static css.

If you want to reuse styles you can define them in a separate module [[link](https://github.com/zeit/styled-jsx/blob/master/readme.md#keeping-css-in-separate-files)] (still as static, so you can't use the function approach) or set the dynamic property as inline style.

[2017-07-18 12:37] #264 closed

[2017-07-19 00:11] hamlim commented on #262
Seems like this code should allow for that: https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L149

Unless I am misreading the implementation/comments.

[2017-07-19 08:11] almeynman commented on #243
An option to disable it completely is exactly what I need.
I need to disable it completely for external stylesheet, as most of them do not require prefixing

[2017-07-19 08:47] giuseppeg commented on #262
Ah no that is for inline styles to stop people from using `props` and `state` but yea possibly it could be used for external styles as well. Would you like to put a PR together? It might be worth adding an integration test too  see [this](https://github.com/zeit/styled-jsx/blob/master/test/browser.js).

[2017-07-19 08:48] giuseppeg commented on #243
@almeynman that would disable it also for inline styles, is that ok?

[2017-07-19 09:33] almeynman commented on #243
@giuseppeg ok

[2017-07-20 07:27] giuseppeg commented on #261
@unregistered can you paste the original css for the latests snippet?

[2017-07-20 07:31] giuseppeg commented on #261
[code]

@thysultan this is a bug in stylis and it happens when the curly bracket is in a new line

[code]

[2017-07-20 07:37] thysultan commented on #261
@giuseppeg This [test](https://github.com/thysultan/stylis.js/blob/master/tests/spec.js#L1210-L1218) covers that, what version are you trying this on?

[2017-07-20 07:41] unregistered commented on #261
@giuseppeg Here's an example which produces bad output for that latest snippet, if you put it in the unit test suite:

[code]

Result:

[code]

[2017-07-20 07:53] thysultan commented on #261
Can't seem to reproduce any of them on stylis 3.2.6, so i think an upgrade to 3.2.6 would probably fix these.

[2017-07-20 10:36] #261 closed

[2017-07-20 10:50] giuseppeg commented on #261
@unregistered fixed in 1.0.9

[2017-07-20 12:21] timsuchanek commented on #74
While `styled-components` has this nice plugin https://github.com/diegohaz/styled-theme, a similiar feeling approach can be accomplished by what is described in this article, it works nicely with `styled-jsx` https://medium.com/@mweststrate/how-to-safely-use-react-context-b7e343eff076

[2017-07-20 15:07] giuseppeg commented on #74
In order to support themes we need to implement dynamic styles support :)

[2017-07-23 19:01] johhansantana opened #269 "grid-template-areas after first string is not being passed to the browser"
ide:
<img width="390" alt="screen shot 2017-07-23 at 2 58 01 pm" src="https://user-images.githubusercontent.com/9933887/28502036-b4d104b0-6fb7-11e7-8774-47c0c07b94d5.png">

browser:
<img width="309" alt="screen shot 2017-07-23 at 2 57 51 pm" src="https://user-images.githubusercontent.com/9933887/28502037-b4eaba22-6fb7-11e7-909e-4e157b33aa81.png">

as you can see, the second line for the `grid-temp

[2017-07-24 07:03] giuseppeg commented on #269
@johhansantana can you please open an issue on the [Stylis](https://github.com/thysultan/stylis.js) repo?

[2017-07-24 14:21] johhansantana commented on #269
@giuseppeg should I copy paste the issue?

[2017-07-24 14:38] giuseppeg commented on #269
yep why not :)

[2017-07-24 14:40] johhansantana commented on #269
done https://github.com/thysultan/stylis.js/issues/49 👍

[2017-07-24 14:40] #269 closed

[2017-07-24 17:03] johhansantana commented on #269
@giuseppeg seems like they fixed it, what's the next step? does it gets fixed on this one as well?

[2017-07-25 04:48] cheshirecode opened #270 "Imported CSS module has to be client-side only?"
FIrst of all, thanks for another great project. I was looking for a suitable CSS-in-JS approach with SSR and this gem came along.

Onto issue (or hopefully it's me doing something wrong) - I'm adopting Next for SSR in a project and have this as custom Document as per https://github.com/zeit/next.js/#custom-document:

### _document.js ###
[code]

### in another component, using styled-jsx to import

[2017-07-25 05:42] cheshirecode commented on #270
Oops looks like Next doesn't support imports on SSR yet according to https://github.com/zeit/next.js/issues/2434?

[2017-07-25 07:45] giuseppeg commented on #269
@johhansantana released a new version (`1.0.10`) which includes the fix

[2017-07-26 12:07] smeijer commented on #90
Regarding to typescript and `styled-jsx`, any idea how to fix this one?

[code]

[2017-07-26 13:29] smeijer commented on #90
I was able to fix it with:

[code]

[2017-07-26 18:40] johhansantana commented on #269
@giuseppeg how do I update to the latest version when using NextJS?

[2017-07-27 07:11] giuseppeg commented on #269
@johhansantana you have to wait until they bump the versioni in Next or replace the plugin with the new one temporarily. You can see an example of replacing the plugin here https://github.com/zeit/next.js/tree/v3-beta/examples/with-styled-jsx-postcss

[2017-08-01 19:29] tuespetre commented on #161
*Thank you* for this example of using `injectTo`!

[2017-08-03 00:10] ernestofreyreg commented on #225
I tried @arunoda's suggestion by simply adding `global.` on the `components` variable and it works. Can we have a final solution here? It would help a lot to make styled-jsx a good choice for component libraries.

[2017-08-03 21:01] ernestofreyreg commented on #225
After some tests, I found that you might not actually need to do nothing on the `styled-jsx` part.

If you are creating a component library with `styled-jsx` you DO need to put `react` and `styled-jsx` on the **perDependencies** section. AND need to specify different babel settings for dev and prod environments like:

[code]
This will allow you to test your styles on dev and don't try to include r

[2017-08-05 17:15] dmitrika commented on #106
@rauchg, @nkzawa, @giuseppegurgone

Can we use @rsternagel approach as the best one and add it to readme?
I was looking for linting support and found solution here, not in readme or wiki 🤓

[2017-08-07 17:15] pruhstal opened #273 "Passing style to child component without using global styles"
I've got a child component, let's call it `Link`.

This is the code for that:

[code]

Now say that I import that component within another component, called `Header`

The code for that is:

[code]

However, unless I use `<style jsx global>`, then unfortunately the style doesn't get passed to the child component.

I think a related issue is #197, but I haven't seen any outcome or update on that iss

[2017-08-07 18:44] pruhstal commented on #273
So it seems if I do this:

[code]

It seems to work.

Alternatively I can also do:

[code]

from the parent component's styles.

What is the _right_ thing to do here?

[2017-08-08 09:41] tom2strobl commented on #170
@maticrivo What were your experiences?

[2017-08-08 11:55] maticrivo commented on #170
SublimeBabel is hard.. i couldn't make it to work, I'm currently working without syntax highlighting :(
I haven't closed this so if anyone wants to give it a go he is more then welcome

[2017-08-09 10:48] kamilml opened #274 "Expected a constant as part of the template literal expression, but got a MemberExpression"
Hello everyone. This is my error: ![error](http://i.imgur.com/8obYbym.png)

This is the code:
[code]

What I am doing bad? :(

[2017-08-09 10:53] giuseppeg commented on #274
You can only use constants within template literals i.e. no props, state or anything dynamic. I am working on adding support for dynamic values too though. In the meantime you may want to set that via inline styles on the tag

[2017-08-09 10:53] #274 closed

[2017-08-09 22:07] johhansantana commented on #90
hmm I can't seem to get this working, not sure if it's the same issue but i get the following errors:

![1](https://user-images.githubusercontent.com/9933887/29146094-9ae02378-7d2d-11e7-9fa4-24793de22733.png)

[2017-08-16 15:45] pablocubico commented on #234
Just had the same problem! Damn typos.

AFAIK errors are not detected by the transformer, rules are just passed "as is" and included in the build for the browser to handle.

I think the best option would be to try and use **stylelint** as described here:

https://github.com/zeit/styled-jsx/issues/106

Or wait until a linter plugin is available on stylis:

https://github.com/thysultan/stylis.js/iss

[2017-08-16 17:12] giuseppeg commented on #234
in v2 i am going to remove autodetection and force people to tag styles so that there is no magic and it won't fail silently

[2017-08-17 06:27] pruhstal commented on #247
@giuseppeg this still in progress?

[2017-08-17 07:46] giuseppeg commented on #247
@pruhstal I am working on #81 right now, this will probably be the next improvements

[2017-08-20 22:30] colinmeinke commented on #273
I think the the modifier/variant styles should be applied to the `Link` component, not the component in which they are used.

[code]

use:

[code]

[2017-08-22 03:23] gilbert opened #275 "Cannot use styled-jsx in next.js 3.0 project"
Here's the error I'm getting on server startup:

[code]

My .babelrc

[code]

Package versions:

- next 3.0.3
- styled-jsx 1.0.10

[2017-08-22 04:01] sergiodxa commented on #275
Why are you adding `styled-jsx/babel` to Next.js? Next.js already have that configured for you, you just need to use it :)

[2017-08-22 17:08] gilbert commented on #275
Aha, you're right! I was following the setup in this project's readme. Thanks!

[2017-08-22 17:08] #275 closed

[2017-08-23 22:49] comerc commented on #118
[Yes!](https://github.com/timarney/react-app-rewired/issues/46)

[2017-08-28 14:24] pungggi commented on #209
Hi any news on that?

[2017-09-02 13:14] tkellen opened #276 "example implementation for server side rendering?"
Hi! First, thanks for your tremendously awesome work on this ecosystem. I've been using next.js for two days now and for the most part everything just works. Very impressive given all the complexity under the hood!

I have one question... are there any examples of using styled-jsx with a custom server? I see you have a request handler in the readme, but I'm not sure how to wire that up to this:

[

[2017-09-02 16:54] giuseppeg commented on #276
hi @tkellen! I just tried the [custom-server example](https://github.com/zeit/next.js/tree/master/examples/custom-server) from the Next.js repo and SSR seems to work fine. `handler` would just handle all the routes except for `/a` and `/b`. What is your setup? Do you mind sharing a sample Next.js app / repo?

[2017-09-02 19:52] tkellen commented on #276
Hi @giuseppeg! Here's the project so far:

https://github.com/tkellen/thewoodlandkitchen

To reproduce, compare initial render in dev vs build. Everything looks great in dev. In the built version the styles from `layouts/main.js` do not seem to be present.

Thanks in advance for looking at this. Heads up, the repo is a bit heavy (lots of images that will eventually be on a CDN).

[2017-09-03 07:32] giuseppeg commented on #276
uhm there is a bit too much going on there and honestly I can't tell what is broken. When I view the source I can find the styles from `layouts/main.js` in both dev and prod mode, but I may be missing something. Can you make a simplified test case (just a page with one element and a background-color maybe)?

[2017-09-03 07:59] ifyio opened #277 "`>` is rendered as `&gt;` on the server"
When rendered on the server

[code]

is rendered as

[code]

and this causes the initial styling to not be proper

[2017-09-03 09:55] giuseppeg commented on #277
Just tried and it seems to work fine, can you put together a sample repo to reproduce?

[2017-09-03 10:00] ifyio commented on #277
Actually I just realised that I was doing `<style>` instead of `<style jsx>`. Apologies for the time waste. I will close this issue.

[2017-09-03 10:00] #277 closed

[2017-09-03 10:21] giuseppeg commented on #277
no worries!

[2017-09-03 13:51] tkellen commented on #276
Sure can. Ack. I should have started with an isolated test case. Apologies for the wasted time.

For clarity sake, the reason I asked the question to begin with was because of this line in the README:

To my mind that says I need to *do* something to get SSR rolling for styled-jsx.

I'll break it down to something small and reproducible (and probably figure out the issue on my own in doing so) lat

[2017-09-03 16:52] giuseppeg commented on #276
No worries! Yeah the reason why it is "paramount" is that styled-jsx's SSR helpers add an id to the `style` tag that we can later use to select pre-rendered styles and avoid duplicates / initial client side rendering.

[2017-09-04 20:33] johhansantana opened #278 "ant-design not working with style-jsx"
I'm having problems with ant.design and nextjs built in `style-jsx` they aren't applying

[code]

doesn't seem to work unless I use the `global` property on `style jsx global`

[2017-09-04 21:47] johhansantana commented on #278
@timneutkens clarified this since it's a separate component I have to use
`div :global(.login-form-button)`

[2017-09-04 21:47] #278 closed

[2017-09-04 21:49] johhansantana opened #279 "with ant-design example not working"
Steps:

1. Download the example
2. run `npm i`
3. run `npm run dev`

Gets errors:
![image](https://user-images.githubusercontent.com/9933887/30039031-6ecf66c4-9199-11e7-98f5-47491f972620.png)

[2017-09-04 21:50] johhansantana commented on #279
ups sorry wrong repo :(

[2017-09-04 21:50] #279 closed

[2017-09-05 05:48] timneutkens commented on #278
👌

[2017-09-05 17:52] pruhstal commented on #273
@colinmeinke that doesn't really work well, because what if `Link` comes from some npm module (e.g. a UI library), and I don't have control over it?

That's the use case where this becomes a real problem.

[2017-09-06 09:12] giuseppeg commented on #273
That's the main point, we'd have to figure out a way to control styles from the parent because passing a prop (eg. `className`) is an half baked solution that won't work all the times.

As for now the best way to do this is to use `.someSelectorInTheParentComponent > :global()` from within the parent component eg.

[code]

[2017-09-07 12:28] manglobe opened #280 "external styles with module exports"
This is the first time ,I'm using styled-jsx with next.js to write.
It's very great to write all the html, css ,js in one file.
But now  I  have a simple whim about the dynamic styles.

When I see the styled-jsx write all the css-style in string template ,
I want to  extract all the styles into one file.

Just like this:
[code]
[code]
I wish it will be compiled as this:
[code]
but it compiled as t

[2017-09-07 12:48] giuseppeg commented on #280
as stated in the README:

N.B. We support CommonJS exports but you can only export one string per module:

[code]

This however works with ES6 `exports` (default and named) so you could do:

[code]

and then import them as usual

[code]

[2017-09-07 12:48] #280 closed

[2017-09-08 02:34] manglobe commented on #280
@giuseppeg  Thanks for your quickly reply!
And  sorry, it's my wrong. I haven't read the README clearly.
But an other thing I want to know ,is that I import the style as string type into es6 string template, but why the code after compile was enclosed in braces ?
And I had try a lot of way to do this ,every time the `{}` will around  the `${}` after compile, because of this the  `[data-jsx=*]`  wi

[2017-09-08 06:29] giuseppeg commented on #280
@manglobe can you create a minimal repo on github to reproduce the issue so that I can take a look? maybe use Next.js

[2017-09-08 10:56] manglobe commented on #280
@giuseppeg
just like this:
[code]

I wish it will be compiled as
[code]
But it was compiled as
[code]

of course,this one works well
[code]

[2017-09-08 13:07] giuseppeg commented on #280
Ok you can't reference external styles like that. External styles should be reference is a separate `style` tag:

[code]

[2017-09-15 01:34] skattyadz commented on #106
@rsternagel Thank you for your example above. I get a `CssSyntaxError` in stylelint wherever I have an interpolated value in the styled-jsx string. eg: `font-size: ${myVar};`. Have you found a way to solve this?

[2017-09-15 03:00] czy0729 opened #281 "A similar css has led to some problems"
A List Page and a Detail Page.
I wrote a function to generate a class prefix so I not need to think a unique class, but this made a problem。
Look at the 2 gif, one is refresh then List into Detail, and other is refresh then Detail into List.

![gif](https://user-images.githubusercontent.com/13514316/30464401-e3fbabe8-9a03-11e7-8d65-8ff4cd3398bc.gif)

![gif2](https://user-images.githubusercontent.c

[2017-09-15 10:22] giuseppeg commented on #281
@czy0729 can you put together a sample repo (very minimal) with the necessary code to reproduce the issue? Looking at some code and try it would make it easier to understand what is going on.

[2017-09-15 18:54] MFCo opened #282 "Warning about static CSS"
Just wanna ask if it's possible to add a warning in this case:

[code]
In this case  you don't get what you expect in every situation. When you swap from one page with 'change' activated to another one without 'change' activated, in client side, the style remains without any alteration, I mean with padding 0px and width 100%. But if you swap making a server side request this work as you expect.

I

[2017-09-15 21:54] xedef commented on #170
This would be awesome. Mostly because styled-jsx is silent when an error occurs.

For the moment, as all of my styles are in separate files and they are named the same, I'm using [ApplySyntax](https://github.com/facelessuser/ApplySyntax) with this configuration:

[code]

It's not great as it breaks when you have a variable inside a the template literal, but it's something.

[2017-09-16 16:43] jesper-johansson opened #283 "Trouble exporting styles as default"
I have a "Title" component that looks like this:
[code]
and a styles.js file that looks like this:
[code]

For some reason this doesn't work: `import style from './styles'` and I get no data-jsx tag,
but this does work: `import { styles } from './styles'` and I get the data-jsx-ext tag.
(I also change to `<style jsx>{styles}</style>` then ofc)

I looked through the issues and according to this com

[2017-09-17 21:03] dsifford commented on #265
@giuseppeg I'd love to help with this if still needed.

Curious what the exact issue is for this? I just pulled the repo, installed `react@next` and `react-dom@next` and did nothing else and all the tests pass?

Is there something I'm missing?

[2017-09-17 21:59] dsifford commented on #265
@giuseppeg Just took it a step further and dropped my locally updated `styled-jsx` with react and react-dom 16 installed into one of my projects and it appears that everything is working as expected.... I can't get it to _not_ work!

Did the React team fix whatever the problem was on their end perhaps?

[2017-09-18 02:39] czy0729 commented on #281
I try to write the code in codepen , but I don't know how to import styled-jsx in codepen (；′⌒`)

I make a function to generate unique class like
[code]
So I can get different class in different js to pass to the third-party component because I hate to wrap a unnecessary div.
[code]

But this solution causes me to appear in two pages with exactly the same code and resulting in the following:

Page

[2017-09-18 04:13] rstacruz commented on #81
:+1:, the `style` attribute can't always account for things, like hover states and such.

[code]

...defining a dynamic color for a hover state isn't possible in any way, at the moment.

[2017-09-18 07:08] giuseppeg commented on #81
@rstacruz I've got a branch which adds support for dynamic styles almost ready :) I might publish a beta this week.

[2017-09-21 07:42] shallwefootball commented on #106
+1 error too

[2017-09-22 02:56] czy0729 commented on #281
@giuseppeg is there some config can disable the performance of `auto delete historical  styles` ?

[2017-09-22 20:29] bouzoumita opened #285 "[class*='class_name'] dont work"
I'm writing a website with react and next.js.
I have some css to handle different screen size(responsive) witch is done like so:
[code]
the problem is that the inside ( [class*='grid__col--'] ) does not work but when i put some other thing it work i dont Know if it is an issue or some misunderstood by me.

[2017-09-25 01:10] callumlocke opened #286 "Any CSS variable name containing the substring "content" causes weird, broken output"
I finally isolated a weird bug that kept happening in my Next.js project.

If you use the substring `content` as part of a CSS variable name, then whenever you try to *read* that variable using the `var()` CSS function, styled-jsx compiles it into weird vendor-prefixed gibberish.

### Reading a variable named `--foo-bar`

This compiles correctly.

[code]

### Reading a variable named `--foo-conten

[2017-09-25 06:29] giuseppeg commented on #286
this must be a bug in Stylis our css processor cc @thysultan

[2017-09-25 06:31] giuseppeg commented on #285
What do you mean by "it doesn't work"? Can you provide more details / the output?

[2017-09-25 06:33] giuseppeg commented on #283
did you try to give the default export a different name?

[2017-09-25 06:35] giuseppeg commented on #282
As soon as you use props this is not static css anymore. It will be fixed with #81 which is ready for review so it might go out soon.

[2017-09-25 06:35] #282 closed

[2017-09-25 06:36] giuseppeg commented on #276
@tkellen any update?

[2017-09-25 10:54] thysultan commented on #286
Patched in 3.2.18

[2017-09-25 12:02] tkellen commented on #276
Hi @giuseppeg! No, I've been pretty swamped with work since I posted this. I will be able to answer this in early November (I'm finishing up a rather long contract that has me totally swamped until the end of October).

I'm pretty confident I can resolve the issue. If it would make you feel better to have one less issue open, feel free to close this. I'll be sure to reply with my findings either w

[2017-09-25 12:03] tkellen commented on #276
PS: Thanks for asking!

[2017-09-25 13:57] giuseppeg commented on #276
@tkellen no worries or pressure :) I am quite busy as well with work  and stuff so I can empathize – I just asked in case you needed help and because I realized that I never came back to this issue.

[2017-09-25 17:38] callumlocke commented on #286
@thysultan thank you.

@giuseppeg can you bump the stylis dependency and republish?

By the way, why does styled-jsx not use `^` or `~` semver ranges for its dependencies? What's the advantage of opting out of patch updates?

[2017-09-26 08:09] giuseppeg commented on #286
@callumlocke I didn't make that call. @leo / @rauchg may be able to answer that question. I imagine that the reason is that even patches can introduce regressions. This also was a pre-yarn decision iirc which we might revisit.

[2017-09-26 09:03] giuseppeg commented on #286
@callumlocke I just released `1.0.11` which includes the fix. Thanks for the bug report!

[2017-09-26 09:03] #286 closed

[2017-09-27 14:04] Huvik commented on #225
So what is currently best solution to use? And is there plan for the future?

[2017-09-27 14:20] timneutkens commented on #225
Basically this can be fixed once we support transpiling modules 👍

[2017-09-29 08:44] bouzoumita commented on #285
it seems that is not an issue i just used wrong i was putting the style tag inside the Head tag

[2017-09-29 08:44] #285 closed

[2017-09-29 16:58] giuseppeg commented on #247
Fixed by #288

[2017-09-29 16:58] #247 closed

[2017-09-29 16:59] giuseppeg commented on #234
Fixed by #288

[2017-09-29 16:59] #234 closed

[2017-09-29 16:59] giuseppeg commented on #222
Fixed by #288

[2017-09-29 16:59] #222 closed

[2017-09-29 17:01] #128 closed

[2017-09-29 17:01] giuseppeg commented on #81
Fixed by #288

[2017-09-29 17:01] #81 closed

[2017-09-29 18:57] #155 closed

[2017-09-30 09:52] giuseppeg opened #290 "Conditional tag mounting via `when` attribute"
### the problem

At the moment we only support top level `style` tags since nested ones might be part of a conditional block and therefore affect other component based on some state.

a subtree might not be rendered under some circumstances and that will cause styles to unmount for all the instances e.g.:

[code]

### suggested solution: the `when` attribute

While it might be tempting to try to f

[2017-09-30 09:56] giuseppeg commented on #290
@rauchg thoughts? You had a similar idea once.. the `react()` CSS selector iirc
cc @nkzawa

[2017-10-02 19:55] callumlocke commented on #265
For me, styled-jsx@2.0.0-beta.1 seems to be working perfectly with React@16.0.0 (despite peer deps warning during npm install).

[2017-10-03 07:32] giuseppeg commented on #265
@callumlocke yea but it should fail as soon as you try to return an array of react elements I think

[2017-10-03 19:24] mcansh opened #293 "Any way to use v2 with next.js right now?"
Curious if theres anyway to use the beta over the bundled version with next.

[code]
results in ```Module build failed: TypeError: unknown: Duplicate declaration "_JSXStyle"``` when starting next..

and not having a `.babelrc` at all results in
[code]

[2017-10-03 19:28] giuseppeg commented on #293
@mcansh yeah see: https://github.com/zeit/styled-jsx/pull/204#issuecomment-333458495

[2017-10-03 19:29] mcansh commented on #293
@giuseppeg thank you! Couldn't find it

[2017-10-04 16:21] mcansh commented on #293
Hey @giuseppeg, i patched next's babel config but when using props in `<style jsx>` i get
[code]

babel-preset
[code]

[2017-10-04 16:30] giuseppeg commented on #293
@mcansh try:

[code]

[2017-10-04 16:34] mcansh commented on #293
i'm assuming you mean `npm run dev`?
if yeah, same result

[2017-10-04 16:35] giuseppeg commented on #293
yeah correct sorry. Ok I'll try to reproduce

[2017-10-04 17:10] giuseppeg commented on #293
@mcansh it seems that thing changed a bit since the last time I checked
https://github.com/zeit/next.js/blob/master/server/build/webpack.js#L222-L245

@arunoda @nkzawa or @timneutkens might have suggestions on how to patch Next to use v2

[2017-10-04 17:12] giuseppeg commented on #293
basically even if we patch Next's preset our plugin is ignored since the alias points to the old one - I think

[2017-10-04 17:57] mcansh commented on #293
gothca, thanks for taking a look 👍

[2017-10-05 01:33] timneutkens commented on #293
New version of `next@beta` is out with styled-jsx v2 🙌

[2017-10-05 01:34] mcansh commented on #293
🎉🎉

[2017-10-05 01:34] #293 closed

[2017-10-06 22:01] giuseppeg opened #295 "CSSOM throws an error when a rule is not supported"
When a rule is not supported by the browser `sheet.insertRule` throws an error (and screws up the stylesheet it seems). This is unfortunate because we automatically enable `optimizeForSpeed` only in PROD so users may realize or find out about the bug too late.

eg.

[code]

**EDIT**:

I dug a bit more and the bug is somewhere else. When `insertRule` fails we still increase `sheet` length i.e. the

[2017-10-06 22:01] giuseppeg commented on #295
cc @rauchg @nkzawa @arunoda

[2017-10-06 23:05] nkzawa commented on #295
Sounds good to me if we do this only on development.

Additionally, we'd need a way to not apply `optimizeForSpeed` for specific styles, so that you can still use both `input::-ms-clear` while optimizing others  ?

[2017-10-06 23:37] thysultan commented on #295
Does it mess up the whole stylesheet or just everything after the failed insert?

[2017-10-07 07:13] giuseppeg commented on #295
@thysultan yep that might be the case i.e. try/catch prevents the failure. We have it https://github.com/zeit/styled-jsx/blob/master/src/lib/stylesheet.js#L121 but now I realized that we use it in another place without safeguard https://github.com/zeit/styled-jsx/blob/master/src/lib/stylesheet.js#L145

Need to test that when I am back home

[2017-10-07 09:11] jonnyjg commented on #295
I think I had this issue yesterday when I updated to next 4.0.0-beta.3 from beta.2. I haven't had time to look into the specifics yet, but it was quite confusing to diagnose as everything seemed fine in dev but after refactoring a fair few components and testing on prod, the issue presented itself quite acutely. If it failed, it seemed to break certain scoped styles on a subsequent page. The only

[2017-10-07 09:27] giuseppeg commented on #295
Yep it works, I dug a bit more and the bug is somewhere else. When `insertRule` fails we still increase `length` i.e. the rule index and therefore things started to break.

[2017-10-07 11:21] thysultan commented on #295
I don't think it has to do with the rule being invalid css, but that `insertRule` doesn't support adding it in that way. i.e valid variants `@import`, `@viewport`, `@counter-style`, `@document` rules also throw.

[2017-10-07 12:12] giuseppeg commented on #295
@thysultan `@import` is fine https://jsfiddle.net/gtdj6725
The issue was with my code not handling failures properly, specifically indices were updated in the wrong way https://github.com/zeit/styled-jsx/pull/296/files Let me know in case you think that this might still fail somehow – I think that it explains the missing styles issue we were experiencing.

[2017-10-07 12:21] thysultan commented on #295
Yes, that seems to work, i guess it's only `@viewport {width: device-width;}`, `@counter-style list {color:red;}` and `@document {body{color:red;}}` that are valid that don't seem to work with insertRule.

[2017-10-07 12:34] giuseppeg commented on #295
cool good to know! We could fallback to regular style tags when we detect those rule.
I will do it in a follow up, I don't think it is urgent.

[2017-10-07 15:05] jesper-johansson commented on #283
@giuseppeg Sorry my bad. I must have done something else wrong because I can't reproduce this anymore...

[2017-10-07 15:05] #283 closed

[2017-10-07 20:41] jabacchetta commented on #147
I believe I'm having a similar issue. I'm attempt to use dynamic tag names in combination with `className`.

The following appears to ignore the styles:

[code]

[2017-10-07 21:06] #295 closed

[2017-10-08 02:30] jaydenseric opened #297 "Optional dynamic styles"
What is the best way to write optional dynamic style rules? As in, rules that do not appear at all in the generated styles unless a value is proved via `props`.

The best I came up with so far is this monstrosity:

[code]

Issues:

- The rules (e.g. `margin-top`) are not syntax highlighted.
- It's inelegant having the empty strings on else.
- The lines don't end with `;`, causing prettier to forma

[2017-10-08 06:25] slaskis opened #298 "StyleSheet: `insertRule` accepts only strings."
I'm trying out the later next.js betas and now our tests will fail with this error:

[code]

After some debugging I realize it's because [on this line](https://github.com/zeit/styled-jsx/blob/master/src/lib/stylesheet.js#L104) `typeof rule == "string"` does not actually apply to `new String()` (which is `"object"`), if I add `if (rule instanceof String) {rule = rule.toString()}` on the line before

[2017-10-08 06:34] giuseppeg commented on #297
I am not sure if there is a "best way to...". Frankly I would use inline styles in this case and in many other when it is about dynamic values (unless styles applies on hover, focus, media query and so on).

Inline styles are great!

Right now you have a few more options:

* declare the value outside of jsx and reference it:

[code]

or

* use a generic function `p { ${marginTopIfDefined(marginTop

[2017-10-08 06:37] giuseppeg commented on #298
Good catch, I suppose that you get this error because you are using external styles right?

[2017-10-08 06:46] jaydenseric commented on #297
One thing I dislike about inline styles in this situation is how they bloat the SSR HTML with repeated style strings. With v2 dynamic values, if `Para` is used 30 times with similar padding props, are the class names shared? Or is the output even more repetitive than inline styles?

[2017-10-08 06:52] giuseppeg commented on #297
Yes they are of course! Styles are deduped

[2017-10-08 06:55] #298 closed

[2017-10-08 06:57] jaydenseric commented on #297
Great! So inline styles might add 1kb to the initial load of long pages with repeated components, in comparison to using v2 dynamic values.

[2017-10-08 06:58] slaskis commented on #298
Yep, it was when we're using external styles.

Wow what a quick fix, thank you!

[2017-10-08 06:59] giuseppeg commented on #298
I will update Next.js asap

[2017-10-08 07:15] jaydenseric commented on #297
Ok, so it seems there is no consequence when leaving behind redundant `;` when certain props are undefined, so I think this might be the final syntax I refactor all my inline styles to:

[code]

[2017-10-08 07:15] #297 closed

[2017-10-08 10:31] giuseppeg commented on #298
@slaskis you can get this patch with `next@4.0.0-beta.6`

[2017-10-09 13:36] slaskis opened #300 "Concat of className seems to miss prefix?"
Using the new beta (2.0.1-beta.5)...

We have external styles like this:

[code]

And then when we use it like this:

[code]

It renders like this:

[code]

Which seems like it removed the `jsx-`-prefix from the external verticalPadding style (there's a `.verticalPadding.jsx-1169594943` selector in the DOM).

The result is that the external styles are not implemented at all. But if we change the c

[2017-10-09 13:55] giuseppeg commented on #300
@slaskis can you help me reproduce? Maybe you can create a simple Next.js app and push it on github?

From the snapshots it seems right
https://github.com/zeit/styled-jsx/pull/301/files#diff-d88bcbd8d6ddd1946a5df67964db4227

Also here is where we are adding the `jsx-` prefix https://github.com/zeit/styled-jsx/blob/master/src/babel.js#L170-L181

[2017-10-09 14:00] slaskis commented on #300
I can give it a shot. I've reproduced it in the snapshots of our app but I'll see if I can reduce it to something smaller.

[2017-10-09 14:00] slaskis commented on #300
Super impressed by your quick turn around btw :)

[2017-10-09 14:06] giuseppeg commented on #300
hah I've got notifications on and know the codebase by heart :)
A failing test would be good too! You can clone the branch from my PR and try to add one there or prepare a separate PR

[2017-10-09 14:10] slaskis commented on #300
Here's the simplest test I could make:

https://github.com/slaskis/styled-jsx-test

[2017-10-09 14:12] slaskis commented on #300
![image](https://user-images.githubusercontent.com/5991/31342323-b0657fe0-ad0c-11e7-9f2c-10b7f4849222.png)

[2017-10-09 14:33] giuseppeg commented on #300
the bug might be somewhere here https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L254

[2017-10-09 15:54] #300 closed

[2017-10-09 17:44] slaskis commented on #300
🎉

[2017-10-09 18:00] giuseppeg commented on #300
@slaskis I was in a rush and I didn’t have time but the bug was clear to me when I figured it out and your repo worked once I fixed it. I’ll see if I can add an adhoc test tomrrow

[2017-10-09 19:36] flipxfx commented on #106
I'm getting that error also. It works fine if I don't user interpolated values though.

[2017-10-09 22:59] jabacchetta commented on #298
@giuseppeg It looks like this error is still popping up as of 4.0.1

[2017-10-10 12:56] Mensae opened #302 "Module styled-jsx/css not found"
Following [this](https://github.com/zeit/styled-jsx#keeping-css-in-separate-files) step (css must be imported from styled-jsx/css) I am getting the error "This module was not found".

And this is correct, but incorrect, as this is indeed not there.

next: 3.2.2
styled-jsx: 2.0.1

[2017-10-10 13:12] giuseppeg commented on #302
`next@3.2.2` is not shipping with `styled-jsx@2.0.1` that's why, you need to switch to `next@4`

[2017-10-10 13:12] #302 closed

[2017-10-10 13:49] alivelee opened #303 "Version 2 seems to be conflict with styled-component"
v1 works perfectly with the `.extend` in styled-component,it seems that style-jsx transform the styled-component template Literals

more details in https://github.com/styled-components/styled-components/issues/1228

[2017-10-10 13:55] Mensae commented on #302
Hi @giuseppeg

Thanks for you reply.

Unfortunately it seems not that easy. I actually manually installed styled-jsx v2.0.1 but I've update next to version 4.0.1 now, and just to be sure I removed the node_modules folder first and installed all packages over again.

Still, same result: Webstorm sais "module not installed" and from the terminal:

`ReferenceError: css is not defined
    at Object.<a

[2017-10-10 20:09] #303 closed

[2017-10-11 05:31] jaydenseric opened #305 "::placeholder not vendor prefixed in production"
I don't know why, but `::placeholder` rules are not vendor prefixed in production builds:

<img width="892" alt="screen shot 2017-10-11 at 4 25 00 pm" src="https://user-images.githubusercontent.com/1754873/31423514-008fe3e4-aea1-11e7-81c0-c64691262659.png">

This results in no placeholder styles in Edge and IE.

Weirdly, prefixes appear in development:

<img width="874" alt="screen shot 2017-10-11

[2017-10-11 07:04] giuseppeg commented on #305
@thysultan could you help me out fixing this / improving this plugin? https://github.com/zeit/styled-jsx/blob/master/src/lib/style-transform.js#L68-L133 You know Stylis inside out so I think we could avoid a lot of bugs if you could fix / refactor that plugin.

[2017-10-11 07:39] jaydenseric opened #306 "Unfreeze dependencies"
Quite a few of the dependencies such as `stylis` are locked to a version instead of using the `^`.

There are fixes in new patch versions I have been waiting for.

[2017-10-11 08:29] giuseppeg commented on #306
@rauchg @nkzawa @leo can we unpin dependences? Also because Greenkeeper has never worked for styled-jsx

[2017-10-11 08:30] giuseppeg commented on #306
maybe we can ship it without lockfiles

[2017-10-11 09:01] leo commented on #306
Unlocking dependencies leads to a very high risk of breaking - we've been experiencing this hundreds of times. Unlocked deps mean everyone can publish patches which can break our software (it's a mistake made by the npm team - the SemVer spec doesn't include these things).

We should update the dependency manually! 😊

[2017-10-11 09:06] giuseppeg commented on #306
Agreed but you could pin deps in your app if that's a concern

[2017-10-11 09:07] jaydenseric commented on #306
I disagree, it is best practice not to publish package locks or pin dependencies. That is how the vast majority of packages on npm work. If everyone package had pinned dependencies there would be a lot of duplicate node_modules. Generally patches fix more issues than they create. If packages regularly release broken patches, time do choose a more reliable dependency.

It is up to consumers to use

[2017-10-11 09:12] jaydenseric commented on #306
Thats how sindresorhus manages all his packages: [Lockfiles for apps, but not for packages](https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514). `del` has 500k installs a day: https://github.com/sindresorhus/del/blob/master/package.json#L47.

[2017-10-11 14:05] thysultan commented on #305
I think i have a fix for this, but it seems like `insertRule` throws on the placeholder vendor prefix.

The [rule-sheet](https://github.com/thysultan/stylis.js/tree/master/plugins/rule-sheet) plugin makes use of this and you can see what throws when passed to `insertRule` in the [console](https://rawgit.com/thysultan/stylis.js/master/plugins/rule-sheet/tests/index.html)

[2017-10-11 14:22] giuseppeg commented on #305
That's fine I guess as soon as it won't throw in the target browser right? I mean `::-moz-placeholder` throws in Chrome and it is ignored (cool), doesn't throw in Firefox (cool).

[2017-10-11 14:41] giuseppeg commented on #305
it might only be an issue when selectors are grouped probably eg.

[code]

Since it throws `.foo` won't get styled

[2017-10-11 14:43] thysultan commented on #305
Yes, i guess we could just not log in the catch block for errors that come from `placeholder` vendor prefixes.

The only other error is from `@supports (position:-webkit-sticky) or (position:sticky)`. Though i don't yet know if it's because the syntax is incorrect or because of the vendor prefix `(position:-webkit-sticky)`.

[2017-10-11 14:59] giuseppeg commented on #305
I think because of the vendor prefix

[2017-10-11 16:28] thysultan commented on #305
:smile: It's a syntax issue. The space after and before `or` is required.

This works.

[code]

Will patch this in stylis.

[2017-10-11 17:10] giuseppeg commented on #305
@thysultan so basically I could use your plugin and ditch mine?

[2017-10-11 17:15] thysultan commented on #305
Patched in 3.3.2 and updated the [rule-sheet](https://github.com/thysultan/stylis.js/tree/master/plugins/rule-sheet) plugin. It should be a good working example of how to implement an insertRule plugin with the least overhead.

I think so.

[2017-10-12 08:42] tomsoderlund opened #307 "How to use const and this.props in dynamic styles?"
I'm trying to use `const`’s in [styled-jsx dynamic styles](https://github.com/zeit/styled-jsx#dynamic-styles):

	export default class Image extends React.Component {

		render () {
			const myColor = 'lime';

			return <div>
				<style jsx>{`
					div {
						background: ${myColor};
					}
				`}</style>
			</div>
		}

	}

...gives me:

	Module build failed: SyntaxError: Expected `myColor` to not

[2017-10-12 08:48] giuseppeg commented on #307
Which version of styled-jsx are you using? Are you using Next4?

[2017-10-12 08:52] tomsoderlund commented on #307
@giuseppeg No, styled-jsx v1.0.11 and Next.js v3.2.2.

[2017-10-12 09:25] giuseppeg commented on #307
v1.0.11 doesn't support dynamic styles

[2017-10-12 10:02] timneutkens commented on #307
You need to upgrade to next v4 👍

[2017-10-12 10:07] tomsoderlund commented on #307
OK, thanks, an upgrade to Next.js 4 solved this. Thanks @giuseppeg!

[2017-10-12 10:07] #307 closed

[2017-10-12 18:01] Nipher opened #308 "Cannot find module 'styled-jsx/css'"
Hello everyone, thanks for the great project and all the work you guys are doing at Zeit, incredibly awesome work.

I'm having a weird problem when trying to import `styled-jsx/css`.

I see that you [have specs for it](https://github.com/zeit/styled-jsx/blob/master/test/fixtures/styles.js) so I think it's extremely unlikely to be a problem with the project itself.

But I decide to open the issue a

[2017-10-12 18:19] hanford opened #309 "Support multiple instances of <styled jsx> in one app"
Hello! First of all, thank's everyone who's been working on `styled-jsx` .. `styled-jsx` and `Next.js` are a match made in heaven and are incredible easy / fun to use.

I have a somewhat interesting use case where I'm working on a UI library that is distributed via NPM using Lerna + yarn. I noticed a bug (bug may not be the correct work) .. with `styled-jsx` where when I have multiple instances of

[2017-10-12 19:11] J-Gallo opened #310 "Unfortunately nesting is not supported by styled-jsx"
Hi there !

`.a {
    p {
      color: red;
    }
}`

The code above is throwing the error: Unfortunately nesting is not supported by styled-jsx

Is any plan to support nesting in styled-jsx ? Or is there a workaround to fix this ?

Thanks !

[2017-10-12 19:35] J-Gallo commented on #310
Just saw https://github.com/zeit/styled-jsx/pull/190 but I think that the issue is still valid.

[2017-10-13 07:05] Huvik commented on #310
You can use postcss in meanwhile

[2017-10-13 07:33] giuseppeg commented on #305
@jaydenseric I'll wait for @thysultan to fix his rule-sheet plugin hopefully I can switch to that and we can get continuous bug fixes and support. In the meantime if this is a real issue you can disable the `optimizedForSpeed` mode in production

[2017-10-13 07:36] giuseppeg commented on #310
styled-jsx is never going to support non standard CSS features, however soon (like this weekend) I will release a new version that introduces a plugin system which will allow to use SASS, PostCSS or really processing your styles as you please - I already wrote two sample plugins
https://github.com/giuseppeg/styled-jsx-plugin-sass
https://github.com/giuseppeg/styled-jsx-plugin-postcss

[2017-10-13 07:36] #310 closed

[2017-10-13 11:07] Mensae commented on #308
Still the same for me. [see](https://github.com/zeit/styled-jsx/issues/302)

[2017-10-13 11:36] giuseppeg commented on #308
@Nipher styled-jsx 2.0 is integrated only in Next.js v4, if you have a project that is using v3 there is no way to use a different version of styled-jsx

[2017-10-13 11:37] giuseppeg commented on #308
also make sure that you clean any cache:
[code]

[2017-10-13 12:22] Nipher commented on #308
Hey @giuseppeg, thanks for the fast reply, I'm using the `"next": "beta"` actually, does it work with the beta?

Also I created a project only with `styled-jsx`, all stand alone, without nextjs, with no luck.

I tried removing`node_modules/.cache` in my node_modules, but I had no luck 😕
In the meantime I managed to use pure template literals and not use `styled-jsx/css`, but I would love to use it

[2017-10-13 15:16] fgascon commented on #225
I think the root problem here is that the `StyleSheetRegistry` is instanciated as a singleton in [style.js](https://github.com/zeit/styled-jsx/blob/5213cee0e3aa5f50f61b4f9dfcdd6deb78c1b972/src/style.js#L4) in v2. There is the same problem of global singleton in v1 as @sidorares pointed out. The user of the styled-jsx library should have the choice over how and when to instanciate it. For example,

[2017-10-13 17:58] giuseppeg commented on #308
I think some of the latest beta version ships with v2. `styled-jsx/css` is a fake import to detect css files/blocks internally the plugin eventually removes it. So if you are getting an error chances are that the plugin is not running at all.

[2017-10-14 14:40] jaydenseric commented on #305
@giuseppeg thanks for the update, and tip.

[2017-10-14 17:33] MFCo opened #311 "Add support to set sendOptions on /static"
Wouldn't it be nice to set for example max-age on files served from /static?

I think it would be nice to let the users set on their custom servers the sendOptions parameter.

How irreal is to add this feature? For example we can do something like:

[code]
[code]

[2017-10-14 17:49] timneutkens commented on #311
You can already do this in your custom server by simply defining the `/static` route and setting the headers there? 🤔

[2017-10-14 17:53] MFCo commented on #311
Oh, maybe I was just missing something, I thought it wouldn't work and probably when I tried did something wrong. I've been just serving another folder like:

[code]

[2017-10-14 17:57] MFCo commented on #311
@timneutkens Oh, sorry, I just noticed this is Styled-JSX repo and not Next.js repo. I'm gonna close it. Thanks anyways :)

[2017-10-14 17:57] #311 closed

[2017-10-14 18:02] timneutkens commented on #311
👍 I didn't notice too :joy:

[2017-10-15 00:53] rgbkrk commented on #308
I've done the same, starting up a brand new app with `next@4.0.3`, `styled-jsx@`, using _just_ the sample given in the README:

[code]

[code]

[2017-10-15 09:39] giuseppeg commented on #308
alright folks I need a test case repo to debug this issue

[2017-10-15 10:52] timneutkens commented on #308
@rgbkrk I've tried your case and can't reproduce 🤔

[2017-10-15 16:05] #182 closed

[2017-10-15 17:33] giuseppeg commented on #141
Fixed by #291

[2017-10-15 17:33] #141 closed

[2017-10-15 17:34] giuseppeg commented on #106
Fixed by #291

I made a test plugin https://github.com/giuseppeg/styled-jsx-plugin-stylelint it is a proof of concept but you guys can start from there (contribute and make it better)

[2017-10-15 17:34] #106 closed

[2017-10-16 00:31] connor-baer opened #315 "Disable warning about nesting when using plugins"
- [x] I have searched the [issues](https://github.com/zeit/styled-jsx/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Using plugins with `styled-jsx` should enable me to use nesting in my css without throwing errors.

## Current Behavior

Using `next@4.0.5` and `styled-jsx@2.1.1` and the new plugin system with `styled-jsx-plugin-postcss`, the following er

[2017-10-16 05:57] timneutkens commented on #315
@connor-baer It actually works just fine. The problem is that the example still depends on next 4.0.4 instead of 4.1.0, will update it right now. A simple `yarn add next` will fix your issue 😄 I've tested postcss-nested with this and it worked perfectly 👌

[2017-10-16 06:28] connor-baer commented on #315
@timneutkens Whoops, didn't check the dependency in the example. 😬

However, the problem still occurs in my own code, even with Next 4.1.0. I'll investigate a bit more, and if I can't get it to work, I'll provide another test case 👍

[2017-10-16 07:25] timneutkens commented on #315
Might be babel cache. Try removing `./node_modules/.cache`

[2017-10-16 11:37] tomitrescak commented on #90
@nikvm can it actually be used like that? I’m searching for a solution that does not require Babel and can go pure Typescript

[2017-10-16 17:50] bukinoshita commented on #308
I'm having this issue too.

IIRC this is caused because there's no `css.js` file in the root of the project like [this](https://github.com/zeit/styled-jsx/blob/master/style.js), but as @giuseppeg mentioned "_styled-jsx/css is a fake import to detect css_" so I don't know how to fix it.

[2017-10-16 19:16] jad11v commented on #308
also having the issue. I couldn't reproduce from the sample repo, but is verified not working in a project i upgraded from next 3

[2017-10-16 20:36] Nipher commented on #308
Just created a [NextJs simple test repository](https://github.com/Nipher/test-styled-jsx-css) from scratch (using next@4.1.0 + styled-jsx@2.1.1) and it worked with a very quick and simple example! 👍

I'll upgrade my project to use 4.1.0 🙇
I wonder how this fake path works though, I'll look into it later for curiosity 🤔

Thank you for your time guys, I hope everyone else can also make it work with

[2017-10-16 20:44] connor-baer commented on #315
I got it to work by adding `postcss-nested`. Initially I was only using `postcss-cssnext` which is [supposed to support nesting](http://cssnext.io/features/#nesting) (and it has worked in the past). Oh well, as long as it works now 🤷‍♂️

[2017-10-16 20:44] #315 closed

[2017-10-16 20:46] timneutkens commented on #315
Strange that it didn't work with postcss-cssnext. Glad you figured it out though 🙌

[2017-10-16 20:52] IharKrasnik opened #317 "Separate files with raw css code"
Hi!
There is an example of keeping css in separate files in the project's [Readme](https://github.com/zeit/styled-jsx#keeping-css-in-separate-files).
However it shows only how to keep js exports in a separate file using css`styled-jsx/css, but not a raw css code.
Is it possible to keep a raw css code in a separate file and import it by react components, probably with the help of babel-plugin-inlin

[2017-10-16 21:48] simonsmith commented on #147
Bumped into this issue almost immediately when trying to add a className to a `<Link>` component from `react-router` :)

Any thoughts on merging #244?

[2017-10-17 02:26] TonyHYK opened #318 "Constants might not work in external styles - investigate"
Hi I'm trying to add constants in an external css file like so
[code]
I see the following message:
[code]

[2017-10-17 09:10] slaskis opened #319 "StyleSheetRegistry errors"
I believe we found a regression in 2.0 which only shows up in production.

It seems to be some kind of cleanup done by styled-jsx 2.0. Where empty ```<style jsx>{``}</style>```-tags are used sometimes but removed when navigating away which causes this error:

[code]

I've added [a commit](https://github.com/slaskis/styled-jsx-test/commit/69e2e6b595bf70f96f9019951153d618f6c664f2) to my sample repo

[2017-10-17 10:06] pramjeet commented on #319
I am also facing this issue in production, does anybody know a quick fix for now please?

[2017-10-17 10:11] giuseppeg commented on #319
The quick fix is to not use the `optimzeForSpeed` mode (or rather set it to `false`).

@slaskis why would you use an empty style tag?

[2017-10-17 10:12] giuseppeg commented on #318
uhm odd, those are not dynamic styles. You are using a constant and it should work. However dynamic styles like `this.props.something` shouldn't work. I'll investigate

[2017-10-17 10:13] pramjeet commented on #319
I found some empty `<style jsx>{``}</style>` and just removed them. It fixed the problem for me.

@giuseppeg Thanks anyway.

[2017-10-17 10:13] giuseppeg commented on #305
Fixed in 2.1.0

[2017-10-17 10:13] #305 closed

[2017-10-17 10:15] giuseppeg commented on #317
This is out of the scope of this plugin, I believe that you can turn regular files into js modules already with some tool/babel plugin or custom script

[2017-10-17 10:15] #317 closed

[2017-10-17 10:37] slaskis commented on #319
I just updated next to 4 and this started to happen in production.

I don't know why but a colleague of mine does it kind of like a template for new components which will get styles later.

I would understand if it's not supported but a better and maybe more consistent error would be nice. Now it's a pretty aggressive regression which occur when you upgrade.

[2017-10-17 10:47] giuseppeg commented on #319
yup we could filter out empty rules of course :) PR are welcome!

[2017-10-17 14:38] giuseppeg commented on #147
@simonsmith the problem with passing the parent scoped `className` to components is that it may lead to unexpected side effect like descendants being styled due to generic selectors defined in the parent. Eg.

[code]

[code]

To solve this issue maybe we could allow components selectors like

[code]
which generates a unique className for that component, not sure if this would work either.

Also no

[2017-10-17 15:07] simonsmith commented on #147
@giuseppeg If the className is generated in the parent and passed to the `Child` how does that interfere? Doesn't it end up being like this:

[code]

You may have to school me on how styled-jsx is operating behind the scenes.

Regardless, any thoughts on how I work around the issue with the `<Link>` component?

[2017-10-17 15:34] giuseppeg commented on #147
@simonsmith `jsx-123456` is also applied to the outer `div` (`.parent`).

To style the `Link` you could temporarily use `:global()` until we find a better mousetrap:

[code]

[2017-10-17 23:57] TonyHYK commented on #318
@giuseppeg sorry let me clarify on the example, this only comes up when I try to use constants imported from another file, I updated the example to reflect that

[2017-10-18 00:14] TonyHYK commented on #318
hmm interesting it works if I do the following
[code]

[2017-10-18 03:59] jasondonnette opened #320 "Prettier + eslint autofix issue"
When using prettier with eslint integration, it turns this this:
[code]

Into this:
[code]

I have to disable `react/jsx-closing-tag-location` and `react/jsx-curly-brace-presence` for it to work correctly.

For me it was to set this in .eslintrc:
[code]

It's not necessarily a bug worth fixing, but I wanted to post this in case anyone runs into it - took me a while to realize it wasn't an issue wi

[2017-10-18 04:00] #320 closed

[2017-10-18 05:54] giuseppeg commented on #318
@TonyHYK yep there is a bug indeed when using `color.green` it throws. `green` should work so as a workaround for now you could use:

[code]

or

[code]

[2017-10-18 08:18] #318 closed

[2017-10-18 08:26] giuseppeg commented on #309
the problem is with the tag `this.props.tag` being dynamic, right now those are not transpiled. There is a wip PR https://github.com/zeit/styled-jsx/pull/244 to fix that, I might finish it when I have a little free time

[2017-10-18 08:56] coox opened #322 "Can no longer inject style rule from a const string since version 2"
It seems impossible to inject a style rule from a const string using styled-jsx version 2. Since this feature was supported in version 1, I would consider this a regression.

My personal use case is very simple, I would like to be able to define styles in CSS files to benefit from standard tooling for editing/linting, which are much harder to leverage with inline CSS-in-string or CSS-in-template-l

[2017-10-18 19:32] J-Gallo commented on #310
Thanks for the answer. I will try de sass plugin.

[2017-10-19 11:02] coox commented on #322
Thanks for your detailed response, @giuseppeg!

I would happily use `css`-tagged template literals in external style modules. However, this is really only going to push the issue of injecting CSS files one step further, with an extra pinch of complexity in the build process.

And unfortunately, it also provides similar results… I have updated my [example repo](https://github.com/coox/styled-jsx-un

[2017-10-19 11:48] giuseppeg commented on #322
Why this?

[code]

I am pretty sure that the following will work:

[code]

An hypothetical build script would do

[code]

Then you let styled-jsx compile it for you - you don't have to do a thing just use the styles:

[code]

It mainly has to do with figuring out whether the referenced identifier `testStyles` comes from the right scope. With imports it is easy since we can collect them into an arr

[2017-10-19 13:12] Huvik opened #323 "Styled jsx with plugins without next.js"
Hey,
i am wondering how properly, implement styled-jsx with plugins in react project.
I made simple repo with `styled-jsx-plugin-postcss` and `postcss-nested`, but i wont work because error message `Unfortunately nesting is not supported by styled-jsx.` So its possible to debug if postcss plugin is loaded or how to debug it in general?
Repo: https://github.com/Huvik/styled-jsx-test

[2017-10-19 23:45] rockchalkwushock commented on #319
FYI beginning work on this, wish me luck 😂  🎃 💩

[2017-10-20 02:03] #281 closed

[2017-10-20 10:29] tom2strobl opened #324 "Can't use styled-jsx/css in custom webpack loader because "Module not found""
The new v2 release looked promising to finally get our desired behaviour back: having normal
 `.scss` files, importing them as a `import styles from "./component.scss"` object and putting this object into the `<style jsx>{styles}</style>`.

The first step works:

[code]

Importing this `style.js` file as mentioned above works! But it needs the .js extension and import css / export css magic. A cus

[2017-10-20 10:52] nkzawa opened #325 "Setting multiple values to animation-name doesn't work"
[code]

is transpiled to

[code]

[2017-10-20 10:55] nkzawa opened #326 "Setting none to animation-name doesn't work"
[code]

is transpiled to

[code]

[2017-10-20 13:22] thysultan commented on #326
I think this and #325 might be bugs in [stylis](https://github.com/thysultan/stylis.js/issues), can you open an issue there as well?

[2017-10-20 13:59] nkzawa commented on #326
@thysultan opened issues!

[2017-10-20 20:22] williamkunz commented on #319
@slaskis Could this be your issue? https://github.com/zeit/styled-jsx/pull/327#issuecomment-338312692

[2017-10-20 21:27] aviramga opened #328 "Styles does not apply for elements rendered outside the render function"
Hi,

I noticed that when calling a method that returns dom elements from the render the styles of the component does not apply for the elements returned.
For example:

[code]

styles defined on some-class will work, but for the another-class it wouldn't. Is this intentional behavior? I know styles are scoped so no nested components gets their father's styles,  but these are not nested components..

[2017-10-20 22:32] slaskis commented on #319
Looks very interesting!

[2017-10-20 22:47] ndreckshage opened #329 "Rewrite complex spread props breaks"
Wasn't 100% sure how to title this, but...

compile error `Cannot read property '0' of null`
[code]

no compile error:
[code]

[2017-10-20 22:53] ndreckshage commented on #329
btw in my apps im just pulling up into a var. but wouldnt be surprised if others porting a reasonable big project from v1 to 2. but other than that seems to be a seamless upgrade - amazing!

[2017-10-21 04:00] coox commented on #322
It was’t obvious for me when I started using styled-jsx that the build process you describe is pretty much the only way to achieve what I was trying to do… But thanks to this discussion, and with inspiration from [Next.js’ with-global-stylesheet example](https://github.com/zeit/next.js/tree/master/examples/with-global-stylesheet), I managed to adapt your hypothetical build script as a webpack load

[2017-10-21 08:12] giuseppeg commented on #322
@coox I tried something like that once and yep it works for external styles. Although there are some cons:

Those for me are kind of a big deal but it is subjective.

There is another option now that styled-jsx supports plugins. You could make a plugin that replaces comments with actual css:

[code]

https://github.com/zeit/styled-jsx/#css-preprocessing-via-plugins

To be honest this feels a bit l

[2017-10-21 09:46] giuseppeg commented on #329
@ndreckshage thanks for the bug report. The issue is indeed with such a complex spread expression.
I will try to make it work for complex cases like that too. In the meantime your solution is what I would I have gone for too

[2017-10-21 09:48] #4 closed

[2017-10-21 09:48] #21 closed

[2017-10-21 09:48] #28 closed

[2017-10-21 09:48] giuseppeg commented on #328
It's always been like this and I don't think we will change any time soon. See https://github.com/zeit/styled-jsx/issues/42

[2017-10-21 09:48] #328 closed

[2017-10-21 09:50] giuseppeg commented on #324
Similar to https://github.com/zeit/styled-jsx/issues/322 Closing as duplicate

[2017-10-21 09:50] #324 closed

[2017-10-21 09:55] giuseppeg commented on #323
Makes sure that the path to the plugins is correct, in case try to resolve them like it is mentioned in the docs.

There is no way to debug this right now, if you have any ideas on how to improve this it'd be great.
Maybe we can print out debugging info like "Loading styled-jsx plugins.. Plugin "plugin-name" loaded..." etc.

[2017-10-21 09:56] #308 closed

[2017-10-21 09:57] #270 closed

[2017-10-21 09:58] giuseppeg commented on #208
@sedubois as of v2 we support dynamic styles.. this should solve your issue. Feel free to re-open if you need further help or this is still not possible to do.

[2017-10-21 09:58] #208 closed

[2017-10-21 09:58] #265 closed

[2017-10-21 10:00] giuseppeg commented on #160
@hamlim is this still an issue?

[2017-10-21 12:03] aviramga commented on #328
@giuseppeg is there a workaround for this?

[2017-10-21 12:12] callumlocke opened #330 "Question about optimizeForSpeed"
From readme:

I'm confused by this, what does it mean? I can still edit styles in devtools.

[2017-10-21 12:33] giuseppeg commented on #328
I don't think so, just split your component into smaller ones

[2017-10-21 14:12] liweinan0423 opened #331 "Does styled-jsx support :local switch"
I am wondering if styled-jsx supports the :local switch in a global styles, such as

[code]

What I observe in current styled-jsx is that it is not working

[2017-10-21 17:42] bukinoshita commented on #308
In my case it still does not work, I'm not using `next.js` so can't upgrade it. Would be good to re-open this issue if possible.

Here's the project that fails: https://github.com/bukinoshita/pilot-component/tree/add/external-css

[2017-10-21 18:06] giuseppeg commented on #308
@bukinoshita you are importing ‘next/css’ in styles.js it shoukd be ‘styled-jsx/css’ instead

[2017-10-21 18:12] bukinoshita commented on #308
@giuseppeg you are right, my bad.  I had that fixed tho and still gives me the error

[code]

[2017-10-22 17:31] giuseppeg commented on #331
we don't support this feature, you can go the other way around or just use another tag :)

[2017-10-22 17:31] #331 closed

[2017-10-22 23:16] steida commented on #276
Is SSR docs in readme actual? For me, it seems it works out of the box.

[2017-10-23 07:48] chemzqm opened #332 "sourceMappingURL included in production build"
Hi, I'm using next.js version 3.2.2, after I use `NODE_ENV=production next build` I found `sourceMappingURL` still exists in javascript files:

<img width="1282" alt="screen shot 2017-10-23 at 3 41 11 pm" src="https://user-images.githubusercontent.com/251450/31877481-394a90f0-b809-11e7-90a5-0c3aa2031d7c.png">

I have configuration `config.devtool = dev ? 'cheap-module-eval-source-map' : false` in

[2017-10-23 12:17] tom2strobl commented on #322
thanks for making me aware of this thread @giuseppeg, just chiming in real quick that using the styled jsx scss plugin in @coox's setup worked flawlessly 👌🏻

[2017-10-23 13:02] khrome83 opened #333 "Variables from closest scope do not process before plugins"
As you can see from here - https://github.com/giuseppeg/styled-jsx-plugin-postcss/issues/3

There is currently a issue where variables used in closest scope are not handled before the styles are sent to the plugins for processing.

I filed the issue with the PostCSS plugin, incase the issue is with that repo. But it could be the order of operations with how stuff where the PostCSS plugin should be

[2017-10-23 15:46] tflx opened #334 "Cannot find module 'styled-jsx/style.js'"
I'm trying to use external styles with styled-jsx.
It's a simple test build on the "with-firebase-hosting" example. The error happens on development and when deployed to firebase.

In the "pages" index.js there is a Link to the about.js route.
The error only happens on reload of about page - NOT when clicking link from index.js to about.js

about.js has this "Test" component:
[code]

Test-style.js

[2017-10-23 18:37] chibicode commented on #322
Hi @giuseppeg, this is a slightly different scenario than @coox's situation, but kind of related and therefore I'd like your 👀 .

I added an example on next.js to load a CSS file located in `node_modules`: https://github.com/zeit/next.js/pull/3157

This uses `inline-import` babel plugin, which allows you to `import` a CSS file into a string, and is based off a comment from here: https://github.com

[2017-10-23 19:36] chibicode commented on #322
It seems that the extra curly brackets appear only for global styles.

I tried using styled-jsx/css template string, but if you do `style jsx global`, it adds extra curly braces in the beginning and in the end.

Will add a reproducible repo soon...

[2017-10-23 19:53] chibicode commented on #322
I just realized that `css` template literal is responsible for generating the hash...but

[code]

Leads to extra brackets as mentioned by @coox, if the style is imported using `global`.

I could come up with a more elaborate build process as suggested on this thread, but that would defeat the purpose of keeping it simple...

[2017-10-24 01:51] Gavin1995 opened #335 "How to use px2rem-loader or px2rem？"
I use Webstorm Next.js and styled-jsx, but would like to convert <style jsx>{``}</style jsx> inside px to rem, how should i do it? Thank you

    // package.json
    "dependencies": {
        "antd-mobile": "^1.7.0",
        "next": "4.1.0",
        "react": "^16.0.0",
        "react-dom": "^16.0.0",
        "styled-jsx": "^2.1.1",
        "px2rem-loader": "^0.1.7",
    }

    //next.config.js I w

[2017-10-24 13:21] rssfrncs opened #336 "Is this actually for React and not just JSX?"
Going off of "Full CSS support for JSX without compromises" I expect that this library would work with my VueJS project which uses render functions and JSX instead of templates.

However, after installing and adding a basic <style jsx> component to my render function I get the following error,

![image](https://user-images.githubusercontent.com/7808978/31945206-64e2ac30-b8c6-11e7-984c-01473c3c7e92

[2017-10-25 09:18] Huvik commented on #323
Yea, it would be helpfull,because now i dont know if plugin is corrected loaded or not, because i tried sass and postcss plugins. Sass is working correctly, but i dont know if postcss is loaded or not. I tried adding full path and still god nested css, even that i have postcss nested.

[2017-10-25 14:53] atulmy opened #337 "Passing parameters while loading CSS from external file"
I'm trying to **load CSS from separate file** and also want to **pass some parameters** to make it dynamic but I'm getting this Error: `SyntaxError: Expected a template literal or String literal as the child of the JSX Style tag (eg: <style jsx>{`some css`}</style>), but got CallExpression`

Component file
[code]

CSS File
[code]

[2017-10-25 16:58] dizlexik commented on #322
I'm eagerly awaiting a resolution to this issue. This bug doesn't produce any symptoms for me in dev mode but when I build and run in a production environment I start getting errors with the message `StyleSheetRegistry: styleId: 'jsx-undefined' not found.`.  For now I'm forced to pin my version of styled-jsx to v1 via yarn resolutions, but I'd really love to utilize some of the new styled-jsx feat

[2017-10-25 17:35] giuseppeg commented on #336
yes it depends on React too,m but if you have ideas to add support for Vue please let me know, tha would be awesome

[2017-10-25 17:39] giuseppeg commented on #337
External styles dont work with dynamic styles. You may want to move the dynamic parts to inline style tags in your components

[2017-10-25 17:39] #337 closed

[2017-10-25 17:41] giuseppeg commented on #335
you can use a plugin like styled-jsx-plugin-postcss or make your own

[2017-10-25 17:41] #335 closed

[2017-10-25 17:44] atulmy commented on #337
😔 Abstracting away the entire CSS code provides much better code structuring and readability. Currently, since most of the CSS is dynamic (based on props) I'll have to clutter the Component code instead. Any chance of this to be implemented in future?

[2017-10-25 17:53] giuseppeg commented on #333
Interpolations (variables) are resolved at render time and plugins receive a css string with placeholders instead of variables since plugins or our lib to scope selectors doesn’t understand interpolations. What you need to do is modify the postcss plugin to replace these placeholders with something that postcss can parse, run postcss in the resulting string and then restore the original placeholde

[2017-10-25 17:53] #333 closed

[2017-10-25 17:55] giuseppeg commented on #332
please open an issue on the Next repo

[2017-10-25 17:55] #332 closed

[2017-10-25 18:00] giuseppeg commented on #322
this is getting out of topic / styled-jsx and external styles weren’t meant to be used like this. If you want regular external css please consider using a custom solution maybe with a tiny custom react component to inject actual external css

[2017-10-25 18:00] #322 closed

[2017-10-25 18:04] giuseppeg commented on #322
@coox feel free to open a new issue to enable support for `css` within the same component file. Also feel free to submit a PR for readme.md to describe how to use your setup

[2017-10-25 18:44] bukinoshita commented on #308
Can we reopen @giuseppeg ??

[2017-10-25 19:25] dizlexik commented on #322
So the [with-global-stylesheet-simple](https://github.com/zeit/next.js/tree/master/examples/with-global-stylesheet-simple) example in the Next.js repo is invalid then? And there's no plan on fixing the `StyleSheetRegistry: styleId: 'jsx-undefined' not found.` error?

This is a shame. It seems to me to be a valid use case and is exactly what I'm looking to accomplish. But if you're saying that it i

[2017-10-25 19:48] chibicode commented on #322
@dizlexik sorry about causing a trouble in production, I didn't realize this method failed in production on v2 when I submitted that example. I probably should submit a PR to remove the example.

I think this is supported then it might work out though.

Sorry for getting off topic.

[2017-10-25 19:56] dizlexik commented on #322
I actually implemented this independently before ever seeing your example and stumbled upon this only after running into the same issues as you did. Which probably means we're not the only ones that have been or will be burned by this.

[2017-10-26 02:17] chemzqm commented on #332
I found the latest next have the feature for setting styled-jsx options in .babelrc.

[2017-10-26 07:09] atulmy commented on #337
CC: @rauchg @nkzawa

[2017-10-26 09:10] giuseppeg commented on #330
In prod `optimizeForSpeed` is automatically set to true (unless you set it to false explicitly). This mode uses the CSSOM API which lets you insert only valid css rules (no comments) and makes styles read only (can’t be edited cia devtools)

[2017-10-26 12:56] igor-ribeiro opened #338 "Doesn't work when returning an array - React 16"
Code:
![image](https://user-images.githubusercontent.com/5148753/32054154-4072536a-ba3c-11e7-8091-e328ae9279c2.png)

Console:
![image](https://user-images.githubusercontent.com/5148753/32054089-0e231084-ba3c-11e7-99e6-b135850c55fe.png)

Compiled:
![image](https://user-images.githubusercontent.com/5148753/32054108-1e6a3878-ba3c-11e7-97e0-7cad2563706f.png)

[2017-10-26 13:01] igor-ribeiro commented on #338
#284

[2017-10-27 15:18] giuseppeg commented on #336
@rssfrncs by the way doesn't Vue have its own scoped styles system?

[2017-10-27 15:19] giuseppeg commented on #334
@tflx can you push an example on github so that I can clone and see what's going on?

[2017-10-27 15:19] #330 closed

[2017-10-27 15:22] rssfrncs commented on #336
@giuseppeg single file components (.vue) can have scoped css using `<style scoped>`. However this doesn't allow you to interpolate variables and isn't supported for those developers who prefer to use render functions and JSX. I'm currently using CSS modules but have started to look into css in js alternatives.

[2017-10-27 15:30] giuseppeg commented on #308
@bukinoshita chances are that webpack or something else tries to load files/resolve imports before transpiling them with babel. Check your build pipeline

[2017-10-27 17:42] giuseppeg commented on #336
Alright, I am not familiar with Vue but in order to use props and interpolation you need React right now.. although that part could be abstracted away very easily if Vue has similar concepts to lifecycle methods and so on. I am not sure I will have enough time to invest into this but I'll keep the issue open thank you :)

[2017-10-28 09:00] #326 closed

[2017-10-28 18:23] ndreckshage opened #340 "Styles with line breaks dont work (long lines with prettier)"
works as one line:
[code]

breaks when prettier splits

[code]

have to add prettier-ignore above style tag

[2017-10-30 13:07] ilionic opened #341 "External files in with-styled-jsx-scss"
Based on https://github.com/zeit/next.js/tree/master/examples/with-styled-jsx-scss
`styled-jsx-plugin-sass` plugin works fine if sass is inlined, but is it possible to load sass from a separate file?
Tried with webpack `raw-loader` to load file and inject but doesn't work.
[code]

Previously in styled-jsx 1 we used `stylus-loader` and `raw-loader` in webpack to get compiled css and inject to style

[2017-10-31 05:02] treshugart commented on #13
I just wanted to give `:host` a +1 in case it matters :). It'd be interesting to see closer alignment to shadow DOM, particularly because I really like the idea of pairing this library with shadow DOM someday.

For example, imagine if I could get native shadow DOM behaviour for most of what I write, but have this as a build step that gives me useful things like global styles (maybe finding a way t

[2017-10-31 05:03] treshugart commented on #174
Relates to #13.

[2017-10-31 20:36] aviramga opened #342 "[Question] Is it possible to include files when using external styled-jsx files?"
Hi there,

I'm using styled-jsx with NextJs and separating my styled-jsx files from the rest of the code.
I would like to create a global file that will include all the possible colors in the app in variables.

I read the docs that says that constants are only available with inline styled-jsx but I was wondering if anyone came up with a workaround.

FYI Im using the  styled-jsx-plugin-sass plugin

[2017-11-02 15:07] Huvik opened #343 "Problem with constants"
Hey i discovered that `border-bottom: 1px solid ${colors.pink};` don't work. If i place normal color or hex code everything is works fine. I am using next 4.1.4 and styled-jsx 2.1.2.

[2017-11-03 14:58] giuseppeg commented on #343
can you provide a more comprehensive example so that I can reproduce?

[2017-11-03 15:00] giuseppeg commented on #342
Constants can be used in external files too, dynamic css (for example based on `props`) only in inline style tags.

This for example should work:

[code]

[2017-11-03 15:02] giuseppeg commented on #340
@thysultan probably stylis fails at compiling these. Would it be hard to fix it?

[2017-11-03 15:06] giuseppeg commented on #341
See https://github.com/zeit/styled-jsx/issues/322#issuecomment-338361918

[2017-11-03 15:06] #341 closed

[2017-11-03 17:16] thysultan commented on #340
What is the actual vs expected output?

[2017-11-05 11:02] #342 closed

[2017-11-05 11:04] giuseppeg commented on #340
@thysultan I suppose that the line break messes up with the `:global()` parsing and the expected output should be:

[code]

[2017-11-06 10:12] thealjey commented on #117
@giuseppeg I'm using styled-jsx with Next.js, can you help me figure out how to configure babel (or anything else) to have styled-jsx not generate random class names? I need something predictable to use with react shallow renderer

[2017-11-06 10:59] giuseppeg commented on #117
@thealjey the classnames generated by styled-jsx are not random. They are an hash of the styles (or styles + props when using dynamic styles). Therefore they should change only when your css changes.

We would need something like this https://github.com/styled-components/jest-styled-components for styled-jsx but I don't have time to implement it.

If you trust styled-jsx to work maybe you can disa

[2017-11-06 12:22] thealjey commented on #117
@giuseppeg I do trust styled-jsx to work, and if you render the same component with the same styles, the classes (correctly) are also the same.
However, if the component is not the same, like in the case of tests, the ids are different.
e.g.
[code]
Result:
[code]

[2017-11-06 13:34] giuseppeg commented on #117
can you try to use `<style jsx>{'div { color: #721c24; }'}</style>` in both?

[2017-11-06 13:44] thealjey commented on #117
that works for some reason. Why?
Do I have to write styles in one line, without line breaks now? :)

[2017-11-06 13:52] giuseppeg commented on #117
haha no definitely not! My guess is that there were some indentation issues. I am not sure if it is worth fixing this right now since it might also be a breaking change somehow.

[2017-11-06 13:54] thealjey commented on #117
Anyway, thank you for your help figuring this out! Have a nice day ;)

[2017-11-06 14:20] tflx commented on #334
Sorry for the late reply - thank you for looking at it. Here it is:

https://github.com/tflx/ssr-react

[2017-11-06 19:50] naffiq commented on #90
@smeijer

Hi, thanx for the fix, but I can't make it work.

My `tsconfig.json` is:

[code]

I'm very fresh with typescript, sorry for bothering

[2017-11-06 20:54] Huvik commented on #343
Okey, i think its problem of `styled-jsx-plugin-sass`, because i was trying it now without plugin and it worked and with plugin it don't work. So maybe i should move issue here? I can share repo with issue.

[2017-11-07 11:22] giuseppeg commented on #343
sure, please provide more info to reproduce the issue. Maybe make a sample repository.

[2017-11-07 11:22] #343 closed

[2017-11-07 14:45] particle4dev commented on #320
@jasondonnette thank you so much, you just save my day :)
This is why I love open source. People always want to share something to help others.

[2017-11-09 08:58] guigrpa commented on #329
I have a simpler repro. Indeed there seems to be a problem with the spread operator, but also in simpler cases.

**This compiles:**

[code]

**But this doesn't:**

[code]

**A workaround that compiles again:**

[code]

[2017-11-09 09:39] giuseppeg commented on #329
good point @guigrpa @ndreckshage would you have time to at least fix the `{...this.props}` case? It shouldn't be hard.. here is the code which alterate the attributes https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L24-L78

I think that the issue is here https://github.com/zeit/styled-jsx/blob/master/src/_utils.js#L33-L38
Basically it works only with identifiers eg. `props` while it s

[2017-11-09 10:00] guigrpa commented on #329
I found a better workaround (notice the order of the props passed to the `div`):

[code]

[2017-11-09 10:04] giuseppeg commented on #329
yep it might be a workaround for your use case if you're never passing a `className` prop :)

[2017-11-09 11:46] alexyans opened #344 "Cannot get webpack to transpile the style element"
I'm currently using the example from the docs.
[code]

I changed `babel-loader`'s options in the webpack config as such:
[code]
and my `package.json`looks like this
[code]
The style element is simply dumped in the document, no processing takes place. The end result is that it is always globally scoped.

[2017-11-10 10:22] giuseppeg commented on #344
@alexyans can you put together a sample (and minimal) repo?

[2017-11-10 20:17] dizlexik commented on #322
So what is the recommendation for this? Currently I'm using yarn and have styled-jsx pinned at version 1.0.11 which supports this use case, but I'd like to update to the latest version of styled-jsx. I'm just not exactly sure what the best way to work around this is. Thoughts?

[2017-11-11 04:30] thysultan commented on #340
stylis 3.4.1 patches this.

[2017-11-11 08:17] giuseppeg commented on #322
@dizlexik if you are using Next.js you can use the `Head` component https://github.com/zeit/next.js/#populating-head to reference tachyons.css in a `<link>` tag (use a `key` also). If not you may want to implement a similar component (look at Head's implementation).

[2017-11-11 08:19] giuseppeg commented on #322
In general if you want external files and don't need scoped styles you should avoid using styled-jsx.

[2017-11-11 09:01] giuseppeg opened #345 "Rewrite external styles to allow dead code elimination"
When using [the `css` tag](https://github.com/zeit/styled-jsx#keeping-css-in-separate-files), styles are rewritten to include both the global and scoped version of them because we cannot guess how the user wants to use them.

So

[code]

Becomes

[code]

I bet that most of the times users consume them either as global or scoped only. In any case we should change the way how we rewrite them like so

[2017-11-11 09:01] giuseppeg commented on #345
cc @nkzawa @rauchg

[2017-11-12 04:41] MrOrz opened #347 "stlyled-jsx/css is not compatible with eslint-plugin-import"
Since stlyled-jsx/css do not actually exist, this confuses eslint-import, which checks if imports exist.

eslint-config-import would give errors like this:
[code]

and this failed to pass our CI: https://travis-ci.org/cofacts/rumors-site/builds/300921835

Besides CI, I believe this would also confuse IDEs that checks for imports as well.

How about adding a stub file css.js (with a stub `css` func

[2017-11-13 04:48] ser111 commented on #347
I keep ESLint quiet with `settings`:

[code]

[2017-11-13 10:28] alexyans commented on #344
@giuseppeg I did and it turns out it was never a problem with the plugin, it was `create-react-app` that was messing with the config. I switched to my own webpack setup. Thanks for engaging

[2017-11-13 10:28] #344 closed

[2017-11-13 13:50] callumlocke commented on #330
Thanks but I still don't understand. I **can** still edit styles in devtools, even with this option enabled. In what sense are they 'read only'?

[2017-11-13 14:57] giuseppeg commented on #330
@callumlocke please try https://jsfiddle.net/cgdmda0n inspect the `body` element. You shouldn't be able to change the `background-color` property

[2017-11-13 17:54] dizlexik commented on #322
Thanks @giuseppeg. I made the switch to using Head with a link element. Unfortunately now I'm experiencing FOUC when navigating to the page. I have no idea how to prevent this and I'm having trouble finding any discussion of this.

Also the CSS file I'm including comes from a library sitting in node_modules. This was fine when I was using babel-plugin-inline-import but now I've had to copy this fi

[2017-11-13 20:01] #340 closed

[2017-11-13 20:06] giuseppeg commented on #322
@dizlexik I just released `2.2.0` which might enable what you were doing in the past. You may want to try it out. Next.js hasn't been updated yet but you can try to install it manually.

[2017-11-13 21:46] dizlexik commented on #322
I was really excited to try this but unfortunately the behavior seems to be identical to v2.1.3. The page renders correctly from the server but not when navigating to it from another page. And when I navigate away from the page while it's rendered incorrectly I get the error: `Error: StyleSheetRegistry: styleId: 'jsx-undefined' not found.`

[2017-11-13 21:58] giuseppeg commented on #322
@chibicode the syntax for external files changed you have to rewrite imports like so:

[code]

See @coox's plugin

[2017-11-13 21:59] giuseppeg commented on #322
@dizlexik are you using Next.js? If so, how did you integrate the new version of styled-jsx? Can you share a sample (minimal) repo?

[2017-11-13 22:21] dizlexik commented on #322
This code:
[code]
produces this result:
[code]
They should be identical, right?

And yes, I'm using Next.js. I installed 2.2.0 with `yarn add styled-jsx@2.2.0` and I updated my package.json with `"reslutions": { "styled-jsx": "2.2.0" }` to pin the version. I checked node_modules/styled-jsx to ensure that I am indeed using v2.2.0.

[2017-11-14 02:34] MrOrz commented on #347
Cool I didn't know about `import/core-modules`. Thanks a million!

[2017-11-14 08:15] giuseppeg commented on #322
ok cool, for now forget this
[code]
we should fix it at some point I guess.
Have you tried @coox's plugin? https://github.com/coox/styled-jsx-css-loader

I will fix Next's with-global-stylesheet-simple example when I have time

[2017-11-14 12:07] shaiatias commented on #334
i had the same issue. and i just solved it:

install npm package:
`npm install --save styled-jsx`

add the plugin to your babelrc:
`"plugins": [["styled-jsx/babel", { "optimizeForSpeed": true }]]`

[2017-11-14 15:01] dizlexik commented on #322
Yeah I think if that curly brace issue was fixed then my current solution would work fine.

I have actually spent a good deal of time with @coox's loader and haven't been able to get it working yet. You can follow along here: https://github.com/coox/styled-jsx-css-loader/issues/1

I'd be happy to get his solution working, but much happier if I didn't need it at all because it adds a new dependency

[2017-11-15 00:49] jthegedus opened #350 "non-"Proof of Concepts" Plugins?"
Each of the [linked plugins](https://github.com/zeit/styled-jsx#example-plugins) are prefaced with

Are these planned to become full-fledged packages or should we shy away from these and have the community build their own?

[2017-11-16 22:28] callumlocke opened #351 "How do the three options for dynamic styles compare in performance?"
[From readme](https://github.com/zeit/styled-jsx#dynamic-styles):

The readme explains these options:

- Via interpolated dynamic props
- Via `className` toggling
- Via inline `style`

How do they compare in performance?

[2017-11-17 07:14] giuseppeg commented on #350
Is the way to go, I don't have the time to maintain them. I will try to make the experience better by providing a built in solution to work with interpolations (since they are not valid css and can be troublesome when making a plugin).

[2017-11-17 07:14] #350 closed

[2017-11-17 07:19] giuseppeg commented on #351
Ordered by "most performant":

1. className toggling
2. inline styles
3. interpolated dynamic props

If you are doing animations via JS you may want to use inline styles (although dynamic props should be fast enough anyway).

Hope this helps.

[2017-11-17 07:19] #351 closed

[2017-11-17 11:08] jthegedus commented on #350
@giuseppeg So should one wait for your work on

Or is the API not likely to change too much?

[2017-11-17 11:26] giuseppeg commented on #350
I might change how placeholders for interpolations are represented eg.

[code]

basically define a set of standard tokens so it is easier to replace placeholders in plugins:

[code]

[2017-11-17 11:28] giuseppeg commented on #350
for completeness (and to make the context clear) placeholders are inserted when you have interpolations in your css eg:

[code]

[2017-11-17 11:42] jthegedus commented on #350
Thanks for the explanation

[2017-11-17 17:59] callumlocke commented on #351
Thanks. It makes sense that interpolated dynamic props are the slowest. I guess I'll experiment.

Interesting you say class-toggling is faster than inline styles. I always thought the opposite. I guess maybe class-toggling is the quickest DOM operation, since it's one single change, but I think the subsequent work the browser engine does (painting or whatever) might be faster with inline styles, s

[2017-11-17 19:06] giuseppeg commented on #351
I just guessed to be honest, what you said might be true but I think that React adds the overhead of diffing to figure out what changed (in this case the `style` prop). While styles in styled-jsx are shared across instances (deduped) toggling one class might be faster than having to diff/patch (react) parse the new css and apply it (browser) for each instance. This is all cheap guessing and not ba

[2017-11-19 18:40] #325 closed

[2017-11-21 00:09] jeremenichelli opened #352 "Injecting additional class unnecessarily"
I'm new to `styled-jsx` so I hope this is not spammy.

I just created a _Hello World example_ using the package and I could notice that the same class is injected twice on each element. I will put here the exact component and congif to make sure I'm not doing anything wrong.

**hello world component**
[code]

**generated markup**
[code]

**styles generated**
[code]

**babel config**
[code]

As you

[2017-11-21 00:29] jeremenichelli commented on #352
Super weird, but it just stopped happening.

I will close the issue and comeback later with more findings if I see this again.

Sorry for the noise 📣

[2017-11-21 00:29] #352 closed

[2017-11-21 18:15] bathos opened #353 "Minification issue with at-keywords that are not rulesets"
Given input like:

    @import url("foo");
    html {
      color: red;
    }

Output will look like this:

    @import url("foo")html{color:red;}

At the lexical level, the output is valid. But at the syntactic level, the production for an at-rule does not terminate until either a complete block is seen or a semicolon (outside a block) is seen. Therefore, `@import url("foo")html{color:red;}` is a

[2017-11-22 09:29] jthegedus commented on #350
@giuseppeg You said

Does this mean you won't have the time to manage any PRs, or just issues raised in each plugin?

[2017-11-22 09:35] giuseppeg commented on #350
@jthegedus I can do code review every now and then ofc :)

[2017-11-22 10:38] jthegedus commented on #350
Cool, I wasn't sure if an entire fork was required.

[2017-11-23 01:39] jthegedus opened #354 "Stylesheet: `insertRule` error only on <style jsx global> with Jest"
## Summary
I'm using Next.js, styled-jsx with external css compiled through postcss and Jest with snapshot
testing. Scoped styles works as expected, global styles through styled-jsx do not. As far as Jest is concerned these should result in the same output, no?

## Explanation
Snapshot testing works as expected with the use of [`indentity-obj-proxy`](https://github.com/keyanzhang/identity-obj-prox

[2017-11-23 05:06] ifyio commented on #225
I'm creating a component library that uses `styled-jsx` for styling and realised that no library styles are generated server-side when the library is consumed. I may me misunderstanding things but the earlier comments made by @giuseppeg and @sidorares suggests that the problem can somehow be fixed in the interim if `styled-jsx` is used as a `devDependency` when the library is transpiled. The probl

[2017-11-23 07:52] giuseppeg commented on #225
@ifyio yeah the idea is that in your component package you have `styled-jsx` as

* (optional) `devDependencies` to build (transpile) it before releasing
* `peerDepedencies` so that whoever uses it must install `styled-jsx` to use your component

In your app then you can install the component and it should work just fine.

The reason why you might not want to add `styled-jsx` as `dependencies` in y

[2017-11-23 07:52] #225 closed

[2017-11-23 13:37] ifyio commented on #225
Ok it wasn't working for me because my project was depending on the latest version of `styled-jsx` while `nextjs` was using an earlier version. Once I switched to using the version that `nextjs` was using, it then worked as expected as the consumer of the library is a `nextjs` project.

[2017-11-23 19:13] giuseppeg commented on #354
Sorry man but there should be something wrong with your set up.
Try to add a `console.log` in `node_modules/styled-jsx/dist/lib/stylesheet.js:274`

[2017-11-23 19:13] #354 closed

[2017-11-23 19:16] giuseppeg commented on #353
@thysultan can this be a bug in the rule-sheet plugin?

[2017-11-23 19:24] thysultan commented on #353
Yes it is... published a patch for it.

[2017-11-23 22:26] jthegedus commented on #354
I seem to be getting an empty object for the `rule` in the `key: 'insertRule'` case. Any ideas?

[code]

[2017-11-24 10:28] jthegedus opened #355 "Define and use styled-jsx/css template string within JS file without importing"
I wish to be able to separate my styles from JSX (but maintain co-location), as many styles makes the format of the JSX becomes difficult to read. Here's what I wish to do:

[code]
Currently it throws this error:

[code]

Is this something that could be supported in the future?

This works, but obviously not ideal, I don't want to have to export each style.

[code]

I wanted to clarify if this was

[2017-11-27 01:03] bathos commented on #319
I’m seeing this error on navigation in IE11 sometimes even though I have no empty Styled JSX elements.

[2017-11-27 09:59] giuseppeg commented on #319
As I said to @williamkunz

Ideas to improve this are welcome.

[2017-11-27 10:15] ramiyahya commented on #318
@giuseppeg thanks for the fix. Will this be available in NextJS anytime soon? It looks like NextJS is using style-jsx before this fix.

[2017-11-27 11:41] bathos commented on #319
Maybe what I’m seeing is a different issue that has the same end result — it’s (a) only in prod and (b) only in IE11, and (c) erratic.

[2017-11-27 13:01] giuseppeg commented on #319
@bathos you may want to enable `optimizeForSpeed` and debug a bit. Chances are that you have some property or rule that is not valid in IE11 and therefore the whole block is ignored.

[2017-11-27 13:18] bathos commented on #319
Thanks for the guidance, I’ll try that (I misunderstood earlier, thinking that you meant the rule had to be one which was seen as junk by Styled JSX, rather at runtime by the browser).

[2017-11-28 16:16] #329 closed

[2017-11-28 16:18] giuseppeg commented on #329
@ndreckshage I don't think that we are going to fix the original issue but @pudility fixed other common use cases like `{...this.props.something}` and `{...props.something}`

[2017-11-28 18:51] giuseppeg commented on #355
Since v2.2.0 this is possible https://github.com/zeit/styled-jsx/releases/tag/v2.2.0

[2017-11-28 18:51] #355 closed

[2017-11-28 22:31] jthegedus commented on #355
@giuseppeg Can you have a look at this minimal example and tell me if you can see where I'm going wrong? https://github.com/jthegedus/styled-jsx-test

I'm using styled-jsx v2.2.0 as far as I can tell. Still getting that same error output.

[code]

[2017-11-29 08:05] #347 closed

[2017-11-29 19:18] giuseppeg commented on #353
Fixed #358

[2017-11-29 19:18] #353 closed

[2017-11-30 09:00] littlepoolshark opened #359 "styled-jsx did not work with the typescirpt?"
I make styled-jsx integrate into typescript+webpack project.In my source code ,I write as usual format like this:"<style jsx >{`
                    input {
                        border:1px solid red;
                    }
                `}</style>"
but I got an error from the typescript complier which is saying "jsx attribute is not exist on style tag".

[2017-11-30 12:10] Hedgepig commented on #308
I'm having the same issue with `2.2.0` in a Meteor project

[2017-11-30 12:24] giuseppeg commented on #308
gonna release v2.2.1 today which should fix this

[2017-11-30 18:35] giuseppeg commented on #308
published

[2017-12-03 22:54] arsen opened #360 "Custom components support"
Hello,
I am wondering why styled-jsx is not supporting custom components.
Let's say I have a custom Button component.

[code]

I want to style it the same way as a regular html5 element.
[code]
or like this:
[code]

I know that it is saying that if you want to style custom components you have to use :global()
But in that case, there is no support for scoping.

It will be super amazing to support c

[2017-12-04 06:06] rohmanhm commented on #359
Take a look at this https://github.com/zeit/styled-jsx/issues/90#issuecomment-318052994
It works for me.

[2017-12-04 15:46] pudility commented on #319
@giuseppeg Is this still an issue? If so, in order to fix the issue would I just need to make it ignore all empty elements (in production/optimizeForSpeed)?

Thanks

[2017-12-05 08:48] giuseppeg commented on #319
@pudility to be honest I wouldn't fix this since empty rules is just one of the many reasons why this could fail. When in dev mode with `optimizeForSpeed` set to `true` people should get a warning already.

The action item could be to always set `optimizeForSpeed` to `true` and in development add a warning to inform the users that this mode is on and they should turn it off manually if they need s

[2017-12-05 09:01] giuseppeg commented on #319
Gonna lock this conversation.

If anybody is experiencing similar issues, my advice is to set `optimizeForSpeed` to `true` in development so that you can catch these issues before your site makes it to prod.

Generally with `optimizeForSpeed` a ruleset  is skipped when it contains invalid CSS for the current browser (so it might work on IE but not in Firefox for instance). The solution here is to

[2017-12-05 11:03] giuseppeg commented on #360
Duplicate / relates to https://github.com/zeit/styled-jsx/issues/147#issuecomment-337053924

[2017-12-05 11:03] #360 closed

[2017-12-05 23:32] Leland-Kwong opened #361 "Module build failed: TypeError: unknown: Duplicate declaration "_JSXStyle""
Looks like we no longer need to add the plugin to the babel configuration?

I noticed when this is added to the babel configuration
[code]
we get the following error:
<img width="530" alt="screen shot 2017-12-05 at 3 23 38 pm" src="https://user-images.githubusercontent.com/2934856/33636367-a91759a2-d9d0-11e7-9e52-37bc87750525.png">.

Perhaps we should update the docs to reflect this change?
[Examp

[2017-12-06 10:41] arsen commented on #147
styled-jsx is pretty amazing, simple and powerful, except the lack of this super obvious functionality, that anyone would expect from css-in-js library, which is a show stopper.

Do you guys have any plans to support styling custom-defined user components without using :global ?

[2017-12-06 10:49] giuseppeg commented on #147
@arsen that's on my radar, probably the next most important feature to add!

[2017-12-07 09:04] littlepoolshark commented on #90
Now,I have resolve the error "Property 'jsx' does not exist on type ".But I  still can not make styled-jsx work with the awesome-typescript-loader.My webpack.config.js is showed below:` {
                test:/\.tsx?$/,
                use:[
                    "babel-loader",
                    "awesome-typescript-loader"
                ]
            }`

[2017-12-07 09:08] littlepoolshark commented on #359
@rohmanhm ,thx a lot.
Now,I have resolve the error "Property 'jsx' does not exist on type ".But I  still can not make styled-jsx work with the awesome-typescript-loader.My webpack.config.js is showed below:
` {
                test:/\.tsx?$/,
                use:[
                    "babel-loader",
                    "awesome-typescript-loader"
                ]
            }`

[2017-12-08 00:31] corysimmons commented on #254
Nick's solution is cool but config seems a bit more complicated than it needs to be.

[code]

[code]

[code]

[2017-12-08 09:46] giuseppeg commented on #254
@corysimmons have you tried the following?

[code]

[2017-12-08 14:36] nickdandakis commented on #254
@corysimmons you're very correct. Since I've set this up, `styled-jsx` has first class citizen support for plugins which makes setup a lot easier (like your example!).

Imported stylesheets get heavily cached, so yes, you have to `rm -rf node_modules/.cache` and restart your dev server to see changes in them. Annoying, but hasn't been a detriment to workflow as we barely modify our global styleshe

[2017-12-08 15:21] giuseppeg commented on #254
if it can help you can define a `predev` script to do the cleanup automatically:

[code]

[2017-12-09 11:00] corysimmons commented on #254
@nickdandakis

Yeah I'm doing this now.

@giuseppeg lol, I'm doing almost that exactly, but it's still a little annoying to have to restart `dev` every time... if you don't have plans to fix it I wonder if I could just `chokidar-cli`, watch `./pages/styles/...`, and restart `dev`... Still feels wrong but might be better...

Please fix tho as this is an otherwise perfect workflow. :X

[2017-12-09 11:10] giuseppeg commented on #254
@corysimmons I think that this is an "issue" with babel-loader. You may want to try to set its `cacheDirectory` option to `false` to avoid caching (obviously every time you make a change then it will rebuild everything).

[2017-12-09 11:18] giuseppeg commented on #254
Anyway this is going out of topic :) I think that option 1) and 2) from my comment https://github.com/zeit/styled-jsx/issues/254#issuecomment-313841098 are a good way to go.

If you need now you can also use dynamic styles eg.

[code]

[2017-12-09 11:18] #254 closed

[2017-12-11 08:57] giuseppeg commented on #361
Never been the case, Next.js comes with `styled-jsx` already

[2017-12-11 08:57] #361 closed

[2017-12-11 09:00] giuseppeg commented on #345
Another option (breaking change) could be to repurpose the `css` tag from `styled-jsx/css`.
And have:

* `css` genererate scoped styles only
* `css.global` generate global styles only
* `css.universal` generate both scoped and global styles

CONS: maybe prettier won't understand `css.global` and `css.universal` but we can submit a PR to fix that.

[2017-12-11 09:01] gilesbutler commented on #169
Hi guys,

I just stumbled across this issue as I'm thinking of switching from styled-components.
Has this been solved by being able to [target the root](https://github.com/zeit/styled-jsx#targeting-the-root) element?

Thanks

[2017-12-11 09:42] giuseppeg commented on #169
@gilesbutler nop. You still need a container for the image unfortunately. This will be fixed once we add support for React 16 fragments / return arrays.

[2017-12-11 09:45] corysimmons commented on #169
@gilesbutler No that wouldn't help.

The issue is `<style jsx>...</style>` **needs** to squeeze in-between elements that have closing tags. Like `<img />` doesn't have `<img></img>` so we can't have a stateless component like:

[code]

tbh, I don't see how this is an issue now that I'm older.

You can write something like:

[code]

And with [styled-jsx v2+](https://zeit.co/blog/next4#styled-jsx-2)

[2017-12-11 09:48] jaydenseric commented on #169
@corysimmons using vanilla React inline styles skips vendor prefixing, minification, etc. Also keyframes and media queries are not possible inline.

[2017-12-11 09:49] corysimmons commented on #169
@jaydenseric Ah! All good points. Thank you! =)

[2017-12-11 09:54] giuseppeg commented on #169
This is a temporary workaround I guess

[code]

[2017-12-11 10:24] corysimmons commented on #169
But @giuseppeg that will leave [a margin under the `img`](https://stackoverflow.com/questions/32787304/display-inline-block-generates-a-margin-bottom-that-i-cant-remove) so be sure to add `<span style={fontSize: 0}>` if you're wrapping an image. 👍

[2017-12-11 11:05] giuseppeg commented on #169
@corysimmons `img { vertical-align: middle }` should fix that

[2017-12-11 11:14] corysimmons commented on #169
Well played.

[2017-12-11 11:27] corysimmons commented on #254
@giuseppeg Actually `rm -rf node_modules/.cache .next` doesn't seem to work. I'm not sure why `rm -rf {.next,node_modules}; npm i; npm run dev` does...

[2017-12-12 02:12] gilesbutler commented on #169
Ah ok awesome, thanks for the updates guys 👍

---
Giles Butler
giles.io | linkedin.com/in/gilesbutler

On 11 Dec 2017, 7:14 PM +0800, Cory Simmons <notifications@github.com>, wrote:

[2017-12-12 11:32] Pro542 opened #363 "RTL support"
What would be the best way to go about RTL css? I was expecting something like below to work, and was trying to use postcss-rtl to get the required styles. (I believe it doesn't work since the selectors are not matched at compile time)
[code]
Otherwise, would using a toggle in JS to select the appropriate style the way to go? This would mean I won't be able to auto generate the styles and have to

[2017-12-12 13:29] a-ignatov-parc opened #364 "Error on creating style tags recursively"
I'm having an issue rendering multiple font faces recursively creating `style` tags.

[code]

Build constantly failing with
[code]

Any ideas how I can handle this case not using `JSXStyle` component directly?

[code]

[2017-12-12 15:28] a-ignatov-parc commented on #273
I've found a better workaround for this issue.

[code]

[2017-12-12 16:21] giuseppeg commented on #273
@a-ignatov-parc it might add some runtime overhead but it is genius! :D

[2017-12-13 08:21] a-ignatov-parc commented on #273
Yeah. But usually you shouldn't use child combinator selectors. Child component's markup is its private area and may change at any time. This implicit change to parent components can break your UI.

[2017-12-13 09:01] giuseppeg commented on #273
Agreed, unfortunately that's the only way to style 3rd parties components that don't accept a className.

By the way `styles` could be just `scope.props.children` and used like this `{scope.styles}`. You could expose `Styles: () => scope.props.children` and `styles: scope.props.children` :)

I've been thinking to implement automatic className propagation for components and support this syntax:

[c

[2017-12-13 09:05] a-ignatov-parc commented on #273
Sounds good 👍

Sure 😉

[2017-12-13 09:10] a-ignatov-parc commented on #273
True. But it's better to choose another component/lib than apply such implicit styling. No one likes magic that can break your UI.

[2017-12-13 14:47] valnub opened #365 "Why does this code throw "Cannot read property 'start' of undefined"?"
[code]

Gives:

[code]

However, the following works. Why is that so?

[code]

[2017-12-13 19:11] antonj opened #366 "Throws `Unfortunately nesting is not supported by styled-jsx` when using CSS comments before @media queries"
Added failing test here https://github.com/antonj/styled-jsx/commit/c357234a331dc971f88ca667a8291822a18c703b

[code]

Throws `Unfortunately nesting is not supported by styled-jsx` if `/* CSS Comment */` is removed the tests pass.

[2017-12-14 03:35] Pro542 commented on #366
Tried to include a local styled-jsx plugin but even `(css, options) => css` which does not transform the css gives the nesting error

[2017-12-14 11:32] R1ZZU commented on #90
check out DefinitelyTyped/DefinitelyTyped#22181

[2017-12-15 16:38] nkzawa commented on #345
I have no good idea about this, but `css` and `css.global` make sense to me.

[2017-12-16 12:46] giuseppeg commented on #365
because of the nested style tags I suppose. Only direct descendants of the outer div work. Need to merge #260

[2017-12-16 12:46] #365 closed

[2017-12-16 12:48] giuseppeg commented on #364
Yeah whenever the `style` tag is not direct descendant (child) of the outer div (the root of the component) styles are ignored and then it throws with a confusing error.

Relates to #365.
Need to merge #260.

[2017-12-16 12:54] giuseppeg commented on #363
What exactly doesn't work about your example above? Can you share your experimental code? Maybe make a Next.js app

[2017-12-16 12:57] giuseppeg commented on #336
Going to close this. Happy to reopen in case you have any idea how to make it work with Vue.

[2017-12-16 12:57] #336 closed

[2017-12-16 13:09] giuseppeg commented on #334
well yea the issues is that you didn't install styled-jsx and you don't have it in your babel configuration

[2017-12-16 13:09] #334 closed

[2017-12-16 13:13] giuseppeg commented on #309
Duplicate of #147

[2017-12-16 13:13] #309 closed

[2017-12-16 13:13] #290 closed

[2017-12-16 14:02] giuseppeg commented on #309
@hanford I also read the Emotion issue and my answer would be, define styled-jsx in your packages as a peerDependency and install it only in the main app that consumes styled-jsx.

[2017-12-16 14:21] corysimmons opened #368 "Possible to do cascade normally?"
[code]

..would be really handy as an alternative to the lobotomized owl technique.

[2017-12-16 14:54] corysimmons commented on #368
This might also be converted to a feature request to "Control how many levels deep you can nest" via some syntax like `<style jsx levels="3">`

[2017-12-16 16:56] giuseppeg commented on #368
You can get nesting with plugins/postcss. We are not planning to support it.

[2017-12-16 16:56] #368 closed

[2017-12-16 16:57] #306 closed

[2017-12-16 16:58] #262 closed

[2017-12-16 21:03] corysimmons commented on #368
I think you're misunderstanding what I'm requesting, and I don't think postcss can't help with this.

styled-jsx has 2 modes: scoped and global.

global affects EVERYTHING

scoped only affects a specific component and doesn't leak into sub-components

I am requesting there be an attribute to purposefully _enable_ leaking.

I think the syntax should be flexible enough to enable leaking indefinitely

[2017-12-16 21:19] giuseppeg commented on #368
This is impossible to implement because we cannot say just stop after 3 nested components since the current component `n` and the nested at `n+3` level don't have information about each other. In fact a component and its direct descendants (children) don't know anything about each other.

This can be implemented with `:global()`

[2017-12-17 17:26] giuseppeg commented on #276
Closing this. Happy to reopen in case you need help again :)

[2017-12-17 17:26] #276 closed

[2017-12-17 17:26] giuseppeg commented on #273
Added @a-ignatov-parc workaround to the docs:

https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

[2017-12-17 17:26] #273 closed

[2017-12-17 17:27] giuseppeg commented on #240
You cannot extend components but you could pass some styles/className. See https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

[2017-12-17 17:27] #240 closed

[2017-12-17 17:29] #233 closed

[2017-12-17 17:29] #230 closed

[2017-12-17 17:30] giuseppeg commented on #209
Found a better mouse trap: https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent

[2017-12-17 17:30] #209 closed

[2017-12-17 17:30] #206 closed

[2017-12-17 17:30] giuseppeg commented on #197
See https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent for a solution

[2017-12-17 17:30] #197 closed

[2017-12-17 17:33] #85 closed

[2017-12-17 17:35] giuseppeg commented on #42
Closing since I think that in order to stay close to the ShadowDOM behavior we should support this. Styles within a component affect the entire component.

[2017-12-17 17:35] #42 closed

[2017-12-18 05:50] Pro542 commented on #363
The above style can be written like this to make it work:
[code]
I'm setting `dir` on `html` based on a URL key and deciding the styles to be applied from that. Will share a temp app soon

[2017-12-18 08:55] a-ignatov-parc commented on #364
Great! Thanks 👍

[2017-12-19 17:14] matt-hernandez opened #370 "Using @support inside @media discards a closing curly brace"
I have this chunk of code in one of my components

[code]

The resulting CSS in the `<head>` comes out like this:

[code]

[2017-12-19 21:03] matt-hernandez commented on #370
I noticed something. This bug only occurs when `@supports` is the last block in `@media`. If another css rule comes after it, the transpilation occurs without error.

Example:

[code]

Turns into this

[code]

[2017-12-20 07:30] jabacchetta commented on #366
Has anyone figured out a fix for this yet? I just did a fresh `npm i` and now I can't get back to a working state at all.

[2017-12-20 07:54] a-ignatov-parc commented on #366
I'm using `styled-jsx` with `stylus` plugin and there are no problems with comments in styles. Maybe this could be a workaround until it gets fixed.

P.S. If you don't want to use `stylus` or other preprocessors you can try to use [postcss-discard-comments](https://www.npmjs.com/package/postcss-discard-comments) with [postcss plugin](https://github.com/giuseppeg/styled-jsx-plugin-postcss) just to

[2017-12-20 08:21] giuseppeg commented on #366
will look into this in the following days

[2017-12-20 23:28] jabacchetta commented on #366
@giuseppeg Just FYI, I had a few minutes to play around with this today. I don't believe it has anything to do with comments.

I copy/pasted what @antonj had without the comments and it did work. But then I attempted to modify my own media query (which did not have any comments but was failing), and I had it down to exactly what he had, yet it still failed. Then I started copy pasting in bits from

[2017-12-20 23:38] jabacchetta commented on #366
@giuseppeg OK, for me, I simply had to remove the spacing that was on the line break immediately preceding the media query declaration. That fixed it, although no idea why yet. Hopefully that helps somewhat.

[2017-12-21 12:26] cpugirl commented on #366
Yes, it worked . Just remove extra spaces before media query.!!

[2017-12-21 18:29] giuseppeg commented on #366
@antonj I tried to add that css to the tests but they still pass. Do you mind creating a pull request with your code? Do you use tabs for indentation?

@jabacchetta same with your code.

[2017-12-21 18:30] giuseppeg commented on #370
@thysultan can this be a bug in Stylis?

[2017-12-21 18:44] thysultan commented on #370
@giuseppeg I get the following(minus whitespace) with stylis(inc the different configs)

[code]
So it doesn't look it is from stylis.

[2017-12-21 18:57] giuseppeg commented on #370
@thysultan thanks for checking!
@matt-hernandez do you get this bug in development or production?

[2017-12-21 21:11] matt-hernandez commented on #370
@giuseppeg Getting this in both production and development.

[2017-12-22 02:36] corysimmons opened #371 "Rendering `property: value` rules within `<style jsx>`"
Seems like styled-jsx can only render a prop if it's just the value.

e.g.

[code]

My use case is wanting to make a wrapping element I can apply various styles to [within media queries as well].

[2017-12-22 03:03] corysimmons commented on #371
Or to put it another way...

[code]

[2017-12-22 07:39] corysimmons commented on #310
https://github.com/giuseppeg/styled-jsx-plugin-postcss + postcss-next = W3C spec nesting

[code]

[2017-12-22 10:26] antonj commented on #366
@giuseppeg Seems like the CSS-comment has nothing to do with it, a line with either a space or a TAB in it will fail the tests.

[2017-12-22 18:40] garrettmac commented on #206
try
[code]

[2017-12-26 05:27] Pro542 commented on #363
Sorry got a bit late on this, made a temp repo [here](https://github.com/Pro542/nextjs-temp-rtl). Seems to work alright but I'm not sure if prefetching is handled correctly, or how styled-jsx handles styles when prefetched. Please let me know your thoughts. Thanks!

[2017-12-26 22:05] R1ZZU commented on #90
added more typings in [this PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/22516). Would appreciate @giuseppeg's review

extension of react `style` Element supporting `jsx` and `global` attributes is already available in `@types/styled-jsx` package

[2017-12-27 02:10] corysimmons opened #374 "Can't interpolate vars within selectors (like nth-child)"
[code]

[2018-01-03 05:23] nmackey opened #376 "Theme support?"
What is the preferred way to do theming with styled-jsx?  Some examples in the readme reference a theme and say that theming is supported, but there aren't any specific examples of how this should be done.

Most other css-in-js libraries use a ThemeProvider, would that be where styled-jsx is going?

[2018-01-03 09:41] R1ZZU commented on #90
@giuseppeg This issue could be closed as DefinitelyTyped/DefinitelyTyped#22516 was merged and typings already available under `@types/styled-jsx`

[2018-01-05 09:10] giuseppeg commented on #376
you can use this https://github.com/cssinjs/theming

[2018-01-05 13:57] arielschiavoni opened #377 "[Question] CSS classes defined in component are not prefixed and global styles leak into it"
Hi there, first of all thanks for this great lib!

I am slowly introducing `styled-jsx` in a project that has Bootstrap.
The problem I have is that Bootstrap introduces a lot of global css classes like `label` and when
I try to use a react `className` with the same name in my component the `label` Bootstrap styles cascade into my component.

I was expecting that `styled-jsx` will prefix all the cl

[2018-01-05 17:51] joncursi commented on #254
@giuseppeg When you use `window.matchMedia('max-width: 600px').matches`, do you have issues with your component when the user resizes the window? Because that changes the width of the viewport, but I don't think the component would be triggered to re-render because the width used inside the component is a static variable

[2018-01-05 18:15] #376 closed

[2018-01-06 07:52] giuseppeg commented on #254
@joncursi that's correct. You'd need do add an event listener and keep a boolean in the state:

[code]

which you can use like this

[code]

I didn't test or try the code above but it should work. I believe that https://www.npmjs.com/package/react-media is implemented in a similar way

[2018-01-07 09:10] giuseppeg commented on #377
styled-jsx doesn't rewrite classnames in JSX but adds a prefixed one and then rewrites the selectors in CSS to bump (and scope) its specificity. Eg.

[code]
So yep other global css selectors will affect your styles.

[2018-01-07 09:33] phongtattuan opened #378 "Option to hashing class name on generated css"
It's good if we can have an option to hashing class name on generated css, [same as `css-modules` does](https://github.com/zeit/next.js/blob/canary/examples/with-scoped-stylesheets-and-postcss/postcss.config.js)
It can help to output smaller generated css

[code]
become
[code]

Thanks so much.

[2018-01-07 21:53] pungggi opened #379 "resolveScopedStyles include in API"
Hi @giuseppeg

what do you think about embed the resolveScopedStyles function from https://github.com/zeit/styled-jsx/issues/273 in the library.
So users can import it when needed?

Like

`import {resolveScopedStyles} from 'styled-jsx'`

?

[2018-01-08 08:20] giuseppeg commented on #379
@pungggi it is a few lines utility that can be implemented by the users. I don't think that it is necessary to include it in the library.

[2018-01-08 08:20] #379 closed

[2018-01-08 08:20] #377 closed

[2018-01-08 08:23] giuseppeg commented on #378
We only have control over the unique hashed classname `jsx-3116052526` the hash looks like that because of the hashing function... which I think is one of the fastest. Please take a look at the hashing function https://www.npmjs.com/package/string-hash I am open to consider another one if it is as fast.

[2018-01-08 14:48] corysimmons opened #380 "Is there a way to control eslint quote config within <style jsx> blocks?"
Use case:

[code]
is being converted to
[code]
even with `"react/jsx-quotes": "prefer-double"`

[2018-01-09 08:59] a-ignatov-parc commented on #378
I think using gzip/brotli will do a better job then choosing different hashing algorithm 🤔

[2018-01-09 10:00] a-ignatov-parc commented on #364
@giuseppeg any news on new version release with https://github.com/zeit/styled-jsx/pull/260?

[2018-01-09 21:48] farookkhan commented on #366
@jabacchetta, @cpugirl  thanks, removing the newline before @media worked for me

[2018-01-10 08:57] giuseppeg commented on #364
@a-ignatov-parc somebody should fix https://github.com/zeit/styled-jsx/pull/372 but I don't have time

[2018-01-10 08:59] a-ignatov-parc commented on #364
Ok. If I'll find time will dig into it 👍

[2018-01-12 15:30] 1kohei1 commented on #90
Hi, I installed `@types/styled-jsx` and errors is gone. However, the style is not reflected in the next app. Does someone help me figure this out, please🙏 If I add `global`, style is reflected, but I would like to avoid.

My tsconfig.json is:
[code]

The component `jsx` style is not reflected is this: https://github.com/1kohei1/sd-scheduler/blob/master/front/components/MyLayout.tsx

[2018-01-12 15:41] a-ignatov-parc commented on #90
@1kohei1 you are trying to pass `className` to components and not DOM elements. `styled-jsx` doesn't transform such things. But you can use this [workaround](https://github.com/zeit/styled-jsx/#styling-third-parties--child-components-from-the-parent) to pass them explicitly.

[2018-01-13 14:21] paulbrie opened #381 "styled-jsx, TypeScript and external css files"
Hi, do you have any working example of next/styled-jsx /TypeScript with external CSS files?

Thanks, Paul

[2018-01-13 19:15] Machiaweliczny opened #382 "Allow for generating prefixed global styles"
In your example to tweak 3rd party (markdown) styles in such example:
[code]
I have to add `<style jsx global>`  which simply generates global style tag - so without carefully changing class name from "markdown" to something else in `Test2` it will break other part of application(Test2) which is bad idea IMO.

[code]
^ This will also get styled like first example unless I change "markdown" to "mar

[2018-01-14 01:04] 1kohei1 commented on #90
@a-ignatov-parc Ok! Thank you! I decided to apply style by `style` tag!

[2018-01-14 09:15] giuseppeg commented on #382
it is a bit annoying but you can already do this with `:global()`e.g.:

[code]

[2018-01-14 09:15] #382 closed

[2018-01-14 09:16] giuseppeg commented on #381
Nope,  there is an open issue about typescript. You may want to ask there.

[2018-01-14 09:18] giuseppeg commented on #380
Is eslint linting the content of the string? btw in the example you didn't include curly brackets

[code]

[2018-01-14 09:18] #378 closed

[2018-01-14 09:19] giuseppeg commented on #374
does it work without nesting / plugins?

[2018-01-15 01:55] corysimmons commented on #374
No. Just tested with fresh Next project and the following:

[code]

[2018-01-15 02:08] corysimmons commented on #380
Sorry, updated the example with curlies.

Apparently it is linting the content of the string (which I wouldn't expect either).

https://gfycat.com/VerifiableOddApe

I'm using Atom Prettier, but wasn't using Pretttier when I originally ran into this problem, so it's not an issue with Prettier. It has to be some ESLint weirdness.

It doesn't seem to do it in any other JSX expression or context, or e

[2018-01-15 05:44] jadengore commented on #379
@giuseppeg I think this could be really useful to be added as a template tag function, something like `thirdPartyCss`.

[2018-01-15 06:11] jadengore opened #383 "css template tag function in function call fails to transpile"
Say the `resolveScopedStyles` from [this example](https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent) is used like so in a file:
[code]
This fails with:
[code]

However, if I modify the above code to look like this:
[code]
it is transformed properly.

Is the `css` template tag function transformer not accounted for in function calls properly?

[2018-01-15 07:46] a-ignatov-parc commented on #374
@corysimmons please check your `styled-jsx` plugins. Because there are no problems with base setup and babel transformation generates proper css:

[code]

But I can confirm this issue for `stylus` plugin. When its available there is no `num` variable in generated css:

[code]

[2018-01-15 10:24] phongtattuan commented on #378
@giuseppeg I am discussing ability to hashing class name (such as hash `hello`, `text` classes above)

[2018-01-15 11:00] shibukawa opened #384 "styled-jsx doesn't work with storybook"
I am using storybook with next.js. I can't resolve one issue.

* The following code doesn't work (got "ReferenceError: exports is not defined").
* I can use the component outside of storybook (regular next.js environment).
* If I remove ``export`` keyword from source code, it works.
* If I remove ``<style jsx>`` tag, it works too.

I got issue only when I use ``export`` keyword and ``<style jsx>``

[2018-01-15 15:38] euharrison opened #385 "<style jsx> just works if inside same render function"
I'm using next 4.1.4 and have a component with some render methods like `renderSection1()` and `renderSection2()`.

But I can't use a unique `<style jsx>` in main `render()` to share some className between `renderSection1()` and `renderSection2()` methods.

Here is the minimal code to reproduce it.

[code]
![screen shot 2018-01-15 at 1 25 57 pm](https://user-images.githubusercontent.com/557598/349

[2018-01-15 15:42] a-ignatov-parc commented on #385
You can use `css` module to create reusable styles (but only for static styles)

[code]

[2018-01-15 15:52] euharrison commented on #385
Thanks for fast reply @a-ignatov-parc.

This will help to reuse code, but we still need to duplicate `<style jsx>{styles}</style>`.

Do you know another method to write styles for the whole component, instead of write for each render method?

[2018-01-15 15:57] a-ignatov-parc commented on #385
This is the best way to do what you want.

Another option is to use [`resolveScopedStyles`](https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent) helper 🤔

[code]

[2018-01-15 16:53] euharrison commented on #385
Thanks!

`resolveScopedStyles` is the best option for me.

[2018-01-15 16:53] #385 closed

[2018-01-15 19:45] a-ignatov-parc commented on #338
I think this isn't an issue anymore after `React.Fragment` was introduced in [`react@16.2.0`](https://github.com/facebook/react/releases/tag/v16.2.0).

[2018-01-16 01:57] shibukawa commented on #384
I can work around by myself. I added ``{ modules: false }`` to ``.storybook/.babelrc`` then it works. Could you add document about it?

[code]

[2018-01-16 02:44] javialon26 opened #386 "conditional style block"
Hello i'm trying to render a conditional style jsx but i don't know if it is possible.

This is the code but i get an error:

[code]

Error:
[code]

Thank you!

[2018-01-16 06:43] kajic commented on #361
I ran into this issue when I erroneously installed `styled-jsx` and added it to my .babelrc plugins.
I did that as I was following `styled-jsx`'s documentation on how to keep styles in a separate file. Where does one import the `styled-jsx` `css` tag from with Next.js?

[2018-01-16 07:23] a-ignatov-parc commented on #386
It's not possible yet (see https://github.com/zeit/styled-jsx/issues/364 and https://github.com/zeit/styled-jsx/pull/372 for more info) but there is a workaround.

You can use [`resolveScopedStyles`](https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent).

[code]

[2018-01-16 10:10] iamawebgeek commented on #147
@giuseppeg What should I do if I can't wrap my component with a div/span
I have following code:
[code]
I just want to extend my component this way, but it is not working, please, suggest some other solution

[2018-01-16 10:25] a-ignatov-parc commented on #147
@iamawebgeek this should work

[code]

[2018-01-16 10:53] iamawebgeek commented on #147
@a-ignatov-parc Awesome, it worked, thanks. Is there any way to make it more simple like just wrapping everything in `scope` tag?

[2018-01-16 11:12] a-ignatov-parc commented on #147
Well, you can modify initial `resolveScopedStyles` helper to something like this

[code]

And then use it as `className` prefixer for single react element

[code]

[2018-01-16 12:16] giuseppeg commented on #147
When the styles are static it is better to define then outside of the `render` method otherwise they are treated as dynamic.

[2018-01-16 12:29] a-ignatov-parc commented on #147
@giuseppeg I thought that

[code]
Is same as
[code]
Am I wrong? 🤔

Or you talking about?

[code]

[2018-01-16 12:38] giuseppeg commented on #147
@a-ignatov-parc sorry I made some confusion because I didn't look properly at the examples. Styles that reference variables defined within the scope of the render method are treated as dynamic. Eg.

[code]

If `color` is static just define it outside of the component.

The following syntax is not supported I think:
[code]

Wheras the one below (`css`) produces both global and scoped styles:

[code

[2018-01-16 12:40] a-ignatov-parc commented on #147
@giuseppeg thanks for clarification 👍

[2018-01-16 12:51] corysimmons commented on #374
My [2nd example](https://github.com/zeit/styled-jsx/issues/374#issuecomment-357563954) is with a fresh Next.js project.

[2018-01-16 13:08] #374 closed

[2018-01-17 12:07] giuseppeg commented on #386
what @a-ignatov-parc suggested or you can also make two separate components:

[code]

[2018-01-17 12:07] #386 closed

[2018-01-17 12:10] giuseppeg commented on #384
@shibukawa the problem is that Next doesn't transpile any dependency I think. So exports/imports are not transpiled

[2018-01-17 12:10] #384 closed

[2018-01-17 12:14] giuseppeg commented on #383
the error is due to how we rewrite exports I think. Anyway I don't think that

[code]

Give you the result you want since `styles` is not a react element. Can't you just do the following?

export default resolveScopedStyles(
 <scope><style jsx>{`.borderButton { color: red }`}</style></scope>
)

[2018-01-17 12:17] giuseppeg commented on #383
anyway I am planning to add a new thing called `css.resolve` that would work like you said:

[code]

[2018-01-17 12:18] giuseppeg commented on #383
cc @a-ignatov-parc what do you think?

[2018-01-17 12:49] giuseppeg commented on #383
This would work only for static styles.  Unless we return a function that accepts `props`:

const getStyles = css.resolve`
  .borderButton {
    color: red;
  }
`

`getStyles(props)`

[2018-01-17 12:55] a-ignatov-parc commented on #383
Sounds good, but if I remember correctly `css` can't handle dynamic values.

Maybe we can create something more helpful? 🤔

[code]

[2018-01-17 12:59] a-ignatov-parc commented on #383
Also, it could be cool if returned value is react element than we can drop to rendering tree.

[code]

[2018-01-17 14:26] giuseppeg commented on #383
Although I like your API, I am not sure that it is a good idea to add a property to a React element.

For dynamic styles we can make use of https://github.com/zeit/styled-jsx/blob/master/src/style.js#L7-L14 which returns an array of classnames.

Anyway looking at your API (which I like) I started to have the feeling that we are basically making a new CSS in JS library 😅

[2018-01-17 14:31] a-ignatov-parc commented on #383
What problems do you see in this approach?

`styled-jsx` is already css-in-js-library, no need to worry about it! We're just making things better and easier ;)

[2018-01-19 09:40] InvincibleJun opened #388 "How to solve the class name uniqueness？"
I hava a layout component.
[code]
Every tag have a ClassName, but will be added by the global CSS. It is trouble.

[code]

Compared styled-components，every tag named div can have a only one component name. However, styled-jsx can not select one of div tag without classname. Using classname will be have added or covered.  Have a better way for css solution?

Someone to discuss it?

[2018-01-19 11:52] InvincibleJun commented on #388
thanks.
When a lot of html elements, how to choose a certain element? Add a class name or data attribute and so on. It may be a little cumbersome. Each time you need to generate a value similar to uuid or hash.

[2018-01-19 11:56] a-ignatov-parc commented on #388
Agree. It's not that simple to make everything works when you need to deal with global styles.

[2018-01-19 12:01] InvincibleJun commented on #388
hhh.
All in all, thanks.
Have friends come from afar.

[2018-01-19 12:19] #388 closed

[2018-01-19 15:54] djskinner commented on #381
I'm interested in this also as I've not been able to get this working.

Inline styles as follows now work fine:

[code]

Note that it's important to use `"jsx": "react-native"` in your `tsconfig.json`.

I've tried to externalise the CSS as follows:

[code]

Using it in my component as follows:

[code]

However this gives the following error:

[code]

[2018-01-19 15:59] djskinner commented on #381
Here's a basic test case. I took the official TypeScript example and externalised the CSS.

https://github.com/zeit/next.js/compare/canary...djskinner:ts-external-css

This gives the same error as above.

[2018-01-24 08:02] a-ignatov-parc opened #389 "Async safe SSR"
`styled-jsx` is awesome but it handles style generation during SSR in a very unsafe way. It uses side effects that can lead to style collision when user will try to render something async (say hello to `renderToStream` and `react@17` in future).

So I want to propose a better solution to this problem.

Instead of using `flush` from `styled-jsx/server` and internal stylesheet singleton we need to b

[2018-01-24 08:16] giuseppeg commented on #389
I don't have a lot of experience with `renderToStream` yet but I see the problem. I think this is related (if not the same issue as) #64.

I have two questions, which I am asking without having thought about those issues yet:

1) Would it be possible to have a default where users can use styled-jsx like they are doing right now (without a provider?). I want to keep it simple and let advanced users

[2018-01-24 08:28] a-ignatov-parc commented on #389
Answering your questions:

1. We can make it backward compatible with current usage with deprecation warnings for SSR.

1. It's not a problem when your context api is an observer. But I don't think that we should now rely on new context proposal.

I'll try to work on this on weekends 😉

[2018-01-24 08:45] a-ignatov-parc commented on #389
Checked details in https://github.com/zeit/styled-jsx/issues/64. These issues are definitely related 👍

[2018-01-25 08:08] giuseppeg commented on #389
2) I think we should use the new Context API https://twitter.com/acdlite/status/956390180637650944 maybe even `react-broadcast` if applies

[2018-01-25 08:45] a-ignatov-parc commented on #389
It's not a good idea because users with `react<16.3` won't be able to use it 🤔

[2018-01-25 09:29] vanGalilea opened #390 "Warning: Unknown prop `jsx` on <style> tag. Remove this prop from the element"
Hi!

it seems like I'm doing something wrong when trying to compile my code with babel

which babel plugin/preset should i use and how ?

this is my package.json

[code]

[2018-01-25 10:52] vanGalilea commented on #390
An update guys !

still getting the same warning, although I've added the plugin, is it possible that the other plugins interfering ?

here is the source of my Header.js file

[code]

and here is the output of the same file

[code]

this is my babel.rc file

[code]

[2018-01-26 08:18] giuseppeg commented on #390
https://github.com/zeit/styled-jsx#warning-unknown-jsx-prop-on-style-tag

Yes plugin order or if you have other plugins transforming JSX chances are that they are merged and don't work properly.

[2018-01-26 08:18] #390 closed

[2018-01-26 08:22] giuseppeg commented on #383
I think we can use the simple version of it for dynamic styles too, the only constraint is that when there are dynamic values it can only used inside of the `render` method of a component.

[code]

[2018-01-26 08:25] giuseppeg commented on #345
I think that we will go for:

`css` generates scoped styles only
`css.global` generates global styles only
`css.universal` generates global and scoped styles
`css.resolve` generates scoped styles and returns the `styles` and the scoped `className` (https://github.com/zeit/styled-jsx/issues/383#issuecomment-358287330)

@nkzawa @rauchg what do you think?

[2018-01-26 08:37] a-ignatov-parc commented on #383
Sounds good 👍

[2018-01-26 09:43] vanGalilea commented on #390
Yes thanks,

I've manage to transpile everything with next build

[2018-01-27 08:09] giuseppeg commented on #366
I found the bug, for some reason your editor inserts the NULL character `\u0000`

[2018-01-27 08:21] #380 closed

[2018-01-27 08:22] giuseppeg commented on #370
@matt-hernandez can you put together a sample repo (maybe a Next.js app) to reproduce? Or even better submit a pull request with a failing test?

[2018-01-27 10:08] giuseppeg commented on #370
@thysultan I can reproduce the bug. It happens when using `stylis-rule-sheet`

[2018-01-27 11:04] giuseppeg opened #392 "Add plugin to allow only a subset (good parts) of CSS"
Inspired by React Native for Web, it would be cool to introduce an opt-in option to disable some CSS features like media queries, states (hover, focus etc) and enable some not standard ones like [deterministic resolution](https://github.com/necolas/react-native-web/blob/master/website/guides/style.md#how-styles-are-resolved)

This would be a Stylis plugin. With such a plugin we could also implemen

[2018-01-28 09:45] #366 closed

[2018-01-28 09:47] #364 closed

[2018-01-28 09:49] giuseppeg commented on #381
closing this since it Relates to #90

[2018-01-28 09:49] #381 closed

[2018-01-28 09:50] giuseppeg commented on #64
We are going to tackle this in #389

[2018-01-28 13:58] DearVikki commented on #361
@kajic Next.js has injected <style jsx></style> by default so we can use this tag without any import.

[2018-01-28 18:40] vasco3 commented on #380
It used to work fine but now I lost the syntax.. (using Atom latest).

[2018-01-28 21:21] mastrauckas opened #393 "Can't style array"
When I have a const of elements in an array and use it in my render return it doesn't get styled.

[code]
It appears `boxes` constant(the div with text `box 1`) has class `box` where div with text `box 2` has classes `box` and `jsx-2886861022`

This also happens when you move `box 1` to a function and return the array.

Is there a way to make this work?

[2018-01-29 07:33] a-ignatov-parc commented on #393
Elements from `boxes` should be put inside `div` with `style` element. Otherwise, babel won't be able to process it properly.

On the other hand, you can use [`resolveScopedStyles`](https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent) workaround if you can't/want to put them inside.

[2018-01-29 12:30] mastrauckas commented on #393
@a-ignatov-parc :

I tried doing this and it still doesn't work:

[code]

[2018-01-29 12:44] a-ignatov-parc commented on #393
I think you misunderstood my suggestion 🤔

If you change your code to this:

[code]

You'll get `box 1` with `blue` background and `box 2` with `red` background.

[2018-01-29 18:53] corysimmons commented on #371
Point remains that you can't variable css properties.

[2018-01-29 20:37] KingScooty opened #394 "Using styled-jsx to merge traditional CSS with modern JS??"
So i really want to get into using CSS in JS, but i really feel a lot of the time it's an "all or nothing" solution to a problem that mostly goes away if you just write well structured, namespaced CSS. It's great for components like a "button", but gets quite clunky when doing bigger things. Things that would be quite fast to write in vanilla HTML and CSS end up needing a React component and then

[2018-01-30 03:42] mastrauckas commented on #393
@a-ignatov-parc: This will not work because i'm dealing with an array of items The only way I can think of making it work is by creating a second component like this:

[code]

[2018-01-30 08:04] Topthinking opened #395 "Passing variables"
The first CSS is without any style characters, and the second one, you look at the compilation results of these two forms, how do you return the correct form without the style character, just like this?
[code]

[code]

[code]

[code]

You look at the style tag with multiple curly braces.

[code]

[2018-01-30 10:10] a-ignatov-parc commented on #393
Yes, it will help. Or you can use [`resolveScopedStyles`](https://github.com/zeit/styled-jsx#styling-third-parties--child-components-from-the-parent) as I mentioned before 😉

[code]

[2018-01-30 10:12] a-ignatov-parc commented on #393
Also, if you planning to work only with static styles you can move `resolveScopedStyles` from `render`

[code]

[2018-01-30 10:25] a-ignatov-parc commented on #394
Are you sure you really need css-in-js? If you trying to solve the problem of unused styles elimination than I think you should check [`react-universal-component`](https://github.com/faceyspacey/react-universal-component) first. Especially how they handle styles splitting.

In my opinion, css-in-js is useful when you need dynamic styles based on theme or component's props. If you need to encapsula

[2018-01-30 13:24] a-ignatov-parc commented on #393
`resolveScopedStyles` is needed when you want to style elements that can't be placed inside an element (as children) with `<style jsx>` or pass `className` to a component.

This is `styled-jsx/babel` plugin restriction than we need to live with. At least until something like [this](https://github.com/zeit/styled-jsx/issues/383#issuecomment-360714183) will be implemented.

[2018-01-30 17:22] joncursi opened #396 "[2.2.2] Screen flicker on initial page load"
I'm using `styled-jsx` with Next.js and I noticed that when upgrading to `2.2.2`, all of my initial page loads have a flicker. It looks like the CSS rules are being applied after the page paints, so you visually see things snap into place.

This doesn't happen for me on `2.2.1`. Any suggestions on what to do? I don't see any relevant errors in the console, so I'm not sure what has changed to cause

[2018-01-30 18:52] KingScooty commented on #394
Ha! Well this is it. I don't know! 😄  I've never really thought too much about it, but it seems to be all the rage at the moment, so i thought i'd explore what it does, and what it's good at. The problem it solves is quite particular. To me it really makes sense to be able to import _just_ the bits of css you want for a particular component. Similar to how a dependency in JS would work. CSS would

[2018-01-30 22:50] nickdandakis commented on #396
Can confirm that this happens to my setup as well, on `2.2.2` but not on `2.2.1`. Looks like `flush` from `styled-jsx/server` is crapping out.

[2018-01-31 07:56] a-ignatov-parc commented on #396
Guys, do you have nested style tags? Because this issue could be related to https://github.com/zeit/styled-jsx/pull/260

[2018-01-31 17:08] nickdandakis commented on #396
I don't think so. Unless if it's something along the lines of a `render` function calling a separate `renderX` function that contains a `styled-jsx` tag.

Would be helpful to see an error of some kind, if that's the case. I also wasn't aware that nesting `styled-jsx` tags is prohibited.

[2018-01-31 17:20] Matityahul commented on #90
@djskinner, to solve the *specific* error you got, you just need to change the follow:
from:
[code]
to:
[code]
But still it will not work for other reason. I get the follow error from styled-jsx/css:
"Error: styled-jsx/css: if you are getting this error it means that your `css` tagged template literals were not transpiled."

I couldn't resolve it.
Has anyone managed to use styled-jsx with typescri

[2018-02-01 06:16] majelbstoat opened #398 "Warnings that 'jsx' is not a boolean with some usages in render props"
A simple test case for using styled jsx with a theme render prop works quite nicely:

[code]

Assuming `theme` has a `colors.accent` property, this will render as expected, which is cool. However, if I modify the definition of the Title component, such that `<WithTheme>` only wraps the style component:

[code]

It still works, but React gives the warning:

[code]

I would quite like to use this pa

[2018-02-01 09:09] a-ignatov-parc commented on #398
I think your issue with the second example is related to https://github.com/zeit/styled-jsx/issues/364. So until fix will lend in future releases you should use the first approach or create HOC to provide theme

[code]

[2018-02-01 15:24] thysultan commented on #370
@giuseppeg Can you open a issue at stylis with the repro.

[2018-02-01 17:08] sergiodxa commented on #169
With the introduction of Fragments it's not possible to do this.

[code]

[2018-02-01 19:28] giuseppeg commented on #169
@sergiodxa would something like this be enough https://github.com/zeit/styled-jsx/issues/383#issuecomment-358287330 ? In cases like this you could just do:

[code]

[2018-02-01 19:58] sergiodxa commented on #169
@giuseppeg what I mean to say is: with Fragments this issue is not a problem anymore.

[2018-02-01 22:01] giuseppeg commented on #169
oh right, sorry I though I read "not" :) 👍

[2018-02-01 22:07] giuseppeg commented on #338
what @a-ignatov-parc said

[2018-02-01 22:07] #338 closed

[2018-02-01 22:09] giuseppeg commented on #396
@nickdandakis can you prepare a minimal testcase? Maybe a Next.js app that I can clone and try out?

[2018-02-01 22:13] giuseppeg commented on #398
Yeah style tags need to be children of a `JSXElement` to be transpiled. Eg.

[code]

[2018-02-01 22:13] #398 closed

[2018-02-01 22:16] giuseppeg commented on #398
@majelbstoat for the record when you get that warning it means that your styles were not transpiled by styled-jsx https://github.com/zeit/styled-jsx#warning-unknown-jsx-prop-on-style-tag

[2018-02-01 22:18] #392 closed

[2018-02-01 22:42] majelbstoat commented on #398
That's a shame, but I understand. (And I think I understand why it has to be that way. I'm guessing due to the local scoping.) Thanks!

[2018-02-02 03:25] jaydenseric commented on #169
Yes, I used `<Fragment></Fragment>` in the end. Soon this will be even easier with `<></>` syntax.

[2018-02-02 03:25] #169 closed

[2018-02-02 07:08] giuseppeg commented on #395
@Topthinking if you are using external styles like https://github.com/zeit/styled-jsx#keeping-css-in-separate-files or with a loader like https://www.npmjs.com/package/styled-jsx-css-loader then just use a style tag per object

[code]
Other modes are not supported or guaranteed to work.

[2018-02-02 07:08] #395 closed

[2018-02-02 07:31] giuseppeg commented on #394
Hi @KingScooty styled-jsx is string based only and composition as you want it is not possible because of the way how we transpile our styles (it might be possible though in the future with this syntax https://github.com/zeit/styled-jsx/issues/383#issuecomment-358287330).

The cost of external styles right now is double see https://github.com/zeit/styled-jsx/issues/345 We will fix that in v3.

Doin

[2018-02-02 13:09] rmdort opened #400 "Custom mount element"
Hi, We have been using styled-jsx for some of the web app. And now trying to use it for Iframe Widgets with https://github.com/ryanseddon/react-frame-component

The issue is styles are always injected in parent `document`. Is there any way we can provide a custom mount element prop

[code]

[2018-02-03 18:34] nickdandakis commented on #396
@giuseppeg, here ya go:
https://github.com/nickdandakis/styled-jsx-fouc-2-2-2

Unsure if the `postcss` setup is part of this issue, but wanted to replicate my setup as closely as possible. I did however discover that removing `pages/_document.js` also fixes the issue.

[2018-02-03 21:37] giuseppeg commented on #400
Hi @rmdort yes we will provide support for this at some point https://github.com/zeit/styled-jsx/issues/64
Tracking the issue in https://github.com/zeit/styled-jsx/issues/389

[2018-02-03 21:37] #400 closed

[2018-02-04 08:12] giuseppeg commented on #396
@nickdandakis before I spend some time on this I would like to ask you to try to reproduce without postcss, just plain CSS.

[2018-02-04 14:13] KingScooty commented on #394
Hi @giuseppeg! Thanks for the reply! #383 looks interesting! It would certainly add more power to styled-jsx.

I think you're right regarding building a component library as opposed to importing styles. The more i've played with various CSS in JS implementations, the more i've realised what i was doing was very unconventional.

I really like that syntax in your first example. I've not seen that be

[2018-02-04 17:06] giuseppeg commented on #394
@KingScooty not sure if that's the best pattern but I would implement that like this https://codepen.io/giuseppegurgone/pen/bLpaGW

[2018-02-04 19:30] KingScooty commented on #394
@giuseppeg you're a star! Thanks so much for that example! I'd actually been trying out some of @jxnblk's tools this weekend, so it's nice how this fits in with Dan's comments over at [macro-components](https://github.com/jxnblk/macro-components/issues/3)!

[2018-02-05 19:00] nickdandakis commented on #396
@giuseppeg for sure. Removed the `postcss` stuff from my repo. FOUC is still reproduced.

[2018-02-07 04:09] Zimson opened #404 "Do not apply styles when importing a component with a custom webpack"
Good day.

Sorry for my english.
I use styled-jsx in my component library. The components are already stylized, they began to be implemented in an already existing project. It uses webpack and babel.

There is a problem with the use of ready-made components - when you try to stylize the parent component into which the compiled component is imported, the styling of the component - component in the

[2018-02-07 06:54] ahoyahoy commented on #90
How write this for Inferno?

[code]

[2018-02-07 14:25] giuseppeg commented on #404
@Zimson hi! Could you make a simple and minimal testcase that I can clone and try out?

[2018-02-08 02:37] Zimson commented on #404
@giuseppeg, hi.
I hope to arrange the option with a link to the repository.

[style-demo](https://github.com/Zimson/style-demo)

I tried to leave completely the structure of the project, where external components are imported(including the styled-jsx). The process of assembling and working - everything is as it is and made a small demo.

When assembled into a production - everything is perfectly a

[2018-02-08 02:50] rmdort commented on #400
Noted. FYI, for anyone, i have added a fork with support for `react-frame-component`, so that styles can be rendered in an iframe - https://github.com/rmdort/styled-jsx/tree/iframe

[2018-02-08 08:22] a-ignatov-parc commented on #404
@giuseppeg checked example. It fails because multiple rules are passed to `sheet.insertRule(rule, index);` at once:

`rule` value:
[code]

[2018-02-08 08:31] giuseppeg commented on #404
I haven't checked the example yet but my guess is that the external component is transpiled and distributed for dev mode i.e. styled-jsx styles are transpiled without using optimizeForSpeed.

@Zimson would it be possible for you to use the external component library as-is and compile the components in your app?

[2018-02-08 10:44] Zimson commented on #404
@giuseppeg,

Yes, thanks for the direction - the reason is this. The forced inclusion in the dev-mode "optimizeForSpeed" solves part of the problem. Now I am trying to understand why this option does not work in assembling within the component library. Even forced inclusion does not help.

Yes, of course, there is the possibility to import directly, but this is not a little something for which the

[2018-02-08 11:04] giuseppeg commented on #404
@Zimson this https://github.com/zeit/styled-jsx/issues/64 (which should be implemented with https://github.com/zeit/styled-jsx/issues/389) should solve the problem of consuming external components. In the meantime your only options are the one from my previous comment.

[2018-02-08 11:46] Zimson commented on #404
@giuseppeg As I understand, at the moment - these are the only possible solutions. In that case, thanks for the help.

[2018-02-08 14:57] jimthedev commented on #159
Does this mean that if you want to create a library of distributable components bundled with rollup then you can't?

[2018-02-09 05:21] leoalves opened #405 "Issue with compiler"
I am just starting with nextjs and styled-jsx.  Sorry if I am not understanding how it works.

I have this code:

[code]

The first <style> tag gets compiled into:
`<style id="__jsx-1409857949">{html { background-color: white; };}</style>`

The second gets compiled into:
`<style id="__jsx-undefined">html { background-color: white; }</style>`

The second is the correct one, without the brackets.

S

[2018-02-09 06:02] DearVikki opened #406 "list rendered with jsx-undefined"
Hello, I have this code:

[code]
and each list is rendered as
[code]
However, the .hash-container has correct jsx-hashId className.

Does anyone know how to fix it?

Thx!

[2018-02-09 07:28] giuseppeg commented on #405
if you want to define styles outside of the `style` tag you need to use `css`

[code]

[2018-02-09 07:30] #405 closed

[2018-02-09 07:54] giuseppeg commented on #396
@joncursi @nickdandakis unfortunately with Next.js you can't upgrade styled-jsx like that.
Dependencies are pinned in Next.js so the framework won't use the version of styled-jsx that you installed by hand to collect styles on the server.

If you install a different version of styled-jsx its styles registry will be empty when you import and call `flush` in your `_document.js`. That's why the FOUC

[2018-02-09 07:54] #396 closed

[2018-02-09 07:56] giuseppeg commented on #394
Nice! I am going to close this issue but feel free to reply here if you need further help/want to brainstorm.

[2018-02-09 07:56] #394 closed

[2018-02-09 07:56] giuseppeg commented on #371
@corysimmons can you put together a testcase that I can clone and try out?

[2018-02-09 07:58] #319 closed

[2018-02-09 08:04] giuseppeg commented on #363
Looks like a fine approach. With v3 you will be able to do this https://github.com/zeit/styled-jsx/issues/383#issuecomment-358287330 i.e. get the scoped className and styles which should help in case like this

[2018-02-09 08:04] #363 closed

[2018-02-09 08:26] giuseppeg commented on #370
@thysultan https://github.com/thysultan/stylis.js/pull/93

[2018-02-09 12:40] giuseppeg commented on #383
going to fix this in https://github.com/zeit/styled-jsx/issues/345

[2018-02-09 12:40] #383 closed

[2018-02-09 13:46] Echelpoel opened #407 "Duplicate class names"
Looks like styled-jsx is generating duplicate class names. Any ideas why?

![screen shot 2018-02-09 at 14 28 00](https://user-images.githubusercontent.com/7335810/36030560-04f1e660-0da8-11e8-9d71-76c2c8fb0d0f.png)

[2018-02-09 16:07] nickdandakis commented on #396
I see. I'm pretty sure I explicitly added `styled-jsx` to my `package.json` because of my linter complaining.

Thanks for looking into this!

[2018-02-09 18:38] corysimmons commented on #371
Sorry @giuseppeg I would but I'm swamped right now and tbh will probably forget to do it later. I can go ahead and close this and if I bump into it again I'll reopen with a very clear test case.

[2018-02-09 18:38] #371 closed

[2018-02-10 07:30] giuseppeg commented on #407
Can I see the styles? or (better) an example app?

[2018-02-10 13:22] ryall opened #408 "Cannot render styles from self-contained method"
If I try to render JSX in a self-contained method, the JSX is output directly into the DOM instead of being processed.

Works:
[code]

Doesn't work (style is output literally as-is):
[code]

Any reason for this and is there a fix/workaround?

[2018-02-10 13:30] abiduzz420 commented on #345
I am interested to work on this issue as I see this to be a great learning opportunity to learn more about css-in-js, writing babel plugin (babel-macro).
PS: I have very little experience writing babel plugins

[2018-02-10 15:55] giuseppeg commented on #345
@abiduzz420 hi! That's not a problem at all. Probably the scope of this feature is a bit broad, specially for someone who's never written a plugin before. That said if you or anybody else want to give it a shot, I would suggest to watch [Kent's seminar about ASTs](https://twitter.com/kentcdodds/status/962336842484822016), and try to write a super dummy plugin on https://astexplorer.net

This featu

[2018-02-12 09:46] a-ignatov-parc commented on #408
Your last example won't work. `styled-jsx` transpiles styles in build type and there is nothing to style in `renderStyle`.

But there are some options:

1. If your styles are static and you want to define them outside your component's markup then you're good to go with [`css` template tag](https://github.com/zeit/styled-jsx#styles-outside-of-components).

1. If you have dynamic styles then you sho

[2018-02-12 09:50] ryall commented on #408
Thanks a bunch, I'll take a look now

[2018-02-12 12:44] oskari opened #409 "Global SASS variables with styled-jsx"
I've been trying to find a way for this but can't figure it out. I'm using styled-jsx in my next.js -project and I want to use some global sass variables for things like colors  but can't figure out how to define them so that my components can use the variables. I don't want to define the variables again and again in every `<style jsx>` block, but just once. Any ideas? I have `styled-jsx-plugin-sa

[2018-02-12 15:17] a-ignatov-parc commented on #409
I think you can import file with global variables using `@import` rule 🤔

[2018-02-13 07:14] oskari commented on #409
So to use something like variables for colors I would have to import the sass file on every component?

[2018-02-13 07:24] a-ignatov-parc commented on #409
Maybe there is a better way but I haven't found any api to provide variables to parser like you can do with `stylus`:

[code]

[2018-02-14 12:35] oleole90 commented on #298
@jabacchetta, it would be a whole lot cooler if you can give an snippet of your code, before and after solving this issue. Thanks!

[2018-02-14 13:24] #408 closed

[2018-02-14 13:24] giuseppeg commented on #407
@Echelpoel ping

[2018-02-14 14:32] fadiquader opened #410 "render styled jsx after static css file"
I have a custom document, and i have static css file
![image](https://user-images.githubusercontent.com/23264052/36209118-86e0bd46-11a3-11e8-882b-03696fe84635.png)

and i have jsx style like this
![image](https://user-images.githubusercontent.com/23264052/36209411-53d861be-11a4-11e8-950a-50469c517fa7.png)
and  on browser style jsx always above static style, is there any way to put style jsx below

[2018-02-14 17:29] Echelpoel commented on #407
Nothing special about the styles. Will try to reproduce in an example app.
[code]

[2018-02-15 02:19] jabacchetta commented on #298
@oleole90 Check out [this example from the docs](https://github.com/zeit/styled-jsx#keeping-css-in-separate-files).

- `css` needs to be imported

- `css` needs to prepend the template literal that contains your CSS. In other words: `export default css`div { color: green; }``

[2018-02-16 06:40] nkzawa opened #411 "Weird style transformation on multiple selectors + :global() + line break"
When transpiled the following css:

[code]

Generated css is:

[code]

It's no problem when css is like:

[code]

[2018-02-16 07:39] giuseppeg commented on #411
@nkzawa looks like a bug in Stylis. I am able to reproduce on https://stylis.js.org

cc @thysultan

[2018-02-16 12:57] thysultan commented on #411
Works with the following config(required semicolons): `stylis.set({semicolon: true, cascade: false})`. I'll see if i can improve the no-semicolon option to also handle this. Can you open a corresponding issue on the stylis repo.

[2018-02-16 16:52] dizlexik commented on #322
I finally upgraded my styled-jsx and implemented the following to load styles from dependencies:
[code]

[2018-02-17 05:56] nkzawa commented on #411
Thanks, created the issue on stylis: https://github.com/thysultan/stylis.js/issues/97

[2018-02-17 08:32] #370 closed

[2018-02-17 22:00] nkzawa commented on #411
@thysultan thanks for the fix!

@giuseppeg https://github.com/zeit/styled-jsx/pull/413 can we have a release ? We're having the problem on our homepage.

[2018-02-18 08:30] #411 closed

[2018-02-18 09:05] giuseppeg commented on #411
@nkzawa just released `2.2.5`

[2018-02-18 21:07] steida commented on #389
@a-ignatov-parc There is a React polyfill https://github.com/jamiebuilds/create-react-context

[2018-02-19 07:46] a-ignatov-parc commented on #389
Thanks, already saw it. I'm pretty sure that we don't need v2 context to fix async SSR. But it might help with some features on the client side.

Nevertheless, I still can't find enough free time to invest in this issue. Maybe we should break it into two parts:

1. Fix SSR.
1. Add features like attaching partial stylesheets to custom documents.

[2018-02-19 09:24] corysimmons opened #414 "ReactNative support?"
Any plans on making styled-jsx (along with media queries) available on RN?

[2018-02-21 15:22] Kenjirou opened #415 "Passing variable string is parsed even if it shouldn't"
Example:

I need to add animations for SVG
[code]

For example `pathString` at that moment contains "M2,5 C2,8 8,8 8,5" value. So it should be parsed to something like this:
[code]

But we now have something like this (value that is passed to `path()` is without quotes):
[code]

[2018-02-21 20:39] fredsh commented on #205
Hello, not sure this is the right place for this question.
I am using styled jsx with the sass plugin. Works well but I have encountered a small issue trying to use js variable inside the style.
It seems that simple variable use works for simple values, but not when used in more complex case like parameter of a mixin.
Below is a small example of what I am trying to do. The color is applied correct

[2018-02-21 21:02] nil-ni-ck opened #416 "Is there a way to use styled jsx to SVG??"

[2018-02-22 08:22] a-ignatov-parc commented on #416
Sure! You can style `svg` as normal DOM elements 😉

[code]

[2018-02-22 08:27] a-ignatov-parc commented on #415
It works as expected otherwise this:

[code]

will transform to this:

[code]

And it's not valid css.

[2018-02-22 08:28] a-ignatov-parc commented on #415
In your case adding quotes should solve this problem.

[code]

[2018-02-22 08:31] Kenjirou commented on #415
@a-ignatov-parc yeah, I've already done it this way, but for me it looks like a hack. Maybe I'm wrong, but this behavior can confuse.

[2018-02-22 08:42] a-ignatov-parc commented on #415
I understand your point.

There is a related issue with `stylus` where when you need to use a string variable in cases where you can't put strings you need to use special util to transform it.

[code]

[2018-02-22 08:45] a-ignatov-parc commented on #415
There could be some solution to this issue but additional styles processing will increase complexity and degrade performance. I think it not worth it.

[2018-02-22 08:47] Kenjirou commented on #415
@a-ignatov-parc ok, got you. You can close the issue in that case.

[2018-02-22 08:55] a-ignatov-parc commented on #415
Let's wait what thoughts @giuseppeg has on this question. Maybe he has different opinion 😉

[2018-02-22 15:01] giuseppeg commented on #415
Is this valid css or custom syntax? Either ways CSS is a static language therefore interpolations of this kind are not always guaranteed to work.

[2018-02-22 15:04] giuseppeg commented on #414
I don't think it is doable without restricting the language features. Probably styled-components is a better choice if you like to write CSS in strings

[2018-02-22 15:04] #414 closed

[2018-02-22 15:36] Kenjirou commented on #415
@giuseppeg yeah, it is a valid css to animate SVG.

[2018-02-22 23:20] nil-ni-ck commented on #416
Thanks! I was trying to style a component in a library.
the way I do it is using the `global` in styles jsx

[2018-02-22 23:20] #416 closed

[2018-02-24 01:02] ryandeussing opened #417 "use classes from 'utility libraries' like tailwindcss in styled-jsx"
I'd like to do something like what [babel-plugin-tailwind](https://github.com/andrewdelprete/babel-plugin-tailwind) or [tachyons-js](https://github.com/jongold/tachyons-js) makes possible, namely using utility classes from a  library like tailwindcss directly in my components.

I've gone down a rabbit hole trying to understand what is necessary to make that possible with styled-jsx and would appre

[2018-02-24 15:08] ryandeussing commented on #417
I'm closing this b/c I'm pretty sure what https://github.com/joecohens/next-with-tailwindcss enables is exactly what I need.

[2018-02-24 15:08] #417 closed

[2018-02-25 17:12] giuseppeg commented on #410
I am not exactly familiar with the implementation of `Head` and the document in Next.js but chances are that you need to render the server side styles before see https://github.com/zeit/next.js#custom-document

You may want to ask them if you need help.

[2018-02-25 17:12] #410 closed

[2018-02-25 20:34] OmarZeidan commented on #363
Another idea.

While RTL idea meant to change left to right and vice versa, I think you can have your own bi-variables based on the selected site language.

**Example**
`bi-variables.js`
[code]

`styles.js`
[code]
So, the `directions.left` will be **left** if the `siteLang = en` and **right** if the `siteLang = ar`.

And, if you want to have it left on both English and Arabic site, then you don't

[2018-02-26 14:05] smeijer commented on #253
Any workaround other than renaming my `/ui` dir?

[2018-02-27 16:09] a-ignatov-parc opened #418 "renderToNodeStream support"
Despite not being able to render styles in async (see https://github.com/zeit/styled-jsx/issues/389) there is also no proper support for streamable rendering (see [`renderToNodeStream`](https://reactjs.org/docs/react-dom-server.html#rendertonodestream) and [`renderToStaticNodeStream`](https://reactjs.org/docs/react-dom-server.html#rendertostaticnodestream)).

Currently `styled-jsx` accumulates sty

[2018-02-28 14:08] giuseppeg commented on #418
Do you think that it is possible to stream by hand? Like

[code]

[2018-02-28 14:25] a-ignatov-parc commented on #418
Elements in chunks are not broken apart so I think this could work 👍

[2018-02-28 14:27] a-ignatov-parc commented on #418
But only after implementing async-safe rendering because now it could mix styles from different rendering contexts

[2018-02-28 14:28] a-ignatov-parc commented on #418
But if chunks are rendered synchronously this could work even now 🤔

Need to check this moment

[2018-02-28 14:38] a-ignatov-parc commented on #418
Yeap! it's [synchronous right now](https://github.com/facebook/react/blob/45c1ff348e1c7d03567f5bba6cb32cffa9222972/packages/react-dom/src/server/ReactPartialRenderer.js#L534-L569).

[2018-03-01 11:21] smeijer commented on #253
Looks like `angular-meteor` had the same issue a while ago. They seem to have it fixed though.

https://github.com/Urigo/angular-meteor/issues/1770

[2018-03-01 12:56] smeijer commented on #253
I've noticed it only impacts files with `interpolated dynamic props`. Files without dynamic props can still be imported.

[2018-03-04 16:24] giuseppeg commented on #418
@a-ignatov-parc on the server rendering will always be synchronous I guess. Can we close this?

[2018-03-05 07:45] a-ignatov-parc commented on #418
I hope they will make it async eventually. Nevertheless, this topic isn't related to this issue. I guess everyone who is interested in using `styled-jsx` with streamable renders will be able to find this issue and use it as guidance. So, yeah, let's close it 😉

[2018-03-05 07:45] #418 closed

[2018-03-06 09:04] giuseppeg commented on #418
we can add it to the FAQ section in the readme

[2018-03-06 09:15] a-ignatov-parc commented on #389
I overestimated my free time and I'm afraid I won't find it in near 1-2 months. So it's up to you 👍

Sorry about that 😞

[2018-03-06 09:25] giuseppeg commented on #389
no worries.
As we discussed in the other issue streaming SSR should work already.
Now this issue seems to be #64 i.e. we want to be able to pass a custom stylesheet registry.

[2018-03-06 09:25] #389 closed

[2018-03-08 15:10] anongit commented on #166
Had the same problem, the issue was with tsconfig.json:
[code]

[2018-03-08 17:10] fabioespinosa commented on #118
How can you use it with an ejected create-react-app? Please help!

Please answer on StackOverflow, so the answer gets more visibility 👍

https://stackoverflow.com/questions/49156164/add-styled-jsx-to-ejected-create-react-app-config

[2018-03-08 21:20] fabioespinosa commented on #118
Just answered my own question above in the stackoverflow link 👍

[2018-03-09 10:51] giuseppeg commented on #409
I am going to close this since sass doesn't directly relate to styled-jsx. styled-jsx-plugin-sass should support imports now

[2018-03-09 10:51] #409 closed

[2018-03-09 12:39] giuseppeg commented on #415
Re read the original message and there is nothing wrong on our side. See @a-ignatov-parc comments